meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')
meta(name='author', content=cname)
//- todo: 後台可改
meta(name='keyword', content=cname)
meta(name='description', content=cname)
//- todo: 後台可改
title #{cname}