body {
    margin: 0;
    padding: 0;
    font-family: $font-family-sans-serif;
    touch-action: manipulation;
    &.is-open {
        .header {
            display: flex !important;
        }
    }
    &.load {
        overflow: hidden;
        height: 100vh;
    }
}
.main {
    position: relative;
    background-color: $secondary;
    &.short {
        &::after,
        &::before {
            height: 100vh !important;
        }
        &::after {
            transform-origin: bottom;
            transform: scaleY(0);
        }
        &::before {
            transform-origin: top;
            transform: scaleY(0);
        }
        .header {
            &::after {
                transform-origin: left;
                transform: scaleY(0);
            }
        }
        .index_swiper {
            &::after {
                transform-origin: right;
                transform: scaleY(0);
            }
        }
    }
    &.none {
        &::after,
        &::before {
            height: 0 !important;
            width: 0 !important;
            @include breakpoint(md) {
                height: 38.8888vw !important;
                width: 1px !important;
            }
        }
    }
    &::after,
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: $primary;
        top: 0;
        z-index: 2;
        @include breakpoint(md) {
            height: 38.8888vw;
        }
    }
    &::after {
        right: $lace-side;
        @include breakpoint(md) {
            right: $lace-side-mb;
        }
    }
    &::before {
        left: $lace-side;
        @include breakpoint(md) {
            left: $lace-side-mb;
        }
    }
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    display: block;
    color: $black;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
ul {
    padding-left: 0;
    margin: 0;
}
li {
    list-style: none;
}

p {
    margin: 0;
    @include breakpoint(md) {
    }
}

span,
div,
p,
li,
input,
textarea,
figcaption,
th,
td {
    font-weight: 700;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}
input,
select,
textarea {
    font-family: $font-family-sans-serif;
    border-radius: 0;
    margin: 0;
    &:disabled {
        background-color: lighten($color: $primary, $amount: 30);
        opacity: 0.7;
    }
    &::placeholder {
        font-family: $font-family-sans-serif;
    }
    &:focus,
    &:active {
        outline: 0 transparent;
    }
}
textarea {
    @include breakpoint(md) {
    }
}
select,
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: svg-encode(
        '<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.759 8.24146L8.40419 14.5963L2.04936 8.24145" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/><path d="M11.5237 4.64648L8.47336 7.69681L5.42304 4.64648" stroke="#C9AB81" stroke-width="1.5" stroke-linecap="round"/></svg>'
    );
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 14px;
    font-family: $font-family-sans-serif;
    font-weight: 700;
}

.br {
    display: block;
    @include breakpoint(md) {
        display: none;
    }
}
