include ../variables.pug


//- form_label
mixin form_label(item)
    if item.label
        label.form-label(for=item.id)
            span= item.label
                if item.small
                    small &nbsp;最快出貨日
                    small#delivery_date &nbsp;2021-07-31
            if item.required
                span.dot


//- form_select
mixin form_select(item)
    select.form-select(required=item.required name=item.name id=item.name)
        each el in item.options
            if item.optionGroup
                optgroup(label=el.label)
                    each i in el.list
                        option(value=i)= i
            else
                option(value=el)= el

//- form_control
mixin form_control(item)
    input.form-control(type=item.type id=item.id required=item.required placeholder=item.placeholder disabled=item.disabled name=item.name)

//- from_textarea
mixin from_textarea(item)
    textarea.form-control.form-textarea(id=item.id required=item.required,row=item.rows placeholder=item.placeholder name=item.name)

//- form_radio
mixin form_radio(item)
    .form-check-group
        each val,idx in item.options
            .form-check-component
                input.form-check(type=item.type id=item.id+'_'+idx name=item.name required=item.required value=val.value data-deliveryFee=150 data-deliveryMax=1500 data-img="https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG")
                label.form-check-label(for=item.id+'_'+idx)= val.text

//- form_radio2 
mixin form_radio2(item)
    .form-check-group
        each val,idx in item.options
            .form-check-component
                input.form-check(type=item.type.slice(0,-1) id=item.id+'_'+idx name=item.name required=item.required value=val.value)
                label.form-check-label(for=item.id+'_'+idx)= val.title
                if item.other
                    .form-check-other
                        +setup_form(val.input,'row')

//- form_checkbox
mixin form_checkbox(item)
    .form-check-group
        each val,idx in item.options
            .form-check-component
                input.form-check(type=item.type id=item.id+'_'+idx name=item.id required=item.required value=val)
                label.form-check-label.checkbox(for=item.id+'_'+idx)= val

//- from_mutli_seclect_1
mixin from_mutli_seclect_1(item)
    .form-select-group
        each val in item
            .col-31.col
                case val.type
                    when 'select'
                        +form_select(val)
                    default
                        +form_control(val)

//- form_mix01
mixin form_mix01(item)
    .form-group-mix
        +form_label(item[0])
        +form_readonly_textarea(item[0])
    .form-group-mix
        +form_label(item[1])
        +form_control(item[1])
        +from_describe(item[1])

//- form_readonly_textarea
mixin form_readonly_textarea(item)
    textarea.form-control.form-control-plaintext-textarea(type=item.type id=item.id name=item.name value=item.val placeholder=item.val rows="2" cols="10" wrap="soft" readonly)
    .readonly-dot

//- form_readonly
mixin form_readonly(item)
    input.form-control.form-control-plaintext(type=item.type id=item.id value=item.val name=item.name readonly)
    .readonly-dot

//- from_describe
mixin from_describe(item)
    if item.des
        .form-text(id=item.id+'_describe')= item.des


//- switch_from_control
mixin switch_from_control(x)
    case x.type
        when 'select'
            +form_select(x)
        when 'mutli_seclect_1'
            +from_mutli_seclect_1(x.child)
        when 'radio'
            +form_radio(x)
        when 'radio2'
            +form_radio2(x)
        when 'checkbox'
            +form_checkbox(x)
        when 'textarea'
            +from_textarea(x)
        when 'describe'
            |
        when 'mix'
            +form_mix01(x.child)
        when 'form_readonly_textarea'
            +form_readonly_textarea(x)
        default
            +form_control(x)


//- setup_form
mixin setup_form(data,raw)
    -let row = raw == 'row' ? true : false
    each item in data
        case item.layout
            when 11
                .form-group(class=row ? 'row': '')
                    .col-11.col.wrap
                        +form_label(item)
                        +switch_from_control(item)
                        +from_describe(item)
            when 21
                .form-group-multi(class=row ? 'row': '')
                    each val in item.child
                        .col-21.col.wrap
                            +form_label(val)
                            +switch_from_control(val)
                            +from_describe(val)
            when 12
                .form-group(class=row ? 'row': '')
                    .col-12.col.wrap
                        +form_label(item)
                        +switch_from_control(item)
                        +from_describe(item)
            when 'border'
                +block_hr2(item)
            when '21-1in3and11'
                .form-group-multi(class=row ? 'row': '')
                    .col-21.col.wrap
                        .col-12.col.wrap.multi
                            +form_label(item.child[0])
                            +switch_from_control(item.child[0].child[0])
                            +from_describe(item.child[0].child[0])
                        .col-12.col
                            +switch_from_control(item.child[0].child[1])
                            +from_describe(item.child[0].child[1])
                    .col-21.col.wrap
                        +form_label(item.child[1])
                        +switch_from_control(item.child[1])
                        +from_describe(item.child[1])
            when '1in3and12'
                .form-group.col(class=row ? 'row': '')
                    .col-11.col.wrap.multi
                        +form_label(item)
                        +switch_from_control(item.child[0])
                        +from_describe(item.child[0])
                    .col-11.col
                        +switch_from_control(item.child[1])
                        +from_describe(item.child[1])
            when 'mix'
                .form-group-multi(class=row ? 'row': '')
                    each val in item.child
                        .col-21.col.wrap
                            +form_label(val)
                            +switch_from_control(val)
                            +from_describe(val)


//- spin
mixin spin(el,el2,num)
    div.spinButton(class=`${el}_spinButton ${el2}-spinButton`)
        button.less.btn(type="button" value="-1")
            include ../icon/less.pug
        input#spinButton(type="number" name="spinButton" value="1")
        button.plus.btn(type="button" value="1")
            include ../icon/plus.pug


//- product_card
mixin product_card(data)
    if !data.other
        .product-card(class=`${data.el}-card`)
            a.product-card_image(class=`${data.el}-card_image` href="product.html")
                .product-card_image__bg(class=`${data.el}-card_image__bg`)
                    div(style=`background-image: url(${ data.img })`)
            a.product-card_title(class=`${data.el}-card_title` href="product.html")= data.title
            if data.option
                .product-card_dropdown(data-value=data.option[0])
                    .product-card_dropdown__title= data.option[0]
                    .product-card_dropdown__select
                        each val , idx in data.option
                            if idx == 0
                                li(data-index=idx data-price="3000").active= val
                            else 
                                li(data-index=idx data-price="3000")= val
            +spin(`product-card`,`${data.el}_card`,1)
            div(class=`${data.el}-card_link`).product-card_link
                .product-card_link__qty 1
                .product-card_link__left(class=`${data.el}-card_link__left` data-originprice=data.price)= `$ ${data.price}`
                .product-card_link__right(class=`${data.el}-card_link__right`) 
                    span 放進購物車
    else
        .product-card(class=`${data.el}-card`)
            a.product-card_image(class=`${data.el}-card_image` href="product.html")
                .product-card_image__bg(class=`${data.el}-card_image__bg`)
                    div(style=`background-image: url(${ data.img })`)
            a.product-card_title(class=`${data.el}-card_title` href="product.html")= data.title
            div(class=`${data.el}-card_link`).product-card_link.secondary 查看詳細頁面

//- product_card
mixin product_card2(data)
    if !data.other
        .product-card(class=`${data.el}-card`)
            a.product-card_image(class=`${data.el}-card_image` href="product.html")
                .product-card_image__bg(class=`${data.el}-card_image__bg`)
                    //- img(src=data.img)
                    img.lazy(data-src=data.img)
            a.product-card_title(class=`${data.el}-card_title` href="product.html")= data.title
            if data.option
                .product-card_dropdown(data-value=data.option[0])
                    .product-card_dropdown__title= data.option[0]
                    .product-card_dropdown__select
                        each val , idx in data.option
                            if idx == 0
                                li(data-index=idx data-price="3000").active= val
                            else 
                                li(data-index=idx data-price="3000")= val
            +spin(`product-card`,`${data.el}_card`,1)
            div(class=`${data.el}-card_link`).product-card_link
                .product-card_link__qty 1
                .product-card_link__left(class=`${data.el}-card_link__left` data-originprice=data.price)= `$ ${data.price}`
                .product-card_link__right(class=`${data.el}-card_link__right`) 
                    span 放進購物車
    else
        .product-card(class=`${data.el}-card`)
            a.product-card_image(class=`${data.el}-card_image` href="product.html")
                .product-card_image__bg(class=`${data.el}-card_image__bg`)
                    //- img(src=data.img)
                    img.lazy(data-src=data.img)
            a.product-card_title(class=`${data.el}-card_title` href="product.html")= data.title
            div(class=`${data.el}-card_link`).product-card_link.secondary 查看詳細頁面

//- product_card_image
mixin product_card_image(data)
    .product-card(class=`${data.el}-card`)
        .product-card_image.mb-0(class=`${data.el}-card_image`)
            .product-card_image__bg(class=`${data.el}-card_image__bg`)
                div(style=`background-image: url(${ image_path + data.img })`)


//- products_dropdown
mixin products_dropdown(data)
    div(class=`${data[0].el}_dropdown-group`)
        each val in data
            div(class=`${val.el}_dropdown`)
                button(type="button" class=`${val.el}_dropdown__toggle`)
                    p= val.title 
                    p= val.sub
                ul(class=`${val.el}_dropdown__meun`)
                    each item in val.list
                        li
                            a(href="" class=`${val.el}_dropdown__item`)= item


//- product_link
mixin product_link(data)
    a(href="product.html" class=`${data.el}-card_link`).product-card_link
        .product-card_link__left(class=`${data.el}-card_link__left` data-originprice=data.price)= `$ ${data.price}`
        .product-card_link__right(class=`${data.el}-card_link__right`) 
            span 放進購物車


//- news_card
mixin news_card(data)
    a.news-card(class=`${data.el}-card` href="news_article.html")
        .news-card_left(class=`${data.el}-card_left` style=`background-image: url(${ image_path + data.img })`)
        .news-card_right(class=`${data.el}-card_right`)
            .news-card_right__title(class=`${data.el}-card_right__title`)= data.title
            .news-card_right__date(class=`${data.el}-card_right__date`)= data.date


//- news_list
mixin news_list(data)
    .news_container
        .news_content
            each val in data
                +news_card(val)


//- block_read_more
mixin block_read_more(data)
    a(href=data.link class=`${data.el}-block_read-more`).block_read-more
        .line
        .block_read-more__txt(class=`${data.el}-block_read-more__txt`) 查看更多


//- block_hr
mixin block_hr(data)
    .block_hr(class=`${data.el}-block_hr`)
        .block_hr__title(class=`${data.el}-block_hr__title`)= data.title
        +block_read_more(data)


//- block_hr2
mixin block_hr2(data)
    .block_hr2(class=`${data.el}-block_hr2`)
        .block_hr2__title(class=`${data.el}-block_hr2__title`)=data.title  


//- sec_title
mixin sec_title(data)
    if !data.double && !data.full
        .sec_head(class=`${data.el}-sec_head`)
            .sec_title(class=`${data.el}-sec_title`)= data.title
            .sec_subtitle(class=`${data.el}-sec_subtitle`)= data.sub
    else if data.full
        .sec_head.full(class=`${data.el}-sec_head`)
            .sec_title(class=`${data.el}-sec_title`)= data.title
            .sec_subtitle(class=`${data.el}-sec_subtitle`)= data.sub
    else
        .sec_head.row.double(class=`${data.el}-sec_head`)
            each val in data.titles
                a.col(href=val.link)
                    .sec_title(class=`${data.el}-sec_title`)= val.title
                    .sec_subtitle(class=`${data.el}-sec_subtitle`)= val.sub


//- cart_card
mixin cart_card2(data)
    .cart-table(class=`${data.el}-table`)
        .cart-table_th(class=`${data.el}-table_th`)
            li 產品圖
            li 產品名
            li 產品規格
            li 單價
            li 數量
            li 小記
            li(style=`display:${(data.checked ? 'none' : 'flex')};`) 刪除
        .cart-table_tr(class=`${data.el}-table_tr`)
            each val in data.list
                .cart-table_td(class=`${data.el}-table_td`)
                    li
                        .cart-table_image(class=`${data.el}-table_image`)
                            div(style="background-image: url(../assets/" + val.image + ")")
                    li= val.name
                    li
                        span.mb-text 產品規格：
                        span= val.spec
                    li 
                        span $&nbsp;&nbsp;
                        span.origin_price #{val.o_price}
                    li(class=`${data.checked ? 'mt-0':''}`)
                        if data.checked
                            span.mb-text 數量：
                            span x1
                        else 
                            +spin(data.el,'card-table',val.qty)
                    li 
                        span.mb-text 小記：
                        span
                            span $&nbsp;&nbsp;
                            span.item_total #{val.s_price}
                    li(style=`display:${(data.checked ? 'none' : 'flex')};`)
                        .cart-table_cancel(class=`${data.el}-table_cancel`)
                            include ../icon/trash.pug
                        .cart-table_cancel-mb(class=`${data.el}-cart-card_cancel-mb`)
                            include ../icon/time.pug



mixin cart_card(data)
    .cart-card(class=`${data.el}-cart-card`)
        .cart-card_image(class=`${data.el}-cart-card_image`)
            div(style=`background-image: url(${image_path + data.img})`)
        .cart-card_content(class=`${data.el}-cart-card_content`)
            .cart-card_content__frist(class=`${data.el}-cart-card_content__frist`)
                each val ,idx in data.frist
                    if idx == data.frist.length - 1
                        p
                            span NT $
                            span= val 
                            span 元
                    else
                        p= val
            .cart-card_content__second(class=`${data.el}-cart-card_content__second`)
                .cart-card_content__second_item(class=`${data.el}-cart-card_content__second_item`)
                    span= data.second[0].title
                    if data.checked 
                        span= data.second[0].num + '盒'
                    else
                        +spin('cart','card',data.second[0].num)
                .cart-card_content__second_item(class=`${data.el}-cart-card_content__second_item`)
                    span= data.second[1].title
                    span
                        span NT $ 
                        span.origin_price= data.second[1].sub
                        span 元 
                .cart-card_content__second_item(class=`${data.el}-cart-card_content__second_item`)
                    span= data.second[2].title
                    span
                        span NT $ 
                        span.item_total= data.second[2].sub
                        span 元 
            if !data.checked
                .cart-card_cancel(class=`${data.el}-cart-card_cancel`)
                    include ../icon/trash.pug
                .cart-card_cancel-mb(class=`${data.el}-cart-card_cancel-mb`)
                    include ../icon/time.pug


//- btn_blank
mixin btn_blank(data)
    button.btn.btn-blank(type=data.type class=`${data.el}-btn-blank ${data.class}` data-href=data.href)
        span= data.title
        include ../icon/arrow_half.pug


//- info_list
mixin info_list(datas)
    .info_list
        each data in datas
            case data.layout
                when 11
                    .info_list__item.col-11
                        .info_list__item_left
                            span= data.title
                        .info_list__item_right
                            if data.type == 'textarea'
                                textarea(id=data.id required=data.required name=data.id disabled=data.disabled rows="1" cols="20" style="resize: none;" value=data.val)= data.sub
                            else if data.type == 'input'
                                input.pwd(type="text" id=data.id required=data.required name=data.id disabled=data.disabled placeholder=data.sub)
                            else 
                                span(id=data.sid)= data.sub
                            if data.btn
                                button(type="button").btn.btn-primary.info_list__item_btn= `修改${data.btn_text}`
                when 12
                    .info_list-muilt
                        each val in data.list
                            .info_list__item.col-12
                                .info_list__item_left
                                    span= val.title
                                .info_list__item_right
                                    span(id=val.sid)= val.sub
                                    if val.btn
                                        btn.btn.btn-primary.info_list__item_btn= `修改${val.btn_text}`
                when 31
                    .info_list__item.col-31
                        each val in data.list
                            .info_list__item-muilt
                                .info_list__item_left
                                    span= val.title
                                .info_list__item_right
                                    span(id=val.sid)= val.sub
                                    if val.btn
                                        btn.btn.btn-primary.info_list__item_btn= `修改${val.btn_text}`
                when 14
                    .info_list__item.col-13
                        .info_list__item_left
                            span= data.title
                        .info_list__item_right
                            .info_list__item_right__option
                                select(id=data.list[0].id required=data.list[0].required)
                                    each i in data.list[0].options
                                        option(value=i)= i
                            .info_list__item_right__option
                                select(id=data.list[1].id required=data.list[1].required)
                                    each i in data.list[1].options
                                        option(value=i)= i 
                            .info_list__item_right__option
                                input(value=data.list[2].val id=data.list[2].id required=data.list[2].required  type="text" name=data.list[2].name disabled=data.list[2].disabled)
                            .info_list__item_right__option
                                input(value=data.list[3].val id=data.list[3].id required=data.list[3].required  type="text" name=data.list[3].name disabled=data.list[3].disabled)


//- step
mixin step(data)
    ul.block_step(class=`${data.el}-block_step`)
        each val in data.list
            li(class=val.active ? 'active' : '')= val.title 
            span.dot(class=val.active ? 'active' : '') ····


//- social_logo
mixin social_logo(el)
    .social_logo(class=`${el}-social_logo`)
        a(href="#").social_logo__btn.btn
            include ../icon/fb-logo.pug
        a(href="#").social_logo__btn.btn
            include ../icon/email-logo.pug
        a(href="#").social_logo__btn.btn
            include ../icon/line-logo.pug


//- breadcrumb
mixin breadcrumb(data)
    .breadcrumb(class=`${data[0].el}-breadcrumb`)
        each val in data
            a(href=val.link class=`${val.el}-breadcrumb_item`).breadcrumb_item= val.title



