.block {
    &_hr {
        display: flex;
        align-items: center;
        position: relative;
        width: calc(99vw - #{$lace-side});
        padding-top: map-get($map: $spacers, $key: 01);
        @include breakpoint(md) {
            width: calc(100vw - #{$lace-side-mb});
            padding-top: map-get($map: $spacers, $key: xs);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            border-top: 2px dashed $primary;
        }
        &__title {
            $dot: 6px;
            position: relative;
            padding-left: map-get($map: $spacers, $key: md) + $dot;
            font-size: map-get($map: $fonts, $key: h2);
            color: $primary;
            @include breakpoint(md) {
                padding-left: map-get($map: $spacers, $key: xs) + $dot;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: $dot;
                height: $dot;
                transform: translateY(-50%);
                background-color: $primary;
                border-radius: 50%;
            }
        }
    }
    &_hr2 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: map-get($map: $fonts, $key: h4);
        color: $primary;
        width: 100%;
        &::after {
            content: "";
            width: 100%;
            height: 2px;
            border-top: 2px dashed $primary;
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            z-index: 1;
        }
        &__title {
            position: relative;
            padding: 0 21px;
            z-index: 3;
            background-color: $secondary;
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
    }
    &_read-more {
        display: flex;
        align-items: center;
        margin-left: map-get($map: $spacers, $key: md);
        color: $white;
        @include breakpoint(md) {
            display: none;
        }
        &:hover {
            .line::after {
                left: 23px;
            }
        }
        .line {
            position: relative;
            width: 40px;
            height: 1px;
            background-color: $primary;
            margin-right: map-get($map: $spacers, $key: 02);
            &::after {
                content: "";
                left: 6px;
                top: -7px;
                position: absolute;
                width: 12px;
                height: 12px;
                border: 1px solid $white;
                border-radius: 50%;
                transition: all 0.6s ease-in-out;
            }
        }
    }
    &_step {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            position: relative;
            color: rgba($color: $primary, $alpha: 0.2);
            font-size: map-get($map: $fonts, $key: h6);
            &.active {
                color: $primary;
            }
        }
        .dot {
            color: rgba($color: $primary, $alpha: 0.2);
            line-height: 1;
            &.active {
                color: $primary;
            }
            &:last-child {
                display: none;
            }
        }
    }
    &_top {
        padding-top: $header-top;
        @include breakpoint(md) {
            height: $header-height-mb;
        }
    }
}
