.breadcrumb {
    display: flex;
    &_item {
        color: $primary;
        padding-left: 10px;
        &:last-child {
            pointer-events: none;
            &::after {
                content: "";
            }
        }
        &::after {
            content: "/";
            padding-left: 10px;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -140px;
        width: 120px;
        height: 1px;
        background-color: $primary;
        transform: translateY(-50%);
    }
}
