//btn
button,
.btn {
    appearance: auto;
    text-rendering: auto;
    color: $black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: flex;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    background-color: transparent;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    font: 600 map-get($map: $fonts, $key: h6) "Noto Serif TC";
    margin: 0em;
    border: none;
    padding: 7px 65px;
    letter-spacing: 0.6em;
    text-indent: 0.6em;
    @include breakpoint(md) {
        padding: 12px;
        width: 100%;
    }
    &:active,
    &:focus {
        outline: transparent 0px;
    }
    &_hover {
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: inline-block;
        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.btn-blank {
    position: relative;
    padding: 15px 65px 15px 40px;
    border-bottom: 1px solid $primary;
    font-size: map-get($map: $fonts, $key: h4);
    color: $primary;
    @include breakpoint(md) {
        font-size: map-get($map: $fonts, $key: h6);
    }
    svg {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &.sm {
        border-bottom: none;
        font-size: map-get($map: $fonts, $key: h6);
        padding: 0 74px 0 0;
    }
    &.white {
        color: $white;
        svg {
            path {
                stroke: $white;
            }
        }
    }
    @include breakpoint(md) {
        width: auto !important;
    }
}

.btn--hyperion {
    border: 1px solid #000;
    overflow: hidden;
    color: #fff;
    span {
        display: block;
        position: relative;
    }
    & > span {
        overflow: hidden;
        & > span {
            overflow: hidden;
            mix-blend-mode: difference;
        }
    }
    &:hover {
        & > span > span {
            animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
            color: $black;
        }
        &::before {
            transform: scale3d(0, 1, 1);
            transform-origin: 0% 50%;
        }
    }
    &::before {
        content: "";
        background: $black;
        transition: transform 0.3s $transition-func-2;
        transform-origin: 100% 50%;
    }
}

.btn--hyperion--white {
    border: 1px solid #000;
    overflow: hidden;
    color: $black;
    span {
        display: block;
        position: relative;
    }
    & > span {
        overflow: hidden;
        & > span {
            overflow: hidden;
            mix-blend-mode: difference;
        }
    }
    &:hover {
        & > span > span {
            animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
            color: #fff;
        }
        &::before {
            transform-origin: 0% 50%;
        }
    }
    &::before {
        content: "";
        background: #fff;
        transition: transform 0.3s $transition-func-2;
        transform-origin: 100% 50%;
        transform: scale3d(0, 1, 1);
    }
}

//link
.link {
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    @include breakpoint(md) {
        font-size: 4.26667vw;
    }
    &::before,
    &::after {
        position: absolute;
        width: 100%;
        height: 1px;
        background: $black;
        top: 100%;
        left: 0;
        pointer-events: none;
        @include breakpoint(md) {
            top: 97%;
        }
    }
    &--mneme {
        text-transform: uppercase;
        &:hover {
            &::before {
                opacity: 1;
                animation: coverUp 0.3s ease forwards;
            }
            &::after {
                opacity: 0;
            }
        }
        &::before {
            content: "";
            height: 100%;
            top: 0;
            opacity: 0;
        }
        &::after {
            content: "";
            transition: opacity 0.3s;
        }
    }
}

//social_logo
.social_logo {
    position: absolute;
    display: flex;
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: $primary;
        margin: 0 map-get($map: $spacers, $key: 02);
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
