.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    @include breakpoint(md) {
        width: 100%;
    }
    &:hover {
        $asdd: 13px;
        .product-card_image__bg > div {
            transform: scale(1);
        }
        .product-card_image::before {
            right: -$asdd;
            bottom: -$asdd;
            @include breakpoint(md) {
                right: 0;
                bottom: 0;
            }
        }
        .product-card_image::after {
            left: -$asdd;
            top: -$asdd;
            @include breakpoint(md) {
                left: 0;
                top: 0;
            }
        }
    }
    &_image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: $product-image-h;
        margin-bottom: 25px;
        @include breakpoint(md) {
            height: calc(100vw - #{$lace-side-mb * 2});
        }
        &__bg {
            position: relative;
            width: 90%;
            height: 90%;
            z-index: 2;
            overflow: hidden;
            & > div {
                width: 100%;
                height: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                transition: transform 0.6s linear;
            }
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 90%;
            height: 90%;
            border: 3px solid $primary;
            transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
        }
        &::before {
            right: 0;
            bottom: 0;
        }
        &::after {
            left: 0;
            top: 0;
        }
    }
    &_title {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        color: $white;
        font-size: map-get($map: $fonts, $key: h4);
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: h5);
        }
    }
    &_spinButton {
        width: 62% !important;
        margin-bottom: 25px;
        bdi {
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
    }
    &_link {
        min-width: 16.5vw;
        position: relative;
        display: flex;
        align-items: center;
        border: 1px solid $primary;
        height: calc(1.75em + 8px);
        background-color: transparent;
        background-clip: padding-box;
        cursor: pointer;
        @include breakpoint(md) {
            min-width: 60.5vw;
        }
        &.secondary {
            padding: 10px 2vw;
            background-color: $primary;
            color: $white;
            border: none;
            justify-content: center;
        }
        &__left,
        &__right {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: map-get($map: $fonts, $key: h5);
            padding: 0;
            text-align: center;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            color: $white;
            text-indent: 0.2em;
            @include breakpoint(lg) {
                font-size: 10px;
            }
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
        $qwer: 35px;
        &__left {
            display: flex;
            justify-content: center;
            //width: auto;
            padding: 5px 20px;
            //min-width: 150px;
            white-space: nowrap;
        }
        &__right {
            display: flex;
            justify-content: flex-end;
            padding: 5px 0px 5px 20px;
            position: relative;
            & > span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: calc(100% + 11px);
                background-color: $primary;
                text-indent: 0.2em;
            }
            &::after {
                content: "";
                position: absolute;
                left: 20px - $qwer;
                bottom: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 calc(1.75em + 10px) $qwer;
                border-color: transparent transparent $primary transparent;
                @include breakpoint(lg) {
                    border-width: 0 0 calc(2.45em + 10px) $qwer;
                }
                @include breakpoint(md) {
                    left: 20px - $qwer + 1px;
                    border-width: 0 0 calc(1.75em + 10.5px) $qwer;
                }
            }
        }
        &__qty {
            display: none;
            position: absolute;
            width: 20px;
            height: 20px;
            top: -8px;
            right: -8px;
            z-index: 4;
            padding: 3px;
            border-radius: 50%;
            font-size: map-get($map: $fonts, $key: h6);
            color: $white;
            background-color: $thrid;
            line-height: 1;
            letter-spacing: normal;
            text-align: center;
        }
        @include breakpoint(md) {
        }
    }
    &_sub {
        @include breakpoint(md) {
        }
    }
    &_date {
        @include breakpoint(md) {
        }
    }
    &_dropdown {
        position: relative;
        min-width: 62%;
        min-height: calc(1.75em + 4px + 2px);
        margin-bottom: 25px;
        cursor: pointer;
        &__title {
            width: 100%;
            color: $primary;
            background-color: transparent;
            font-weight: 600;
            padding: 6px 30px 6px 17px;
            font-size: map-get($map: $fonts, $key: h5);
            background-image: svg-encode(
                '<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.759 8.24146L8.40419 14.5963L2.04936 8.24145" stroke="' +
                    $primary +
                    '" stroke-width="2" stroke-linecap="round"/><path d="M11.5237 4.64648L8.47336 7.69681L5.42304 4.64648" stroke="' +
                    $primary + '" stroke-width="1.5" stroke-linecap="round"/></svg>'
            );
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 14px;
            border: 1px solid $primary;
        }
        &__select {
            position: absolute;
            top: calc(100% + 15px);
            left: 0;
            width: 100%;
            border: 0px solid #eaeaea;
            border-radius: 0;
            background-color: rgba(34, 34, 34, 0.7);
            overflow: auto;
            height: 0;
            min-height: 0px;
            z-index: 7;
            font-size: map-get($map: $fonts, $key: h5);
            outline: 0 transparent;
            transition: min-height 0.6s ease-in-out, height 0.6s ease-in-out, border 0.6s ease-in-out;
            &.active {
                height: 270%;
                min-height: 270%;
                border: 1px solid #eaeaea;
                transition: all 0.6s ease-in-out;
                @include breakpoint(md) {
                    height: 140px;
                    min-height: 140px;
                }
            }
            li {
                padding: 11px 15px;
                color: $white;
                &.active {
                    color: $primary;
                }
            }
        }
    }
    &.active {
        .product-card_link__qty {
            display: block;
        }
    }
}

.news-card {
    display: flex;
    width: 630px;
    height: 13.6979vw;
    @include breakpoint(md) {
        width: 100%;
        height: 101.3889vw;
        flex-direction: column;
    }
    &_right,
    &_left {
        width: 50%;
        height: 100%;
        @include breakpoint(md) {
            width: 100%;
            height: 50%;
        }
    }
    &_left {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include breakpoint(md) {
            overflow: hidden;
        }
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 13.6979vw 120px;
            border-color: transparent transparent $primary transparent;
            @include breakpoint(md) {
                top: auto;
                bottom: 0;
                border-width: 72px 0 0 calc(100vw - #{$lace-side-mb * 2});
                border-color: transparent transparent transparent $primary;
            }
        }
    }
    &_right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: $primary;
        padding: 1.0416vw 2.0833vw 1.30208vw 1.0416vw;
        @include breakpoint(md) {
            padding: 5.55555vw;
            padding-top: 3vw;
        }
        &__title,
        &__date {
            width: 100%;
            color: $white;
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
        &__title {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
        }
        &__date {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

.cart-card {
    $asdasr: 3.125vw;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    padding: 60px 0;
    border-bottom: 2px dashed $primary;
    &:first-child {
        padding-top: 0;
    }
    &:last-child {
        @include breakpoint(md) {
            margin-bottom: 0;
        }
    }
    @include breakpoint(md) {
        flex-direction: column;
        padding: 0;
        padding-bottom: map-get($map: $spacers, $key: 02);
        margin: map-get($map: $spacers, $key: xs) 0;
    }
    &_image {
        $tyghb: 7.8125vw;
        width: $tyghb;
        height: $tyghb;
        min-width: 120px;
        min-height: 120px;
        border-radius: 50%;
        overflow: hidden;
        //margin-right: $asdasr;
        @include breakpoint(md) {
            width: 100%;
            height: 50vw;
            border-radius: 10px;
            margin-right: 0;
            margin-bottom: map-get($map: $spacers, $key: 01);
        }
        & > div {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &_content {
        color: $white;
        display: flex;
        @include breakpoint(md) {
            flex-direction: column;
        }
        &__frist {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: $asdasr;
            min-width: 150px;
            @include breakpoint(md) {
                margin-right: 0;
                margin-bottom: map-get($map: $spacers, $key: 02);
            }
            p {
                font-size: map-get($map: $fonts, $key: h6);
                &:nth-child(1) {
                    margin-bottom: map-get($map: $spacers, $key: sm);
                    @include breakpoint(md) {
                        position: absolute;
                        left: 5px;
                        top: calc((50vw + #{map-get($map: $spacers, $key: 01)} + 2.5em) * -1);
                        margin-bottom: 0;
                    }
                }
                &:nth-child(2) {
                    font-size: map-get($map: $fonts, $key: h3);
                }
                &:nth-child(3) {
                    margin-top: auto;
                }
                &:last-child {
                    display: none;
                    @include breakpoint(md) {
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0.9em;
                        font-size: map-get($map: $fonts, $key: h5);
                    }
                }
            }
        }
        &__second {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @include breakpoint(md) {
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
            }
            &_item {
                min-width: 200px;
                display: flex;
                flex-direction: column;
                margin-right: $asdasr;
                margin-bottom: map-get($map: $spacers, $key: 01);
                &:last-child {
                    @include breakpoint(xl) {
                        margin-bottom: 0;
                    }
                }
                @include breakpoint(md) {
                    margin-right: 0;
                    &:first-child {
                        min-width: 100%;
                        margin-bottom: map-get($map: $spacers, $key: 01);
                    }
                    &:nth-child(2) {
                        display: none;
                    }
                    &:last-child {
                        min-width: 100%;
                        flex-direction: row;
                        justify-content: flex-end;
                        span {
                            font-size: map-get($map: $fonts, $key: h5) !important;
                            &:first-child {
                                @include breakpoint(md) {
                                    margin-bottom: 0;
                                }
                            }
                        }
                    }
                }
                span {
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h6);
                    }
                    &:first-child {
                        margin-bottom: map-get($map: $spacers, $key: 02);
                    }
                }
            }
        }
    }
    &_cancel {
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        @include breakpoint(md) {
            display: none;
        }
        &-mb {
            display: none;
            @include breakpoint(md) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                position: absolute;
                right: 5px;
                top: -6%;
                cursor: pointer;
            }
        }
    }
}

.cart-table {
    border-bottom: 1px solid $primary !important;
    padding-bottom: map-get($map: $spacers, $key: sm) !important;
    @include breakpoint(md) {
        padding-bottom: 0 !important;
        border-bottom: none !important;
    }
    &_th,
    &_td {
        position: relative;
        li {
            position: relative;
            flex: 2;
            max-width: 8.472222vw;
            @include breakpoint(md) {
                flex: none !important;
                max-width: none !important;
                font-size: map-get($map: $fonts, $key: h6);
                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6) {
                    font-size: map-get($map: $fonts, $key: n);
                }
                &:nth-child(4) {
                    position: absolute;
                    right: 0;
                    top: calc(58.5vw);
                }
                &:nth-child(5),
                &:nth-child(6) {
                    margin-top: map-get($map: $spacers, $key: 03);
                }
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(5) {
                    text-align: left;
                    justify-content: flex-start;
                }
                &:nth-child(6) {
                    text-align: right;
                    justify-content: flex-end;
                }
                &:last-child {
                    position: absolute;
                    top: -10px;
                    right: 0px;
                }
            }

            &:first-child,
            &:nth-child(2) {
                max-width: 11.805vw;
                flex: 3;
            }
            &:last-child {
                flex: 1;
            }
        }
    }
    &_th {
        display: flex;
        padding: 10px 0;
        border-bottom: 1px solid $primary;
        margin-bottom: map-get($map: $spacers, $key: 01);
        @include breakpoint(md) {
            display: none;
        }
        li {
            padding: 0 10px;
            color: $primary;
            text-align: center;
        }
    }
    &_td {
        display: flex;
        padding: 25px 0 15px;
        border-bottom: none !important;
        @include breakpoint(md) {
            flex-direction: column;
            margin-top: map-get($map: $spacers, $key: xs);
            border-bottom: 1px solid $primary !important;
            &:first-child {
                margin-top: 0;
            }
        }
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: $white;
            .mb-text {
                display: none;
                @include breakpoint(md) {
                    display: inline-block;
                }
            }
        }
    }
    &_cancel {
        display: flex;
        align-items: center;
        position: absolute;
        cursor: pointer;
        @include breakpoint(md) {
            display: none;
        }
        &-mb {
            display: none;
            @include breakpoint(md) {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                cursor: pointer;
            }
        }
    }
    &_image {
        $tyghb: 7.8125vw;
        width: $tyghb;
        height: $tyghb;
        min-width: 120px;
        min-height: 120px;
        border-radius: 50%;
        overflow: hidden;
        @include breakpoint(md) {
            width: 100% !important;
            height: 50vw !important;
            border-radius: 10px;
            margin-right: 0;
            margin-bottom: map-get($map: $spacers, $key: 04);
        }
        & > div {
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}
