$label-w: 150px;
$label-w-md: 90px;
$form-input-bottom: 34px;
$form-input-bottom-md: 20px;
$form-input-bottom-sm: 40px;

$font-color-input: darken(
    $color: $primary,
    $amount: 30,
);
$font-color-input-2: lighten(
    $color: $primary,
    $amount: 15,
);

@mixin item_order($gap) {
    margin-right: #{$gap};
    &:last-child {
        margin-right: 0;
    }
}
.form {
    //padding: ;
    @include breakpoint(md) {
        //padding: ;
    }
    &-group {
        position: relative;
        margin-bottom: 60px;
        @include breakpoint(md) {
            margin-bottom: map-get($map: $spacers, $key: xs);
        }
        &.row {
            display: flex;
        }
        &.col {
            display: flex;
            flex-direction: column;
        }
        &-mix {
            position: relative;
            margin-bottom: map-get($map: $spacers, $key: 02);
            @include breakpoint(md) {
            }
        }
        &-multi {
            @extend .form-group;
            display: flex;
            @include breakpoint(md) {
                flex-direction: column;
                margin-bottom: 0;
            }
        }
    }
    &-label {
        position: relative;
        display: flex;
        align-items: center;
        min-width: $label-w;
        margin-bottom: map-get($map: $spacers, $key: 02);
        font-size: map-get($map: $fonts, $key: h4);
        color: $white;
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: h5);
            //font-size: ;
        }
        span:first-child {
            display: inline-block;
            width: 100%;
            text-align: left;
            //padding-left: ;
        }
    }
    &-control {
        width: 100%;
        padding: 6px map-get($map: $spacers, $key: 02);
        font-size: map-get($map: $fonts, $key: n);
        color: $font-color-input;
        background-color: $white;
        background-clip: padding-box;
        border: none;
        transition: box-shadow 0.15s ease-in-out;
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: h5);
        }
        &-plaintext {
            position: relative;
            border: none;
            background-color: transparent;
            color: $white;
            padding-left: map-get($map: $spacers, $key: 01);
            white-space: normal;
            &::placeholder {
                color: $white !important;
            }
            & + .readonly-dot {
                $owqe: 6px;
                position: absolute;
                width: $owqe;
                height: $owqe;
                top: calc(50% + 21px);
                left: 0;
                background-color: $white;
                border-radius: 50%;
                transform: translateY(-50%);
            }
            &:focus {
                outline: 0 transparent;
                box-shadow: transparent;
            }
        }
        &-plaintext-textarea {
            position: relative;
            border: none;
            background-color: transparent;
            color: $white;
            padding-left: map-get($map: $spacers, $key: 01);
            white-space: normal;
            resize: none;
            user-select: text;
            &::placeholder {
                color: $white !important;
            }
            & + .readonly-dot {
                $owqe: 6px;
                position: absolute;
                width: $owqe;
                height: $owqe;
                top: calc(50% - 0.3em);
                left: 0;
                background-color: $white;
                border-radius: 50%;
                transform: translateY(-50%);
                @include breakpoint(md) {
                    top: calc(50% + 0.5em);
                }
            }
            &:focus {
                outline: 0 transparent;
                box-shadow: transparent;
            }
        }
        &::placeholder {
            font-size: map-get($map: $fonts, $key: n);
            color: $font-color-input-2;
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
    }
    &-textarea {
        height: 200px;
        font-size: 1rem;
    }
    &-select {
        @extend .form-control;
        @include breakpoint(md) {
            // padding-top: ;
            // padding-bottom: ;
        }
        &-group {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include breakpoint(md) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }
    &-check {
        &-group {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &-component {
            display: flex;
            flex-direction: column;
            margin-bottom: map-get($map: $spacers, $key: 02);
        }
        &:checked,
        &:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        &:checked + &-label,
        &:not(:checked) + &-label {
            position: relative;
            cursor: pointer;
            display: inline-block;
            color: $white;
            padding-left: 2.0833vw;
            margin-right: 2.0833vw;
            font-size: map-get($map: $fonts, $key: n);
            line-height: 1.4;
            @include breakpoint(md) {
                padding-left: 11.11vw;
                margin-right: 2.0833vw;
                line-height: 1.5;
                font-size: map-get($map: $fonts, $key: h5);
            }
            $checked-w: 20px;
            $checked-w-in: 10px;
            &:not(.checkbox) {
                &::before,
                &::after {
                    border-radius: 100%;
                }
            }
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: $checked-w;
                height: $checked-w;
                border: none;
                background: $white;
            }
            &::after {
                content: "";
                width: $checked-w-in;
                height: $checked-w-in;
                position: absolute;
                background: $primary;
                top: $checked-w-in / 2;
                left: $checked-w-in / 2;
                transition: all 0.2s ease;
            }
        }
        &:not(:checked) + &-label {
            &::after {
                opacity: 0;
                transform: scale(0);
            }
        }
        &:checked + &-label {
            &::before {
                background-color: $white;
            }
            &::after {
                opacity: 1;
                transform: scale(1);
            }
        }
        &:checked + &-label + &-other,
        &:not(:checked) + &-label + &-other {
            width: 80%;
            overflow: hidden;
            display: none;
            @include breakpoint(md) {
                width: 100%;
            }
        }
        &:not(:checked) + &-label + &-other {
        }
        &:checked + &-label + &-other {
            display: block;
            margin: map-get($map: $spacers, $key: 02) 0 -45px;
            @include breakpoint(md) {
                margin: map-get($map: $spacers, $key: 02) 0 -15px;
            }
        }
    }
    &-text {
        font-size: map-get($map: $fonts, $key: n);
        margin-top: map-get($map: $spacers, $key: 04);
        color: $white;
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: h6);
        }
    }
    &-invalid {
        color: $primary;
        font-size: map-get($map: $fonts, $key: h6);
        font-style: normal;
        margin-top: 5px;
        &-invert {
            color: $secondary;
            font-size: map-get($map: $fonts, $key: h6);
            font-style: normal;
            margin-top: 5px;
        }
    }
    .col {
        position: relative;
        display: flex;
        &.wrap {
            flex-direction: column;
        }
        &.multi {
            margin-bottom: map-get($map: $spacers, $key: xs);
            @include breakpoint(md) {
                margin-bottom: 0;
            }
        }
        &-11 {
            width: 50%;
            @include breakpoint(md) {
                width: 100%;
            }
        }
        &-21 {
            width: calc((100% - 40px) / 2);
            @include item_order(map-get($map: $spacers, $key: sm));
            @include breakpoint(md) {
                width: 100% !important;
                margin-bottom: map-get($map: $spacers, $key: xs);
                margin-right: 0;
            }
            &.full {
                width: 100% !important;
            }
        }
        &-12 {
            width: 100%;
            @include breakpoint(md) {
                width: 100%;
            }
        }
        &-31 {
            width: calc((100% - #{map-get($map: $spacers, $key: 01) * 2}) / 3);
            .form-control {
                height: 40px;
                padding: 9px 15px;
            }
            @include breakpoint(md) {
                width: 100%;
                margin-bottom: $form-input-bottom-md;
            }
        }
    }
    $dot: 0px;
    .dot {
        position: absolute;
        // top: ;
        // left: ;
        width: $dot;
        height: $dot;
        border-radius: 50%;
        background-color: #d32929;
        @include breakpoint(md) {
            //left: 0;
        }
    }
    &_submit {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        @include breakpoint(md) {
            //margin-top: ;
        }
        &__btn {
            //width: ;
            //padding: ;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            @include breakpoint(md) {
                //width: ;
                //padding: ;
            }
            span {
                display: block;
                // font-size: ;
                // line-height: ;
                letter-spacing: $letter-spacing-1;
                @include breakpoint(md) {
                    // font-size: ;
                    // line-height: ;
                }
            }
        }
        a {
            display: inline-block;
            color: $white;
            margin-top: map-get($map: $spacers, $key: 01);
            @include breakpoint(md) {
                margin-top: map-get($map: $spacers, $key: 03);
                font-size: map-get($map: $fonts, $key: h6);
            }
        }
    }
}

.input {
    &-group {
        display: flex;
        .btn {
            display: flex;
            align-items: center;
            min-width: 10vw;
            padding: 6px 15px;
            height: 40px;
            @include breakpoint(md) {
                min-width: 37vw;
            }
        }
    }
}
