.goTop {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: -100%;
    transition: right 0.6s cubic-bezier(1, 0.165, 0.82, 0.075);
    cursor: pointer;
    z-index: 9;
    box-shadow: -2px 0px 5px #22222240;
    @include breakpoint(md) {
        width: 45px;
        height: 45px;
        bottom: 30px;
    }
    &.active {
        right: 0px;
        transition: right 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &_monitor {
        position: fixed;
        width: 100px;
        height: 1px;
        top: 0;
        right: 0;
    }
}
