.info_list {
    &-muilt {
        @extend .info_list__item;
        border-bottom: none !important;
        margin-bottom: 0 !important;
        @include breakpoint(md) {
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        color: $white;
        padding-bottom: map-get($map: $spacers, $key: 03);
        margin-bottom: map-get($map: $spacers, $key: sm);
        border-bottom: 1px solid $primary;
        @include breakpoint(md) {
            padding-bottom: map-get($map: $spacers, $key: 04);
            margin-bottom: map-get($map: $spacers, $key: xs);
        }
        &.col-11 {
            width: 100%;
        }
        &.col-12 {
            width: 50%;
            margin-right: map-get($map: $spacers, $key: sm);
            @include breakpoint(md) {
                width: 100%;
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
                @include breakpoint(md) {
                    margin-bottom: 0;
                }
            }
        }
        &.col-13 {
            .none-after::after {
                content: "";
            }
        }
        &.col-31 {
            flex-direction: column;
        }
        &-muilt {
            display: flex;
            margin-bottom: map-get($map: $spacers, $key: 03);
        }
        &_left {
            margin-right: map-get($map: $spacers, $key: md);
            font-size: map-get($map: $fonts, $key: n);
            min-width: 104px;
            @include breakpoint(md) {
                margin-right: map-get($map: $spacers, $key: xs);
                font-size: map-get($map: $fonts, $key: h5);
            }
            &::after {
                content: " ：";
            }
        }
        &_right {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            font-size: map-get($map: $fonts, $key: n);
            word-break: break-all;
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
            &__option {
                position: relative;
                width: 33.333333%;
                text-align: center;
                @include breakpoint(md) {
                    margin-top: map-get($map: $spacers, $key: 03);
                    &::after {
                        content: "" !important;
                    }
                }
                &::after {
                    content: "/";
                    position: absolute;
                    right: -14px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child {
                    width: 100%;
                    margin-top: map-get($map: $spacers, $key: xs);
                    @include breakpoint(md) {
                        width: 100%;
                        margin-top: map-get($map: $spacers, $key: 03);
                        margin-bottom: map-get($map: $spacers, $key: 03);
                    }
                    &::after {
                        content: "";
                    }
                }
                select,
                input {
                    width: 100%;
                    display: flex;
                    text-align-last: center;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    background: transparent;
                    border: none;
                    color: $white;
                    font-size: map-get($map: $fonts, $key: n);
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h5);
                        text-align-last: left;
                        text-align: left;
                    }
                }
                input {
                    height: 25px;
                    @include breakpoint(md) {
                        height: 20px;
                    }
                }
                select {
                    padding-left: 20px;
                    @include breakpoint(md) {
                        padding-left: 0;
                    }
                }
            }
            input {
                width: 94%;
                background-color: transparent;
                color: $white;
                border: none;
                font-size: map-get($map: $fonts, $key: n);
                margin-left: map-get($map: $spacers, $key: 01);
                &.active {
                    border-bottom: 1px solid $primary;
                }
                &.pwd {
                    width: auto;
                    border-bottom: 1px solid $primary;
                    margin-left: 0;
                    @include breakpoint(md) {
                        max-width: 50vw;
                    }
                    &[disabled="disabled"] {
                        border-bottom: none;
                    }
                    &::placeholder {
                        color: $white;
                    }
                }
                @include breakpoint(md) {
                    width: 90%;
                    font-size: map-get($map: $fonts, $key: h5);
                    margin-left: 0;
                }
            }
            textarea {
                background-color: transparent;
                color: $white;
                outline: 0px transparent;
                border: none;
                &.active {
                    border-bottom: 1px solid $primary;
                }
            }
        }
        &_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: map-get($map: $fonts, $key: text_sm);
            padding: 3px 25px;
            margin-left: map-get($map: $spacers, $key: md);
            @include breakpoint(md) {
                width: 100%;
                margin-left: 0;
                margin-top: map-get($map: $spacers, $key: 04);
                margin-bottom: map-get($map: $spacers, $key: 03);
            }
        }
        span,
        a {
            color: $white;
        }
    }
}
