.loading {
    display: flex;
    // display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    &.animate {
        .loading_left {
            animation: loading_page_open 1.8s ease-out forwards 1.5s;
        }
        .loading_right {
            animation: loading_page_open_reverse 1.8s ease-out forwards 1.5s;
        }
        .loading_decoration {
            & > div {
                & > li {
                    &:first-child {
                        animation: loading_decoration_fadeOut 3s ease-in-out forwards;
                    }
                    &:nth-child(2) {
                        animation: loading_decoration_fadeOut 2s ease-in-out forwards;
                    }
                }
            }
        }
        .loading_progress {
            &__logo,
            &__bow {
                animation: loading_progress_fadeOut 1.5s $timing-function-sin-1 forwards 0.5s;
            }
            &__txt {
                path {
                    animation: loading_progress_fadeOut2 1s $timing-function-sin-1 forwards 0.5s;
                }
            }
        }
    }
    &_head {
        // &::after,
        // &::before {
        //     content: "";
        //     position: absolute;
        //     height: 100%;
        //     width: 1px;
        //     background-color: $primary;
        //     top: 0;
        // }
        // &::after {
        //     left: $lace-side;
        //     @include breakpoint(md) {
        //         left: $lace-side-mb;
        //     }
        // }
        // &::before {
        //     right: $lace-side;
        //     @include breakpoint(md) {
        //         right: $lace-side-mb;
        //     }
        // }
    }
    &_left {
        width: 50%;
        height: 100vh;
        background-color: $secondary;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform-origin: left center;
        opacity: 1;
        &::after {
            content: "";
            width: 80px;
            height: 100vh;
            position: absolute;
            right: 0;
            top: 0;
            background-color: darkgoldenrod;
            transform: rotateY(90deg);
        }
    }
    &_right {
        width: 50%;
        height: 100vh;
        background-color: $secondary;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform-origin: right center;
        opacity: 1;
    }
    &_progress {
        position: absolute;
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        transform: translate(-50%, -50%);
        &__svg {
            width: 100%;
            @include breakpoint(md) {
                width: 250%;
            }
        }
        &__logo,
        &__bow {
            stroke-dasharray: 1600;
            stroke-dashoffset: 0;
        }
        &__txt {
            overflow: hidden;
        }
    }
    &_decoration {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
        mix-blend-mode: screen;
        & > div {
            width: 30%;
            height: 100%;
            position: absolute;
            bottom: 0;
            z-index: 4;
            & > li {
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                $time-1: 1.5;
                $time-2: 1.2;
                &:first-child {
                    left: -16.7%;
                    top: calc(-3vw);
                    width: 11.3542vw * $time-1;
                    height: 26.0416vw * $time-1;
                    @include breakpoint(md) {
                        left: -31.7%;
                        top: calc(#{$lace-top-mb} - 15vw);
                        width: 31.3542vw;
                        height: 86.0416vw;
                    }
                }
                &:nth-child(2) {
                    left: 0;
                    bottom: 0;
                    width: 20.8333vw * $time-2;
                    height: 19.4270833vw * $time-2;
                    @include breakpoint(md) {
                        width: 40.8333vw;
                        height: 49.427083vw;
                    }
                }
            }
        }
        &__left {
            left: 0;
        }
        &__right {
            right: 0;
            transform: scaleX(-1);
        }
    }
}

.dg.ac {
    z-index: 12 !important;
}
