.sec {
    &_head {
        $sec_head_w: 117px;
        position: relative;
        width: $sec_head_w;
        font-size: map-get($map: $fonts, $key: h2);
        color: $primary;
        padding-bottom: 40px;
        border-bottom: 1px solid $primary;
        margin-left: $gap_1;
        @include breakpoint(md) {
            width: 100%;
            padding-bottom: 10px;
            margin-left: 0;
        }
        &.row {
            width: auto;
            display: flex;
            padding-bottom: 0;
            border-bottom: none;
        }
        &.full {
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: calc(100vw - #{($lace-side + $gap_1) * 2});
                height: 1px;
                background-color: $primary;
            }
        }
        &.double {
            margin-left: 0;
            @include breakpoint(md) {
                width: 100%;
            }
        }
        .col {
            display: flex;
            flex-direction: column;
            min-width: $sec_head_w;
            margin-right: map-get($map: $spacers, $key: md);
            padding-bottom: 40px;
            border-bottom: 1px solid $primary;
            color: $primary;
            cursor: pointer;
            & > div {
                display: inline-block;
                user-select: none;
                cursor: pointer;
            }
            @include breakpoint(md) {
                min-width: calc(50% - #{map-get($map: $spacers, $key: 01) / 2});
                margin-right: map-get($map: $spacers, $key: 01);
                padding-bottom: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &_title {
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: n);
        }
    }
    &_subtitle {
        font-size: map-get($map: $fonts, $key: n);
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: h6);
        }
    }
}
