.spinButton {
    display: flex;
    width: 100%;
    font-size: map-get($map: $fonts, $key: h4);
    height: calc(1.75em + 4px + 2px);
    padding: 0;
    text-align: center;
    color: $white;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid $primary;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    overflow: hidden;
    .less,
    .plus {
        align-items: center;
        padding: 0 12px;
        @include breakpoint(md) {
            width: auto;
        }
    }
    .plus {
    }
    input {
        max-width: calc(100% - 72px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: inherit;
        outline: 0;
        border: 0;
        background-color: transparent;
        width: auto;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        color: $primary;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        &[type="number"] {
            -moz-appearance: textfield;
        }
    }
}
