.account {
    @extend %full_screen_layout;
    .child {
        &:first-child {
            width: 60%;
            // padding-top: 14.6875vw;
            // padding-bottom: 7.3125vw;
        }
        &:last-child {
            width: 40%;
        }
    }
    &_form {
        &__other {
            display: flex;
            justify-content: flex-end;
            margin-top: 7.29166vw;
            @include breakpoint(md) {
                margin-top: map-get($map: $spacers, $key: md);
                flex-direction: column;
                justify-content: flex-start;
            }
            .btn {
                width: 200px;
                padding: 7px;
                margin-left: map-get($map: $spacers, $key: sm);
                &:first-child {
                    @include breakpoint(md) {
                        margin-top: 0;
                    }
                }
                @include breakpoint(md) {
                    width: 100%;
                    margin-top: map-get($map: $spacers, $key: 01);
                    margin-left: 0;
                    padding: 12px;
                }
            }
        }
    }
    &-sec_head {
        & > a {
            &:first-child {
                pointer-events: none;
            }
            &:last-child {
                opacity: 0.5;
            }
        }
    }
}
