.cart,
.tracker {
    &_form,
    &_content__list {
        width: 80%;
        @include breakpoint(md) {
            width: 100%;
            margin-top: map-get($map: $spacers, $key: 02);
        }
        &-block_hr2 {
            margin-bottom: 60px;
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: xs);
            }
        }
    }
    &_order {
        margin-top: map-get($map: $spacers, $key: lg);
        @include breakpoint(md) {
            margin-top: map-get($map: $spacers, $key: md);
        }
        &__info {
            display: flex;
            flex-wrap: wrap;
            & > div {
                &:nth-child(1) {
                    width: 100%;
                }
                &:nth-child(2) {
                    margin-right: map-get($map: $spacers, $key: sm);
                    @include breakpoint(md) {
                        margin-right: 0;
                    }
                }
                &:nth-child(2),
                &:nth-child(3) {
                    width: calc(50% - #{map-get($map: $spacers, $key: sm) / 2});
                    @include breakpoint(md) {
                        width: 100%;
                    }
                }
            }
        }
        &-table {
            &_th,
            &_td {
                li {
                    max-width: 10vw;
                }
            }
            &_td {
                @include breakpoint(md) {
                    padding-top: 0;
                }
            }
        }
    }
    &_content {
        @extend %block_hr_top;
        display: flex;
        flex-wrap: wrap;
        &__title {
            margin-bottom: map-get($map: $spacers, $key: sm);
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: md);
            }
        }
        &__step {
            width: 20%;
            display: block;
            counter-reset: myCounter;
            @include breakpoint(md) {
                display: none;
            }
            li {
                counter-increment: myCounter;
                margin-bottom: map-get($map: $spacers, $key: xs);
                color: rgba($color: $primary, $alpha: 0.4);
                &::before {
                    content: counter(myCounter) ". ";
                }
                &.active {
                    color: $primary;
                }
            }
            &-mb {
                display: none;
                @include breakpoint(md) {
                    width: 60%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: map-get($map: $spacers, $key: 02);
                }
            }
        }
        &__form {
            margin-top: map-get($map: $spacers, $key: lg);
            border-bottom: 1px solid $primary !important;
            padding-bottom: map-get($map: $spacers, $key: sm) !important;
            @include breakpoint(md) {
                margin-top: map-get($map: $spacers, $key: md);
                padding-bottom: 0 !important;
                border-bottom: none !important;
            }
        }
    }
    &_details {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: map-get($map: $spacers, $key: sm);
        & > li {
            color: $white;
            margin-bottom: map-get($map: $spacers, $key: 02);
            &:last-child {
                border-top: 2px dashed $primary;
                margin-top: map-get($map: $spacers, $key: sm);
                padding-top: map-get($map: $spacers, $key: sm);
                @include breakpoint(md) {
                    margin-top: map-get($map: $spacers, $key: 01);
                    padding-top: map-get($map: $spacers, $key: 01);
                }
                span {
                    font-size: map-get($map: $fonts, $key: h2);
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: n);
                    }
                }
            }
            & > span {
                font-size: map-get($map: $fonts, $key: h4);
                display: inline-block;
                @include breakpoint(md) {
                    font-size: map-get($map: $fonts, $key: h5);
                }
                &:first-child {
                    margin-right: 60px;
                    @include breakpoint(md) {
                        margin-right: 30px;
                    }
                }
                input {
                    padding: 7px 20px;
                    @include breakpoint(md) {
                        width: 180px;
                    }
                    &::placeholder {
                        color: $primary;
                    }
                }
            }
        }
    }
    &_btn {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-top: 100px;
        @include breakpoint(md) {
            flex-direction: column;
            justify-content: flex-start;
            margin-top: map-get($map: $spacers, $key: md);
        }
        .btn {
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: 01);
            }
            &:last-child {
                margin-left: map-get($map: $spacers, $key: sm);
                @include breakpoint(md) {
                    margin-left: 0;
                }
            }
        }
    }
}

.cart {
    @extend %block_mb;
    &_note {
        margin-top: 100px;
        &-block {
            &_hr {
                width: 100%;
                margin-bottom: 60px;
            }
            &_read-more {
                display: none;
            }
        }
        &__section {
            margin-bottom: 100px;
            &_content {
                font-size: map-get($map: $fonts, $key: h4);
                color: $white;
                @include breakpoint(md) {
                    font-size: map-get($map: $fonts, $key: h6);
                }
            }
        }
    }
    &_done {
        @extend %block_hr_top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: map-get($map: $spacers, $key: md);
        height: 40vw;
        border: 1px solid $primary;
        padding: map-get($map: $spacers, $key: xs);
        @include breakpoint(md) {
            padding: map-get($map: $spacers, $key: sm);
            height: auto;
        }
        svg {
            margin-bottom: map-get($map: $spacers, $key: md);
        }
        &__head {
            margin-bottom: map-get($map: $spacers, $key: md);
            & > div {
                color: $white;
                text-align: center;
                text-indent: 0.2em;
            }
        }
        &__btn {
            &_group {
                display: flex;
                @include breakpoint(md) {
                    width: 80%;
                    flex-direction: column;
                }
            }
            @include breakpoint(md) {
                width: 100%;
                margin-bottom: map-get($map: $spacers, $key: xs);
            }
            &:first-child {
                margin-right: map-get($map: $spacers, $key: xs);
                @include breakpoint(md) {
                    margin-right: 0;
                }
            }
        }
    }
}

.tracker {
    &_order {
        &-table {
            li {
                max-width: 6.805vw;
                &:nth-child(2) {
                    max-width: 9.805vw;
                }
            }
            &_td {
                li {
                    @include breakpoint(md) {
                        &:nth-child(4) {
                            top: calc(52vw);
                        }
                    }
                }
            }

            &_image {
                width: 6.8125vw;
                height: 6.8125vw;
                min-width: 80px;
                min-height: 80px;
            }
        }
    }
}
