.contact {
    @extend %block_mb;
    &_body {
        @extend %block_hr_top;
        background-color: $primary;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: calc(#{map-get($map: $spacers, $key: xl)} + 15.989583vw);
        padding-bottom: 12.5vw;

        @include breakpoint(md) {
            width: calc(100% + #{$lace-side-mb * 2});
            margin-left: -$lace-side-mb;
            margin-top: calc(#{map-get($map: $spacers, $key: md)} + 11.111111vw);
            padding-bottom: 41.666666vw;
        }
        &__top {
            width: 80%;
            height: 28.854167vw;
            margin-top: -15.989583vw;
            @include breakpoint(md) {
                width: 90%;
                margin-top: -11.11111vw;
                height: 55.5555vw;
            }
            & > div {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                @include breakpoint(md) {
                }
            }
        }
        &__text {
            margin-top: 120px;
            margin-bottom: 140px;
            @include breakpoint(md) {
                margin-top: map-get($map: $spacers, $key: 01);
                margin-bottom: map-get($map: $spacers, $key: sm);
            }
            p {
                font-size: map-get($map: $fonts, $key: h2);
                color: $white;
                text-align: center;
                @include breakpoint(md) {
                    font-size: map-get($map: $fonts, $key: h5);
                }
            }
        }
        &__map {
            width: 100%;
            height: 26.04166vw;
            @include breakpoint(md) {
                height: 55.5556vw;
            }
        }
        &__info {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 180px 0;
            @include breakpoint(md) {
                width: 100%;
                margin: map-get($map: $spacers, $key: md) 0 33.333333vw;
            }
            &_list {
                width: 100%;
                display: flex;
                justify-content: space-between;
                margin-bottom: map-get($map: $spacers, $key: xl);
                @include breakpoint(md) {
                    align-items: center;
                    flex-direction: column;
                    margin-bottom: 0;
                }
            }
            &_item {
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include breakpoint(md) {
                    width: 60%;
                    margin-bottom: map-get($map: $spacers, $key: lg);
                }
                &__title {
                    width: 100%;
                    text-align: center;
                    padding: map-get($map: $spacers, $key: 02) 0;
                    border-top: 1px solid $white;
                    border-bottom: 1px solid $white;
                    color: $white;
                    font-size: map-get($map: $fonts, $key: h4);
                    margin-bottom: map-get($map: $spacers, $key: md);
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h5);
                        margin-bottom: map-get($map: $spacers, $key: 01);
                    }
                }
                &__sub {
                    width: 100%;
                    color: $white;
                    text-align: center;
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h5);
                    }
                }
            }
            &_social {
                display: flex;
                @include breakpoint(md) {
                }
                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 46px;
                    height: 46px;
                    background-color: $primary;
                    margin-right: map-get($map: $spacers, $key: 01);
                    border-radius: 50%;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    @include breakpoint(md) {
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__form {
            width: 60%;
            @include breakpoint(md) {
                width: 90%;
            }
            &_title {
                font-size: map-get($map: $fonts, $key: h2);
                color: $white;
                text-align: center;
                margin-bottom: map-get($map: $spacers, $key: xl);
                @include breakpoint(md) {
                }
            }
            &_body {
                width: 100%;
                @include breakpoint(md) {
                }
            }
            &_submit {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                @include breakpoint(md) {
                    width: 100%;
                }
                .btn {
                    position: relative;
                    width: 180px;
                    padding: 15px 10px;
                    color: $white;
                    font-size: map-get($map: $fonts, $key: h4);
                    border-bottom: 1px solid $white;
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h5);
                        width: 140px;
                        padding-right: 50px;
                    }
                    svg {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                    path {
                        stroke: $white;
                    }
                }
            }
        }
    }
    .mapboxgl-ctrl.mapboxgl-ctrl-attrib {
        visibility: hidden;
        opacity: 0;
    }
}
