.fqa {
    @extend %block_mb;
    &_head {
        position: relative;
        &-sec_head {
            width: 200px;
            @include breakpoint(md) {
                width: 100%;
            }
        }
    }
    &_content {
        @extend %block_hr_top;
        display: flex;
        flex-wrap: wrap;
        &__title {
            margin-bottom: map-get($map: $spacers, $key: sm);
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: md);
            }
        }
        &__step {
            width: 20%;
            display: block;
            counter-reset: myCounter;
            @include breakpoint(md) {
                display: none;
            }
            li {
                counter-increment: myCounter;
                margin-bottom: map-get($map: $spacers, $key: xs);
                a {
                    color: rgba($color: $primary, $alpha: 0.4);
                    &::before {
                        content: counter(myCounter) ". ";
                    }
                }
                &.active {
                    a {
                        color: $primary;
                    }
                }
            }
            &-mb {
                display: none;
                @include breakpoint(md) {
                    width: 100%;
                    display: block;
                    margin-bottom: map-get($map: $spacers, $key: 02);
                }
            }
        }
        &__list {
            padding-left: map-get($map: $spacers, $key: md);
            width: 80%;
            @include breakpoint(md) {
                width: 100%;
                padding-left: 0;
                margin-top: map-get($map: $spacers, $key: 02);
            }
        }
    }
    &_note {
        &-block {
            &_hr {
                width: 100%;
                margin-bottom: 60px;
                @include breakpoint(md) {
                    margin-bottom: map-get($map: $spacers, $key: xs);
                }
                &__title {
                    @include breakpoint(md) {
                        max-width: 90%;
                    }
                }
            }
            &_read-more {
                display: none;
            }
        }
        &__section {
            margin-bottom: 100px;
            @include breakpoint(md) {
                margin-bottom: 0;
            }
            &_head {
                position: relative;
                &__toggle {
                    display: none;
                    top: map-get($map: $spacers, $key: xs) - 2px;
                    right: -10px;
                    width: auto;
                    position: absolute;
                    &.active {
                        transform: rotate(180deg);
                    }
                    @include breakpoint(md) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            &_content {
                font-size: map-get($map: $fonts, $key: h4);
                color: $white;
                overflow: hidden;
                @include breakpoint(md) {
                    max-height: 0;
                    font-size: map-get($map: $fonts, $key: h6);
                }
                &.active {
                    @include breakpoint(md) {
                        max-height: 100%;
                        margin-bottom: map-get($map: $spacers, $key: xs);
                    }
                }
            }
        }
    }
}
