.index {
    overflow: hidden;
    &_swiper {
        position: relative;
        width: 100%;
        height: 100vh;

        &.animate {
            .index_swiper__slide {
                img {
                    animation: index_swiper_scale 2s forwards $timing-function-sin-1;
                }
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $primary;
            left: 0;
            bottom: 60px;
            z-index: 10;
            @include breakpoint(md) {
                bottom: 40px;
            }
        }
        &__mask {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: lighten($color: $primary, $amount: 10), $alpha: 1);
            z-index: 2;
            mix-blend-mode: soft-light;
            opacity: 0.5;
        }
        &__slide {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            div {
                width: 100%;
                height: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transform: scale(1);
                @include breakpoint(md) {
                }
            }
        }
        &__logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 4;
            &_text {
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                    &:first-child,
                    &:last-child {
                        text-align: center;
                        color: $white;
                        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                    &:first-child {
                        font-size: 70px;
                        text-indent: 0.2em;
                        line-height: 1.2;
                    }
                    &:last-child {
                        font-size: 24px;
                        letter-spacing: 0.15em;
                        text-indent: 0.15em;
                    }
                }
            }
        }
        &__decoration {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: calc(100vw - #{$lace-side * 2});
            height: calc(100vh - #{$lace-top * 2});
            z-index: 4;
            mix-blend-mode: screen;
            @include breakpoint(md) {
                width: calc(100vw - #{$lace-side-mb * 2});
                height: calc(100vh - #{$lace-top-mb * 2});
            }
            // &.animate {
            //     & > div {
            //         & > li {
            //             &:first-child {
            //                 animation: img_grow1 2s forwards $timing-function-quad-1;
            //                 animation-delay: 0.9s;
            //                 background-position: -11.3542vw center;
            //             }
            //             &:nth-child(2) {
            //                 animation: img_grow2 2s forwards $timing-function-quad-1;
            //                 animation-delay: 0.9s;
            //                 background-position: -20.8333vw 19.4270833vw;
            //             }
            //         }
            //     }
            // }
            & > div {
                width: 30%;
                height: 100%;
                position: absolute;
                bottom: 0;
                z-index: 4;
                & > li {
                    position: absolute;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &:first-child {
                        left: -12.7%;
                        top: calc(#{$lace-top} + 2vw);
                        width: 11.3542vw;
                        height: 26.0416vw;
                        background-position: -11.3542vw center;
                        @include breakpoint(md) {
                            left: -31.7%;
                            top: calc(#{$lace-top-mb} + 25vw);
                            width: 31.3542vw;
                            height: 86.0416vw;
                        }
                    }
                    &:nth-child(2) {
                        left: 0;
                        bottom: 0;
                        width: 20.8333vw;
                        height: 19.4270833vw;
                        background-position: -20.8333vw 19.4270833vw;
                        @include breakpoint(md) {
                            width: 40.8333vw;
                            height: 49.427083vw;
                        }
                    }
                }
            }
            &_left {
                left: 0;
            }
            &_right {
                right: 0;
                transform: scaleX(-1);
            }
        }
        &__scroll-down {
            animation: scrollIn $headerScrollShow forwards ease-out;
            animation-delay: $loadPageAnimeFinish;
            transform: translate(-50%, 100%);
            opacity: 0;
            position: absolute;
            z-index: 6;
            left: 50%;
            bottom: 10%;
            filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
            cursor: pointer;
            .icon {
                animation: scroll_down 1.5s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
                stroke: rgba($color: $white, $alpha: 1);
            }
        }
    }
    &_intro {
        @extend %index_block_mb;
        $index_intro_img_h: 28.64583vw;
        $index_intro_img_h-mb: 55.55555vw;
        $index_intro_side1_h: 1200px;
        $index_intro_side1_h-mb: 741px;
        $index_intro_side2_h-mb: 142vw;
        $index_intro_side1_top: 18.64583vw;
        $index_intro_side1_top-mb: 41.944vw;
        $index_intro_side2_offset-mb: 20vw;
        &__section {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 19.21875vw;
            &:nth-child(2n) {
                .index_intro__side2 {
                    left: auto !important;
                    right: 0 !important;
                }
                .index_intro__side1 {
                    right: auto !important;
                    left: 0 !important;
                }
            }
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: xl);
            }
        }
        &__head {
            margin-bottom: map-get($map: $spacers, $key: md);
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: 01);
            }
            p {
                color: $white;
                text-indent: 0.2em;
                text-align: center;
                &:first-child {
                    font-size: 36px;
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h3) !important;
                    }
                }
                &:nth-child(2) {
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h6) !important;
                    }
                }
                &:last-child {
                    margin-top: map-get($map: $spacers, $key: sm);
                    @include breakpoint(md) {
                        margin-top: map-get($map: $spacers, $key: 01);
                        font-size: map-get($map: $fonts, $key: h5) !important;
                    }
                }
            }
        }
        &__content {
            position: relative;
            width: 100%;
            height: calc(
                #{$index_intro_img_h - ($index_intro_img_h - $index_intro_side1_top)} + #{$index_intro_side1_h}
            );
            @include breakpoint(md) {
                height: calc(
                    #{$index_intro_img_h-mb - ($index_intro_img_h-mb - $index_intro_side1_top-mb) -
                        $index_intro_side2_offset-mb + $index_intro_side2_h-mb} + #{$index_intro_side1_h-mb}
                );
            }
        }
        &__top {
            position: relative;
            width: calc(100% - (#{$gap_1} * 2));
            height: $index_intro_img_h;
            margin: 0 auto;
            overflow: hidden;
            @include breakpoint(md) {
                width: 100%;
                height: $index_intro_img_h-mb;
            }
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            & > div {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
        &__breadcrumb {
            position: absolute;
            right: 10px;
            bottom: 20px;
            transform: rotate(90deg);
            font-size: map-get($map: $spacers, $key: h5);
            @include breakpoint(md) {
                font-size: map-get($map: $spacers, $key: h6);
            }
        }
        &__side1 {
            width: 55%;
            position: absolute;
            right: 0;
            top: $index_intro_side1_top;
            padding: 4.166vw 10.4166vw 7.5vw 5.20833vw;
            background-color: $primary;
            box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.15);
            max-height: $index_intro_side1_h;
            @include breakpoint(md) {
                width: 84.375%;
                min-height: $index_intro_side1_h-mb;
                padding: 25px 30px 40px;
                top: $index_intro_side1_top-mb;
            }
            p,
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $white;
            }
            &_sec {
                margin-bottom: $gap_1;
                color: $white;
                @include breakpoint(md) {
                    margin-bottom: map-get($map: $spacers, $key: xs);
                }
                &__title {
                    font-size: map-get($map: $fonts, $key: h2);
                    margin-bottom: map-get($map: $spacers, $key: md);
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: n);
                        margin-bottom: map-get($map: $spacers, $key: 02);
                    }
                }
                &__sub {
                    font-size: map-get($map: $fonts, $key: h4);
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: h6);
                    }
                }
            }
            &-btn-blank {
                margin-top: 17.1875vw;
                margin-left: auto;
                @include breakpoint(md) {
                    margin-top: 60px;
                }
            }
        }
        &__side2 {
            position: absolute;
            width: 45%;
            height: 50.46875vw;
            left: 0;
            top: calc(#{$index_intro_img_h} + #{$gap_1});
            box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.15);
            overflow: hidden;
            @include breakpoint(md) {
                width: 100%;
                top: calc(
                    #{$index_intro_img_h-mb - ($index_intro_img_h-mb - $index_intro_side1_top-mb) -
                        $index_intro_side2_offset-mb} + #{$index_intro_side1_h-mb}
                );
                height: $index_intro_side2_h-mb;
            }
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            & > div {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
    &_products {
        @extend %index_block_mb;
        &__swiper {
            @extend %block_hr_top;

            &_container {
                @include breakpoint(md) {
                    overflow: visible;
                }
            }
            &-card {
                width: 100%;
                &_image {
                    position: relative;
                    height: $product-image-h;
                    overflow: hidden;
                }
            }
            &_slide {
                padding: map-get($map: $spacers, $key: 02);
                max-width: 33.333333%;
                min-height: 640px;
                padding-bottom: 0;
                @include breakpoint(md) {
                    max-width: 100%;
                    min-height: auto;
                }
                &:last-child {
                    @include breakpoint(md) {
                        margin-bottom: 0 !important;
                    }
                }
            }
            &_navigation {
                display: flex;
                justify-content: space-between;
                $index_product_swiper_navigation_w: 38px;
                position: absolute;
                left: calc(#{-$index_product_swiper_navigation_w} - #{$gap_1 / 2});
                top: 50%;
                transform: translateY(-50%);
                width: calc(100% + (#{$index_product_swiper_navigation_w} * 2) + #{$gap_1});
                @include breakpoint(md) {
                    display: none;
                }
            }
            &_next,
            &_prev {
                cursor: pointer;
            }
        }
    }
    &_news {
        @extend %index_block_mb;
        margin-top: 120px;
        @include breakpoint(md) {
            margin-top: 100px;
        }
    }
}
