//20200914 志文新增
// .indexAni{
//     // overflow: hidden;
//     animation: headerIn $headerScrollShow forwards ease-out;
//     animation-delay: $loadPageAnimeFinish;
//     transform: translate(0, -100%);
// }

.indexLoadingPage {
    position: relative;
    .load_page_background {
        // animation: loadingPageMoveOut 3s forwards ease-out;
        // animation-delay: 9s;
        overflow: hidden;
        z-index: 5;
        width: 100%;
        height: 100vh;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/loadingPage.png");
        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
        .load_page {
            &_image {
                .pic {
                    &_logo {
                        opacity: 0;
                        animation: loadingPageLogo $loadPageAnimeLogo forwards ease-out;
                        animation-delay: $loadPageAnimeFood;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-image: url("../assets/loadingPage2.png");
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        .pic_container {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -100%);
                            width: 20%;
                            height: 20%;
                            text-align: center;
                            @include breakpoint(xl) {
                                top: 56%;
                            }
                            @include breakpoint(md) {
                                top: 60%;
                                width: 25%;
                                height: 25%;
                            }
                            @include breakpoint(sm) {
                                top: 61%;
                                width: 34%;
                                height: 34%;
                            }
                            img {
                                object-position: bottom;
                            }
                        }
                    }
                    &_text {
                        font-size: 32px;
                        @include breakpoint(xl) {
                            font-size: 28px;
                            line-height: 56px;
                        }
                        @include breakpoint(lg) {
                            font-size: 22px;
                            line-height: 44px;
                        }
                        @include breakpoint(sm) {
                            font-size: 18px;
                            line-height: 36px;
                        }
                        .pic_container {
                            position: absolute;
                            top: 52%;
                            left: 50%;
                            transform: translate(-50%, 0%);
                            width: 60%;
                            height: 20%;
                            text-align: center;
                            overflow: hidden;
                            @include breakpoint(xl) {
                                top: 58%;
                                width: 100%;
                            }
                            @include breakpoint(md) {
                                top: 62%;
                            }
                            @include breakpoint(sm) {
                                top: 63%;
                            }
                            .textMask {
                                &_first {
                                    position: relative;
                                    color: transparent;
                                    margin: 0;
                                    padding: 0;
                                    &::after {
                                        position: absolute;
                                        content: "辦手豐饌品味，讓您的心意體面到位";
                                        color: transparent;
                                        width: 100%;
                                        top: 0;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                                        animation: loadingPageText $loadPageAnimeText forwards linear;
                                        animation-delay: $loadPageAnimeDelay01;
                                        background-color: #e2d6b8;
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                    }
                                }
                                &_second {
                                    position: relative;
                                    color: transparent;
                                    margin: 0;
                                    padding: 0;
                                    &::after {
                                        position: absolute;
                                        content: "立即選購，獲得真摯的絕對美味";
                                        color: transparent;
                                        width: 100%;
                                        top: 0;
                                        left: 50%;
                                        transform: translateX(-50%);
                                        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
                                        animation: loadingPageText $loadPageAnimeText forwards linear;
                                        animation-delay: $loadPageAnimeDelay02;
                                        background-color: #e2d6b8;
                                        background-clip: text;
                                        -webkit-background-clip: text;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &_food {
                .pic {
                    &_up {
                        position: absolute;
                        width: 100%;
                        height: 33%;
                        top: 0;
                        .pic_container {
                            position: absolute;
                            left: 55%;
                            transform: translate(-50%, -11%);
                            width: 33%;
                            height: 100%;
                            @include breakpoint(xl) {
                                width: 42%;
                                bottom: -10%;
                            }
                            img {
                                @include loadingPageAnime;
                                transform: translate(0, -100%);
                                object-position: top;
                            }
                        }
                    }
                    &_down {
                        position: absolute;
                        width: 100%;
                        height: 60%;
                        bottom: 0;
                        .pic_container {
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, 50%);
                            width: 60%;
                            height: 100%;
                            @include breakpoint(xl) {
                                width: 70%;
                                bottom: -5%;
                            }
                            @include breakpoint(md) {
                                width: 70%;
                                bottom: -20%;
                            }
                            img {
                                @include loadingPageAnime;
                                transform: translate(0, 100%);
                                object-position: top;
                            }
                        }
                    }
                    &_left {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        left: 0;
                        @include breakpoint(xl) {
                            width: 60%;
                        }
                        .pic_container {
                            position: absolute;
                            top: 60%;
                            left: -3%;
                            transform: translate(-25%, -50%);
                            width: 100%;
                            height: 100%;
                            @include breakpoint(xl) {
                                top: 50%;
                                left: -8%;
                            }
                            @include breakpoint(md) {
                                top: 45%;
                                left: -8%;
                            }
                            @include breakpoint(sm) {
                                top: 40%;
                            }
                            img {
                                @include loadingPageAnime;
                                transform: translate(-100%, 0);
                                object-position: left;
                            }
                        }
                    }
                    &_right {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        right: 0;
                        @include breakpoint(xl) {
                            width: 60%;
                        }
                        .pic_container {
                            position: absolute;
                            top: 35%;
                            transform: translate(30%, -50%);
                            width: 100%;
                            height: 80%;
                            @include breakpoint(xl) {
                                top: 40%;
                                left: 10%;
                            }
                            @include breakpoint(sm) {
                                top: 35%;
                            }
                            img {
                                @include loadingPageAnime;
                                transform: translate(100%, 0);
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
