.login {
    @extend %full_screen_layout;
    .child {
        &:first-child {
            width: 40%;
        }
        &:last-child {
            width: 60%;
        }
    }
    &_form {
        &__other {
            display: flex;
            justify-content: space-between;
            margin-top: 60px;

            .btn {
                width: 46%;
                padding: 7px;
                letter-spacing: normal;
            }
        }
    }
    &-sec_head {
        & > a {
            &:first-child {
                pointer-events: none;
            }
            &:last-child {
                opacity: 0.5;
            }
        }
    }
    &_shopping {
        position: absolute;
        background-color: rgba($color: $secondary, $alpha: 0.4);
        width: 80% !important;
        left: 50%;
        bottom: 75px;
        height: auto !important;
        transform: translateX(-50%);
        padding: map-get($map: $spacers, $key: 01) map-get($map: $spacers, $key: xs);
        &__title {
            color: $white;
            font-size: map-get($map: $fonts, $key: h3);
            margin-bottom: map-get($map: $spacers, $key: 02);
        }
        &__sub {
            color: $white;
            font-size: map-get($map: $fonts, $key: h6);
            margin-bottom: map-get($map: $spacers, $key: 02);
        }
        &-mb {
            display: none;
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: md);
                display: block;
            }
            &__title {
                color: $white;
                font-size: map-get($map: $fonts, $key: h3);
                margin-bottom: map-get($map: $spacers, $key: 02);
            }
            &__sub {
                color: $white;
                font-size: map-get($map: $fonts, $key: h6);
                margin-bottom: map-get($map: $spacers, $key: 02);
            }
        }
    }
}

.signup {
    @extend %full_screen_layout;
    flex-direction: row-reverse;
    .child {
        width: 50%;
    }
    &-sec_head {
        & > a {
            &:last-child {
                pointer-events: none;
            }
            &:first-child {
                opacity: 0.5;
            }
        }
    }
    &_form {
        &__submit {
            margin-top: 150px;
            @include breakpoint(md) {
                margin-top: 60px;
            }
        }
    }
    &_right {
        &__btn {
            left: auto !important;
            right: -50px;
        }
    }
    &_backToprev {
        right: auto !important;
        left: 32px;
        .header_btn {
            &.active {
                left: 90vw !important;
            }
        }
    }
}

.pwd-reset {
    @extend %full_screen_layout;
    .child {
        &:first-child {
            width: 40%;
        }
        &:last-child {
            width: 60%;
        }
    }
    &-sec_head {
        & > a {
            pointer-events: none;
        }
    }
    input {
        &:read-only {
            background-color: lighten($color: $primary, $amount: 30);
            opacity: 0.7;
        }
    }
}
