.news {
    $news_top_offset: $header-top;
    @extend %block_mb;
    &-sec_head {
    }
    &_head {
        position: relative;
        &-breadcrumb {
            position: absolute;
            top: 0;
            right: $gap_1;
            @include breakpoint(md) {
                display: none;
            }
            &_item {
                &:nth-child(2) {
                    max-width: 27.777vw;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    &_container {
        @extend %block_hr_top;
        display: flex;
        justify-content: center;
        padding-bottom: map-get($map: $spacers, $key: md);
        margin-top: $news_top_offset + map-get($map: $spacers, $key: lg) !important;
        border: 3px solid $primary;
        @include breakpoint(md) {
            border: none;
            margin-top: map-get($map: $spacers, $key: sm) !important;
            padding-bottom: 0;
        }
    }
    &_content {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin-top: -$news_top_offset;
        @include breakpoint(md) {
            width: 100%;
            margin-top: 0;
        }
    }
    &-card {
        width: calc((100% - #{map-get($map: $spacers, $key: md)}) / 2);
        margin-right: map-get($map: $spacers, $key: md);
        margin-bottom: map-get($map: $spacers, $key: md);
        @include breakpoint(md) {
            width: 100%;
            margin-right: 0;
            margin-bottom: map-get($map: $spacers, $key: xs) !important;
        }
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:nth-last-child(1),
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
        &:nth-last-child(1) {
            @include breakpoint(md) {
                margin-bottom: 0 !important;
            }
        }
    }
}

.news_article {
    @extend %block_mb;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %block_hr_top;
        @include breakpoint(md) {
            width: 100vw;
            margin-left: -$lace-side-mb;
        }
    }
    &__head {
        width: 67%;
        @include breakpoint(md) {
            width: calc(100% - #{$lace-side-mb * 2});
            margin-bottom: calc(#{map-get($map: $spacers, $key: md)} + 100px);
        }
    }
    &__title {
        font-size: 30px;
        margin-bottom: map-get($map: $spacers, $key: 01);
        color: $white;
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: n);
        }
    }
    &__date {
        color: $white;
        font-size: map-get($map: $fonts, $key: h4);
        @include breakpoint(md) {
            font-size: map-get($map: $fonts, $key: h6);
            text-align: right;
        }
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 22.5vw;
        padding: 0 map-get($map: $spacers, $key: xl) 280px;
        background-color: $primary;
        @include breakpoint(md) {
            width: 100%;
            margin-top: 0;
            padding: 0;
            padding-bottom: 47.22222vw;
        }
    }
    &__content {
        width: 80%;
        @include breakpoint(md) {
            width: calc(100% - #{$lace-side-mb * 2});
        }
        &_image {
            position: relative;
            width: 100%;
            margin-top: -15.989583vw;
            @include breakpoint(md) {
                margin-top: 0;
                margin-top: -100px;
            }
            img {
                width: 100%;
                height: auto;
            }
        }
        &_text {
            padding: 3.125vw 4.166vw;
            background-color: $white;
            @include breakpoint(md) {
                padding: 30px 20px;
                font-size: map-get($map: $fonts, $key: h5);
            }
            a {
                word-break: break-all;
            }
        }
    }
    &-social {
        &_black {
            position: absolute;
            left: 50%;
            bottom: 5.9375vw;
            transform: translateX(-50%);
            @include breakpoint(md) {
                bottom: 18vw;
            }
            &__title {
                width: 100%;
                color: $white;
                text-align: center;
                text-indent: 0.2em;
                margin-bottom: map-get($map: $spacers, $key: 02);
            }
        }
        &_logo {
            position: relative;
        }
    }
    &__back {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 300px;
        height: 84px;
        left: 50%;
        bottom: -42px;
        transform: translateX(-50%);
        color: $primary !important;
        font-size: map-get($map: $fonts, $key: h4) !important;
        @include breakpoint(md) {
            height: 60px;
            bottom: -30px;
        }
    }
    &-tag {
        display: inline-block;
        color: $thrid;
    }
    &-link {
        color: $secondary;
        &:hover {
            text-decoration: underline;
        }
    }
}
