.order {
    @extend %full_screen_layout;
    .child {
        &:first-child {
            width: 60%;
            // padding-top: 20%;
            // padding-bottom: 7vw;
        }
        &:last-child {
            width: 40%;
        }
    }
    &_detail {
        &-sec_head {
            & > a {
                &:first-child {
                    opacity: 0.5;
                }
            }
        }
    }
    &_table {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__head {
            width: 100%;
            display: flex;
            border-bottom: 1px solid $primary;
            @include breakpoint(md) {
                display: none;
            }
            &_item {
                width: 16.6667%;
                padding: map-get($map: $spacers, $key: 01) 10px;
                text-align: center;
                color: $primary;
            }
        }
        &__list {
            width: 100%;
        }
        &__item {
            position: relative;
            width: 100%;
            display: flex;
            @include breakpoint(md) {
                flex-direction: column;
                padding-bottom: map-get($map: $spacers, $key: 04);
                margin-top: map-get($map: $spacers, $key: 01);
                border-bottom: 2px dashed $primary;
                &:first-child {
                    margin-top: 0;
                }
            }
            div,
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 16.6667%;
                color: $white;
                padding: map-get($map: $spacers, $key: 01) 5px;
                font-size: map-get($map: $fonts, $key: h5);
                text-align: center;
                word-break: break-all;
                span {
                    &:first-child {
                        display: none;
                        @include breakpoint(md) {
                            display: inline-block;
                            &::after {
                                content: "：";
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    @include breakpoint(md) {
                        order: -1;
                        span {
                            font-size: map-get($map: $fonts, $key: n);
                        }
                    }
                }
                @include breakpoint(md) {
                    justify-content: flex-start;
                    padding: 0;
                    padding-bottom: map-get($map: $spacers, $key: 02);
                }
            }
            a {
                @include breakpoint(md) {
                    position: absolute;
                    right: -1px;
                    top: 8px;
                    height: 100%;
                    align-items: flex-start;
                    min-width: 21px;
                }
            }
            .icon {
                fill: $white;
            }
        }
        &__pagination {
            position: relative;
            display: flex;
            align-items: center;
            margin-top: 7vw;
            &_next,
            &_prev {
                display: flex;
                align-items: center;
                margin: map-get($map: $spacers, $key: 03);
                &.none {
                    opacity: 0.5;
                    pointer-events: none;
                }
            }
            &_list {
                a {
                    display: inline-block;
                    margin: 0 map-get($map: $spacers, $key: 01);
                    color: rgba($color: $white, $alpha: 0.3);
                    cursor: pointer;
                    &.active {
                        color: $white;
                        font-size: map-get($map: $fonts, $key: h4);
                    }
                }
            }
            svg {
                width: 11px;
            }
        }
    }
    .tracker {
        width: 100%;
        &_content {
            &__list {
                margin-top: 0;
                width: 100%;
            }
        }
        &-cart-card {
            &_cancel {
                display: none;
                &-mb {
                    display: none;
                }
            }
            &_content {
                &__second {
                    &_item {
                        min-width: 180px;
                        margin-right: 0.125vw;
                    }
                }
            }
        }
    }
    &-sec_head {
        & > a {
            &:last-child {
                pointer-events: none;
            }
            &:first-child {
                opacity: 0.5;
            }
        }
    }
}
