.products {
    @extend %block_mb;
    &_head {
        position: relative;
        display: flex;
        z-index: 9;
        &-breadcrumb {
            top: 0;
            right: $lace-side;
            position: absolute;
            @include breakpoint(md) {
                display: none;
            }
        }
    }
    &_dropdown {
        position: relative;
        margin-right: map-get($map: $spacers, $key: md);
        // &:hover {
        //     .products_dropdown__meun {
        //         display: flex;
        //     }
        // }
        &:nth-child(1) {
            ul {
                display: none;
            }
        }
        &-group {
            padding-top: 36px;
            display: flex;
            margin-left: $gap_1;
            @include breakpoint(md) {
                display: none;
            }
        }
        &__toggle {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0;
            p {
                max-width: 120px;
                color: $primary;
                text-align: left;
                text-indent: 0.2em;
                &:first-child {
                    font-size: map-get($map: $fonts, $key: h4);
                    margin-bottom: map-get($map: $spacers, $key: 04);
                }
                &:last-child {
                    font-size: 11px;
                }
            }
        }
        &__meun {
            display: none;
            flex-wrap: wrap;
            width: 300px;
            top: 105%;
            left: 0;
            position: absolute;
            padding: map-get($map: $spacers, $key: 03) map-get($map: $spacers, $key: 04);
            background-color: rgba($color: $black, $alpha: 0.7);
            &.active {
                display: flex !important;
            }
            li {
                width: 50%;
                padding-right: map-get($map: $spacers, $key: 01);
                margin-bottom: map-get($map: $spacers, $key: 03);
                &:nth-child(2n) {
                    padding-right: 0;
                }
            }
        }
        &__item {
            width: 100%;
            color: $white;
            padding-left: map-get($map: $spacers, $key: 04);
            border-bottom: 2px dashed $primary;
        }
        &-mb {
            position: relative;
            display: none;
            width: 100%;
            margin-top: map-get($map: $spacers, $key: xs);
            @include breakpoint(md) {
                display: block;
            }
            &_title {
                width: 100%;
                color: $white;
                background-color: rgba($color: $primary, $alpha: 0.6);
                font-weight: 600;
                padding: 10px 21px;
                font-size: map-get($map: $fonts, $key: h5);
                background-image: svg-encode(
                    '<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.759 8.24146L8.40419 14.5963L2.04936 8.24145" stroke="#fff" stroke-width="2" stroke-linecap="round"/><path d="M11.5237 4.64648L8.47336 7.69681L5.42304 4.64648" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/></svg>'
                );
                background-repeat: no-repeat;
                background-position: right 0.75rem center;
                background-size: 14px;
            }
            &_select {
                display: none;
                position: absolute;
                top: calc(100% + 2px);
                left: 0;
                width: 100%;
                border: none;
                border-radius: 0;
                font-size: 4.8vw;
                border: 1px solid #eaeaea;
                background-color: rgba($color: $black, $alpha: 0.7);
                overflow: auto;
                max-height: 0;
                z-index: 7;
                &.active {
                    display: block !important;
                }
                li {
                    padding: 2.93333vw 4vw;
                    &.active {
                        a {
                            color: $primary;
                        }
                    }
                    a {
                        color: $white;
                    }
                }
                &__group {
                    & > li {
                        color: $primary;
                    }
                    & > ul > li {
                        padding-left: 9.20833vw;
                    }
                }
            }
        }
    }
    &_list {
        @extend %block_hr_top;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &_item {
        width: 33.3333%;
        max-width: 33.3333%;
        padding-right: 6.25vw;
        margin-bottom: 70px;
        @include breakpoint(md) {
            width: 100%;
            max-width: 100%;
            padding-right: 0;
            margin-bottom: map-get($map: $spacers, $key: xs);
        }
        &:nth-child(3n) {
            padding-left: 0;
        }
    }
}

.product {
    %product_block {
        margin-bottom: map-get($map: $spacers, $key: md);
        @include breakpoint(md) {
            margin-bottom: map-get($map: $spacers, $key: xs);
        }
    }
    @extend %block_mb;
    &_content {
        @extend %block_hr_top;

        &__top {
            @extend %product_block;
            display: flex;
            @include breakpoint(md) {
                flex-direction: column;
            }
            &-card {
                &_image {
                    width: $product-image-h;
                    @include breakpoint(md) {
                        width: 100%;
                    }
                }
            }
            &_left {
                margin-right: $gap_1;
                @include breakpoint(md) {
                    margin-right: 0;
                    margin-bottom: map-get($map: $spacers, $key: 01);
                }
            }
            &_right {
                max-width: 45%;
                color: $white;
                @include breakpoint(md) {
                    max-width: 100%;
                }
                &__title {
                    font-size: map-get($map: $fonts, $key: h4);
                    margin-bottom: map-get($map: $spacers, $key: xs);
                    @include breakpoint(md) {
                        font-size: map-get($map: $fonts, $key: n);
                        margin-bottom: map-get($map: $spacers, $key: 01);
                    }
                }
                &__sub {
                    font-size: map-get($map: $fonts, $key: n);
                    margin-bottom: map-get($map: $spacers, $key: xs);
                    @include breakpoint(md) {
                        margin-bottom: map-get($map: $spacers, $key: 01);
                    }
                }
                &__radio {
                    .form-group {
                        margin-bottom: map-get($map: $spacers, $key: sm);
                        @include breakpoint(md) {
                            margin-bottom: map-get($map: $spacers, $key: xs);
                        }
                    }
                }
                &__add {
                    width: 100%;
                    display: flex;
                    @include breakpoint(md) {
                        width: 100%;
                        justify-content: flex-start;
                        flex-direction: column;
                    }
                    &-spinButton {
                        width: 300px;
                        margin-bottom: map-get($map: $spacers, $key: xs);
                        margin-right: map-get($map: $spacers, $key: xs);
                        @include breakpoint(md) {
                            width: 100%;
                            margin-right: 0;
                        }
                    }
                    &-card_link {
                        @include breakpoint(md) {
                            width: 100%;
                        }
                        .product-card_link__left {
                            @include breakpoint(md) {
                                width: 50%;
                            }
                        }
                        .product-card_link__right {
                            @include breakpoint(md) {
                                width: 50%;
                                &::after {
                                    left: -13px;
                                }
                            }
                            & > span {
                                @include breakpoint(md) {
                                    min-width: 39vw;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__swiper {
            @extend %product_block;
            position: relative;
            padding-top: map-get($map: $spacers, $key: md);
            @include breakpoint(md) {
                padding-top: 0;
            }
            &_slide {
                max-width: 33.3333333%;
                height: 36vw;
                @include breakpoint(md) {
                    max-width: 100%;
                    height: 134vw;
                }
                & > div {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
            &_navigation {
                width: 100%;
                position: absolute;
                top: 4%;
                left: 0;
                display: flex;
                justify-content: space-between;
            }
            &_next,
            &_prev {
                cursor: pointer;
            }
            &_next {
                display: flex;
                align-items: center;
                color: $primary;
                p {
                    line-height: 1;
                    margin-right: map-get($map: $spacers, $key: 02);
                    padding-bottom: -10px;
                }
            }
        }
        &__note {
            @extend %product_block;
            &_pagination {
                display: flex;
            }
            &_title {
                width: auto;
                height: auto;
                display: flex;
                color: $white;
                margin-bottom: map-get($map: $spacers, $key: 03);
                opacity: 1;
                background-color: transparent;
                padding: map-get($map: $spacers, $key: 04) map-get($map: $spacers, $key: 02)
                    map-get($map: $spacers, $key: 04) 0;
                margin-right: map-get($map: $spacers, $key: 02);
                border-radius: 0;
                &:first-child {
                    border-right: 1px solid $primary;
                }
                &:last-child {
                    margin-right: 0;
                }
                p {
                    width: 100%;
                    text-indent: 0.2em;
                }

                @include breakpoint(md) {
                    width: 50%;
                    margin-right: 0;
                    border-bottom: 1px solid $primary;
                    p {
                        text-align: center;
                    }
                }
                &.swiper-pagination-bullet-active {
                    color: $primary;
                }
                svg {
                    margin-right: map-get($map: $spacers, $key: 01);
                    @include breakpoint(md) {
                        display: none;
                    }
                }
            }
            &_list {
                display: flex;
                flex-direction: column;
            }
            &_item {
                margin-bottom: 1px;
                color: $white;
                font-size: map-get($map: $fonts, $key: h6);
            }
        }
        &__other {
            &-block_hr {
                width: 100%;
            }
            &_swiper {
                @extend %block_hr_top;
                width: 100% !important;
                &-card {
                    width: 100%;
                    &_image {
                        height: $product-image-h;
                    }
                }
                &__slide {
                    max-width: 33.33333%;
                    padding: map-get($map: $spacers, $key: 02);
                    padding-bottom: 0;
                    @include breakpoint(md) {
                        max-width: 100%;
                    }
                    &:last-child {
                        @include breakpoint(md) {
                            margin-bottom: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
