<svg width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.6777 2L2 19.6777L19.6777 37.3553" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
<path d="M29.6777 11L21.1924 19.4853L29.6777 27.9706" stroke="#C9AB81" stroke-width="1.5" stroke-linecap="round"/>
</svg>
