<svg width="26" height="17" viewBox="0 0 26 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.1509 0L16.7675 1.49812L22.2423 7.4375H0V9.5625H22.2423L16.7675 15.5019L18.1509 17L26 8.5L18.1509 0Z" fill="#222222"/>
</svg>
