<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M14.759 8.24146L8.40419 14.5963L2.04936 8.24145" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
    <path d="M11.5237 4.64648L8.47336 7.69681L5.42304 4.64648" stroke="#C9AB81" stroke-width="1.5" stroke-linecap="round"/>
</svg>