<svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18.4853 1L36.163 18.6777L18.4853 36.3553" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
<path d="M8.48529 10L16.9706 18.4853L8.48529 26.9706" stroke="#C9AB81" stroke-width="1.5" stroke-linecap="round"/>
</svg>
