<svg width="30" height="29" viewBox="0 0 30 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.5 18.25H28.5" stroke="white" stroke-width="2"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.8749 28.375C10.8749 25.7869 10.1535 15.5966 9.75218 10.4331L11.2477 10.3169C11.6464 15.4475 12.3749 25.7131 12.3749 28.375H10.8749Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M17.2557 28.282L19.5057 10.282L20.9941 10.468L18.7441 28.468L17.2557 28.282Z" fill="white"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.7227 11.5H5.27716C3.43122 11.5 2.0232 13.1512 2.31484 14.974L3.87484 24.724C4.1077 26.1793 5.36327 27.25 6.83716 27.25H23.1627C24.6366 27.25 25.8921 26.1793 26.125 24.724L27.685 14.974C27.9767 13.1512 26.5686 11.5 24.7227 11.5ZM5.27716 10C2.50826 10 0.396215 12.4768 0.833676 15.211L2.39368 24.961C2.74297 27.144 4.62633 28.75 6.83716 28.75H23.1627C25.3735 28.75 27.2569 27.144 27.6062 24.961L29.1662 15.211C29.6036 12.4768 27.4916 10 24.7227 10H5.27716Z" fill="white"/>
<path d="M7.5 10.375C7.875 7.25 9.9 1 15 1C20.1 1 22.375 7.25 22.875 10.375" stroke="white" stroke-width="2"/>
</svg>
