<svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="1">
<path d="M36.5493 11.5493L11.8006 36.2981" stroke="#C9AB81" stroke-width="3"/>
<path d="M38.1992 36.2983L13.4505 11.5496" stroke="#C9AB81" stroke-width="3"/>
</g>
</svg>
