<svg width="13" height="26" viewBox="0 0 13 26" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12.1123 4.90157C11.3955 4.7582 10.4273 4.6511 9.81842 4.6511C8.16971 4.6511 8.06261 5.36793 8.06261 6.51486V8.55658H12.184L11.8247 12.7859H8.06261V25.6501H2.90227V12.7859H0.25V8.55658H2.90227V5.94055C2.90227 2.35723 4.58641 0.350098 8.81487 0.350098C10.284 0.350098 11.3592 0.565149 12.7566 0.851882L12.1123 4.90157Z" fill="white"/>
</svg>
