<svg width="1374" height="257" viewBox="0 0 1374 257" fill="none" xmlns="http://www.w3.org/2000/svg">
<mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1374" height="258">
<mask id="path-1-inside-1" mask-type="luminance" fill="white">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 257.359H1373.5C1189.86 97.0855 949.641 0 686.75 0C423.859 0 183.643 97.0855 0 257.359Z"/>
</mask>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 257.359H1373.5C1189.86 97.0855 949.641 0 686.75 0C423.859 0 183.643 97.0855 0 257.359Z" fill="#FBFBFB"/>
<path d="M0 257.359L-0.657542 256.605L-2.66662 258.359H0V257.359ZM1373.5 257.359V258.359H1376.17L1374.16 256.605L1373.5 257.359ZM0 258.359H1373.5V256.359H0V258.359ZM686.75 1C949.391 1 1189.37 97.9918 1372.84 258.112L1374.16 256.605C1190.34 96.1792 949.892 -1 686.75 -1V1ZM0.657542 258.112C184.125 97.9918 424.109 1 686.75 1V-1C423.608 -1 183.16 96.1792 -0.657542 256.605L0.657542 258.112Z" fill="#D7B875" mask="url(#path-1-inside-1)"/>
</mask>
<g mask="url(#mask0)">
    <mask id="path-3-inside-2" fill="white">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 257.359H1373.5C1189.86 97.0855 949.641 0 686.75 0C423.859 0 183.643 97.0855 0 257.359Z"/>
</mask>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 257.359H1373.5C1189.86 97.0855 949.641 0 686.75 0C423.859 0 183.643 97.0855 0 257.359Z" fill="#C9AB81"/>
    <path d="M0 257.359L-0.657542 256.605L-2.66662 258.359H0V257.359ZM1373.5 257.359V258.359H1376.17L1374.16 256.605L1373.5 257.359ZM0 258.359H1373.5V256.359H0V258.359ZM686.75 1C949.391 1 1189.37 97.9918 1372.84 258.112L1374.16 256.605C1190.34 96.1792 949.892 -1 686.75 -1V1ZM0.657542 258.112C184.125 97.9918 424.109 1 686.75 1V-1C423.608 -1 183.16 96.1792 -0.657542 256.605L0.657542 258.112Z" fill="white" fill-opacity="0.3" mask="url(#path-3-inside-2)"/>
    <path d="M549.511 230.85C576.02 236.188 630.143 243.552 689.236 243C749.042 242.441 766.554 241.895 820.677 231.954" stroke="white" stroke-opacity="0.3" stroke-linecap="round"/>
    <path d="M678.05 293.603C679.864 293.609 681.591 293.616 683.213 293.629V293.776L683.732 293.756C684.668 293.72 685.677 293.693 686.751 293.673C687.825 293.693 688.834 293.72 689.769 293.756L690.288 293.776V293.629C691.889 293.616 693.593 293.61 695.381 293.603L695.476 293.603L695.489 293.603C706.901 293.561 721.752 293.506 735.502 291.71C749.227 289.917 761.994 286.374 769.117 279.251C774.438 273.93 778.726 268.516 782.919 263.223L782.925 263.216C792.111 251.619 800.876 240.56 819.22 231.937C822.425 230.898 824.946 229.801 826.678 228.648C828.391 227.507 829.461 226.221 829.461 224.775C829.461 223.238 828.253 221.879 826.331 220.678C824.378 219.457 821.529 218.297 817.908 217.202C810.659 215.01 800.193 213.042 787.291 211.392C761.479 208.09 725.835 206.05 686.475 206.05C647.114 206.05 611.47 208.09 585.658 211.392C572.756 213.042 562.29 215.01 555.041 217.202C551.42 218.297 548.571 219.457 546.618 220.678C544.696 221.879 543.488 223.238 543.488 224.775C543.488 226.333 544.729 227.708 546.702 228.924C548.701 230.155 551.613 231.325 555.312 232.429C572.957 240.978 581.563 251.837 590.577 263.216L590.582 263.223C594.775 268.516 599.063 273.93 604.385 279.251C611.507 286.374 624.274 289.917 637.999 291.71C651.75 293.506 666.6 293.561 678.013 293.603L678.026 293.603H678.027H678.039H678.041L678.05 293.603Z" stroke="white" stroke-opacity="0.3"/>
    <path d="M584.856 256.255C590.931 263.434 594.429 265.091 598.663 256.255C602.897 247.418 607.131 247.418 611.365 256.255C615.599 265.091 619.833 265.091 624.068 256.255C628.302 247.418 632.536 247.418 636.77 256.255C641.004 265.091 645.238 265.091 649.472 256.255C653.706 247.418 657.94 247.418 662.174 256.255C666.408 265.091 670.643 265.091 674.877 256.255C679.111 247.418 683.345 247.418 687.579 256.255C691.813 265.091 696.047 265.091 700.281 256.255C704.515 247.418 708.749 247.418 712.983 256.255C717.218 265.091 721.452 265.091 725.686 256.255C729.92 247.418 734.154 247.418 738.388 256.255C742.622 265.091 746.856 265.091 751.09 256.255C755.324 247.418 759.558 247.418 763.793 256.255C768.027 265.091 772.261 265.091 776.495 256.255C780.729 247.418 784.411 247.418 788.645 256.255" stroke="white" stroke-opacity="0.3"/>
    <path d="M701.938 263.986C705.252 255.149 708.565 255.149 711.879 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M600.32 263.986C603.634 255.149 606.947 255.149 610.261 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M727.343 263.986C730.656 255.149 733.97 255.149 737.284 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M625.724 263.986C629.038 255.149 632.352 255.149 635.665 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M752.747 263.986C756.061 255.149 759.374 255.149 762.688 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M651.129 263.986C654.443 255.149 657.756 255.149 661.07 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M778.152 263.986C780.361 255.702 783.122 255.702 785.331 260.12" stroke="white" stroke-opacity="0.3"/>
    <path d="M676.533 263.986C679.847 255.149 683.161 255.149 686.474 263.986" stroke="white" stroke-opacity="0.3"/>
    <path d="M688.684 249.627C691.997 258.463 695.311 258.463 698.624 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M587.065 249.627C590.379 258.463 593.693 258.463 597.006 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M714.088 249.627C717.402 258.463 720.715 258.463 724.029 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M612.47 249.627C615.784 258.463 619.097 258.463 622.411 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M739.492 249.627C742.806 258.463 746.12 258.463 749.434 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M637.875 249.627C641.188 258.463 644.502 258.463 647.815 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M764.897 249.627C768.211 258.463 771.524 258.463 774.838 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M663.279 249.627C666.592 258.463 669.906 258.463 673.22 249.627" stroke="white" stroke-opacity="0.3"/>
    <path d="M543.436 224.776C544.541 231.955 555.908 234.164 561.868 225.328C567.828 216.491 573.788 216.491 579.748 225.328C585.708 234.164 591.668 234.164 597.628 225.328C603.588 216.491 609.548 216.491 615.508 225.328C621.467 234.164 627.427 234.164 633.387 225.328C639.347 216.491 645.307 216.491 651.267 225.328C657.227 234.164 663.187 234.164 669.147 225.328C675.107 216.491 681.067 216.491 687.027 225.328C692.987 234.164 698.947 234.164 704.907 225.328C710.867 216.491 716.826 216.491 722.786 225.328C728.746 234.164 734.706 234.164 740.666 225.328C746.626 216.491 752.586 216.491 758.546 225.328C764.506 234.164 770.466 234.164 776.426 225.328C782.386 216.491 788.346 216.491 794.306 225.328C800.266 234.164 806.226 234.164 812.185 225.328C818.145 216.491 823.99 219.253 828.961 225.328" stroke="white" stroke-opacity="0.3" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M709.118 225.837C712.431 220.739 715.745 220.739 719.058 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M566.079 225.837C569.393 220.739 572.706 220.739 576.02 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M745.015 225.837C748.329 220.739 751.642 220.739 754.956 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M601.977 225.837C605.29 220.739 608.604 220.739 611.917 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M780.361 225.837C783.674 220.739 786.988 220.739 790.301 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M637.322 225.837C640.636 220.739 643.95 220.739 647.263 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M815.706 225.837C819.02 220.739 822.334 220.739 825.647 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M673.772 225.837C677.086 220.739 680.399 220.739 683.713 225.837" stroke="white" stroke-opacity="0.3"/>
    <path d="M691.445 224.223C694.758 229.32 698.072 229.32 701.386 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M548.406 224.223C551.72 229.32 555.034 229.32 558.347 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M727.343 224.223C730.656 229.32 733.97 229.32 737.284 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M584.304 224.223C587.618 229.32 590.931 229.32 594.245 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M762.688 224.223C766.002 229.32 769.315 229.32 772.629 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M619.65 224.223C622.963 229.32 626.277 229.32 629.59 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M798.033 224.223C801.347 229.32 804.661 229.32 807.974 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M656.099 224.223C659.413 229.32 662.727 229.32 666.04 224.223" stroke="white" stroke-opacity="0.3"/>
    <path d="M1033.67 211.969C1033.79 211.938 1033.89 211.864 1033.96 211.767H1088.17C1092.76 211.767 1096.48 208.055 1096.48 203.475C1096.48 198.895 1092.76 195.184 1088.17 195.184H1069.1C1066.02 195.184 1063.53 192.694 1063.53 189.624C1063.53 186.554 1066.02 184.064 1069.1 184.064H1184.18C1184.23 184.092 1184.29 184.111 1184.35 184.12C1187.05 184.505 1189.12 186.824 1189.12 189.624C1189.12 192.424 1187.05 194.742 1184.35 195.127C1184.29 195.136 1184.23 195.156 1184.18 195.184H1141.93C1137.35 195.184 1133.63 198.895 1133.63 203.475C1133.63 208.055 1137.35 211.767 1141.93 211.767H1241.24C1241.3 211.864 1241.4 211.938 1241.52 211.969C1244.3 212.683 1246.35 215.2 1246.35 218.192C1246.35 221.185 1244.3 223.702 1241.52 224.416C1241.4 224.447 1241.3 224.521 1241.24 224.618H1233.84C1229.26 224.618 1225.54 228.33 1225.54 232.91C1225.54 237.49 1229.26 241.201 1233.84 241.201H1320.55C1323.63 241.201 1326.12 243.691 1326.12 246.761C1326.12 249.831 1323.63 252.321 1320.55 252.321H1316.22C1316.12 252.321 1316.03 252.35 1315.95 252.398C1311.9 252.95 1308.78 256.417 1308.78 260.613C1308.78 265.193 1312.5 268.904 1317.08 268.904H1391.65C1396.24 268.904 1399.96 265.193 1399.96 260.613C1399.96 256.033 1396.24 252.321 1391.65 252.321H1355.24C1352.16 252.321 1349.67 249.831 1349.67 246.761C1349.67 243.691 1352.16 241.201 1355.24 241.201H1367.38C1371.96 241.201 1375.68 237.49 1375.68 232.91C1375.68 228.33 1371.96 224.618 1367.38 224.618H1269.89C1269.87 224.43 1269.74 224.268 1269.56 224.203C1266.72 223.202 1264.69 220.5 1264.69 217.327C1264.69 215.099 1265.69 213.105 1267.27 211.767H1303.21C1307.8 211.767 1311.51 208.055 1311.51 203.475C1311.51 198.895 1307.8 195.184 1303.21 195.184H1204.36C1201.29 195.184 1198.79 192.694 1198.79 189.624C1198.79 186.554 1201.29 184.064 1204.36 184.064H1218.24C1222.82 184.064 1226.54 180.352 1226.54 175.772C1226.54 171.192 1222.82 167.481 1218.24 167.481H1148.87C1145.79 167.481 1143.3 164.99 1143.3 161.92C1143.3 158.85 1145.79 156.36 1148.87 156.36H1183.55C1188.14 156.36 1191.86 152.649 1191.86 148.069C1191.86 143.489 1188.14 139.777 1183.55 139.777H1050.02C1045.44 139.777 1041.72 143.489 1041.72 148.069C1041.72 152.649 1045.44 156.36 1050.02 156.36H1124.59C1127.67 156.36 1130.16 158.85 1130.16 161.92C1130.16 164.99 1127.67 167.481 1124.59 167.481H1006.67C1002.08 167.481 998.364 171.192 998.364 175.772C998.364 180.352 1002.08 184.064 1006.67 184.064H1022.28C1025.35 184.064 1027.85 186.554 1027.85 189.624C1027.85 192.694 1025.35 195.184 1022.28 195.184H926.896C922.311 195.184 918.592 198.895 918.592 203.475C918.592 208.055 922.311 211.767 926.896 211.767H948.573C952.129 211.767 955.01 214.644 955.01 218.192C955.01 221.741 952.129 224.618 948.573 224.618H874.871C870.286 224.618 866.567 228.33 866.567 232.91C866.567 237.49 870.286 241.201 874.871 241.201H1041.35C1045.94 241.201 1049.66 237.49 1049.66 232.91C1049.66 228.33 1045.94 224.618 1041.35 224.618H1033.96C1033.89 224.521 1033.79 224.447 1033.67 224.416C1030.9 223.702 1028.85 221.185 1028.85 218.192C1028.85 215.2 1030.9 212.683 1033.67 211.969Z" stroke="white" stroke-opacity="0.3" stroke-linejoin="round"/>
    <path d="M349.217 211.969C349.097 211.938 348.996 211.864 348.929 211.767H294.715C290.13 211.767 286.412 208.055 286.412 203.475C286.412 198.895 290.13 195.184 294.715 195.184H313.791C316.868 195.184 319.361 192.694 319.361 189.624C319.361 186.554 316.868 184.064 313.791 184.064H198.709C198.658 184.092 198.601 184.111 198.54 184.12C195.841 184.505 193.767 186.824 193.767 189.624C193.767 192.424 195.841 194.742 198.54 195.127C198.601 195.136 198.658 195.156 198.709 195.184H240.956C245.542 195.184 249.26 198.895 249.26 203.475C249.26 208.055 245.542 211.767 240.956 211.767H141.654C141.588 211.864 141.487 211.938 141.366 211.969C138.589 212.683 136.539 215.2 136.539 218.193C136.539 221.185 138.589 223.702 141.366 224.416C141.487 224.447 141.588 224.521 141.654 224.618H149.045C153.63 224.618 157.349 228.33 157.349 232.91C157.349 237.49 153.63 241.201 149.045 241.201H62.3366C59.2599 241.201 56.767 243.691 56.767 246.761C56.767 249.831 59.2599 252.321 62.3366 252.321H66.6721C66.7699 252.321 66.8611 252.35 66.9382 252.398C70.9878 252.95 74.1087 256.417 74.1087 260.613C74.1087 265.193 70.3903 268.905 65.805 268.905H-8.76434C-13.3497 268.905 -17.0681 265.193 -17.0681 260.613C-17.0681 256.033 -13.3497 252.321 -8.76434 252.321H27.6532C30.7299 252.321 33.2228 249.831 33.2228 246.761C33.2228 243.691 30.7299 241.201 27.6532 241.201H15.514C10.9287 241.201 7.21027 237.49 7.21027 232.91C7.21027 228.33 10.9287 224.618 15.514 224.618H112.998C113.019 224.43 113.146 224.268 113.328 224.203C116.166 223.202 118.197 220.5 118.197 217.327C118.197 215.099 117.197 213.105 115.619 211.767H79.6783C75.093 211.767 71.3746 208.055 71.3746 203.475C71.3746 198.895 75.093 195.184 79.6783 195.184H178.526C181.603 195.184 184.096 192.694 184.096 189.624C184.096 186.554 181.603 184.064 178.526 184.064H164.653C160.067 184.064 156.349 180.352 156.349 175.772C156.349 171.192 160.067 167.481 164.653 167.481H234.02C237.096 167.481 239.589 164.99 239.589 161.92C239.589 158.85 237.096 156.36 234.02 156.36H199.336C194.751 156.36 191.032 152.649 191.032 148.069C191.032 143.489 194.751 139.777 199.336 139.777H332.867C337.453 139.777 341.171 143.489 341.171 148.069C341.171 152.649 337.453 156.36 332.867 156.36H258.298C255.221 156.36 252.728 158.85 252.728 161.92C252.728 164.99 255.221 167.481 258.298 167.481H376.222C380.807 167.481 384.525 171.192 384.525 175.772C384.525 180.352 380.807 184.064 376.222 184.064H360.614C357.537 184.064 355.044 186.554 355.044 189.624C355.044 192.694 357.537 195.184 360.614 195.184H455.993C460.579 195.184 464.297 198.895 464.297 203.475C464.297 208.055 460.579 211.767 455.993 211.767H434.316C430.761 211.767 427.88 214.644 427.88 218.193C427.88 221.741 430.761 224.618 434.316 224.618H508.018C512.604 224.618 516.322 228.33 516.322 232.91C516.322 237.49 512.604 241.201 508.018 241.201H341.538C336.953 241.201 333.234 237.49 333.234 232.91C333.234 228.33 336.953 224.618 341.538 224.618H348.929C348.996 224.521 349.097 224.447 349.217 224.416C351.994 223.702 354.044 221.185 354.044 218.193C354.044 215.2 351.994 212.683 349.217 211.969Z" stroke="white" stroke-opacity="0.3" stroke-linejoin="round"/>
    <path d="M1031.74 100.604L1032.15 100.662L1070.22 100.662C1073.41 100.662 1075.99 98.0757 1075.99 94.8846C1075.99 91.6936 1073.41 89.107 1070.22 89.107L1063.04 89.107C1058.31 89.107 1054.48 85.2694 1054.48 80.5358C1054.48 75.8022 1058.31 71.9645 1063.04 71.9645L1140.14 71.9645C1143.33 71.9645 1145.92 69.378 1145.92 66.1869C1145.92 62.9958 1143.33 60.4093 1140.14 60.4093L1098.01 60.4093C1092.78 60.4093 1088.54 56.1701 1088.54 50.9412C1088.54 45.7123 1092.78 41.4732 1098.01 41.4732L1171.52 41.4732C1176.75 41.4732 1180.99 45.7123 1180.99 50.9412C1180.99 56.1701 1176.75 60.4093 1171.52 60.4093L1161.66 60.4093C1158.47 60.4093 1155.88 62.9958 1155.88 66.1869C1155.88 69.378 1158.47 71.9645 1161.66 71.9645L1176 71.9645C1180.74 71.9645 1184.57 75.8022 1184.57 80.5358C1184.57 85.2694 1180.74 89.107 1176 89.107L1091.73 89.107C1088.54 89.107 1085.96 91.6936 1085.96 94.8846C1085.96 98.0757 1088.54 100.662 1091.73 100.662L1104.28 100.662C1109.02 100.662 1112.85 104.5 1112.85 109.233C1112.85 113.967 1109.02 117.805 1104.28 117.805L991.325 117.805C986.593 117.805 982.756 113.967 982.756 109.233C982.756 104.5 986.593 100.662 991.325 100.662L1004.29 100.662L1004.7 100.604C1007.5 100.203 1009.65 97.795 1009.65 94.8846C1009.65 91.9742 1007.5 89.5659 1004.7 89.1655L1004.29 89.107L930.363 89.107C925.631 89.107 921.795 85.2693 921.795 80.5357C921.795 75.8021 925.631 71.9645 930.363 71.9645L1043.32 71.9645C1048.05 71.9645 1051.89 75.8022 1051.89 80.5358C1051.89 85.2694 1048.05 89.107 1043.32 89.107L1032.15 89.107L1031.74 89.1655C1028.94 89.5659 1026.79 91.9742 1026.79 94.8846C1026.79 97.795 1028.94 100.203 1031.74 100.604Z" stroke="white" stroke-opacity="0.3"/>
    <path d="M240.716 10.5459C235.644 10.5459 231.528 14.6432 231.528 19.7013C231.528 24.7595 235.644 28.8568 240.716 28.8568H252.3C255.758 28.8568 258.557 31.6487 258.557 35.0888C258.557 38.5289 255.758 41.3208 252.3 41.3208H73.7166C68.111 41.3208 63.5635 45.8486 63.5635 51.4379C63.5635 57.0272 68.111 61.5551 73.7166 61.5551H117.156C120.613 61.5551 123.413 64.347 123.413 67.7871C123.413 71.2272 120.613 74.0191 117.156 74.0191H107.503C102.43 74.0191 98.3149 78.1164 98.3149 83.1745C98.3149 88.2327 102.43 92.33 107.503 92.33H290.913C295.985 92.33 300.101 88.2327 300.101 83.1745C300.101 78.1164 295.985 74.0191 290.913 74.0191H211.757C208.299 74.0191 205.5 71.2272 205.5 67.7871C205.5 64.347 208.299 61.5551 211.757 61.5551H350.762C354.22 61.5551 357.02 64.347 357.02 67.7871C357.02 71.2272 354.22 74.0191 350.762 74.0191H339.179C334.106 74.0191 329.991 78.1164 329.991 83.1745C329.991 88.2327 334.106 92.33 339.179 92.33H435.71C439.168 92.33 441.967 95.1219 441.967 98.562C441.967 102.002 439.168 104.794 435.71 104.794H429.918C424.846 104.794 420.73 108.891 420.73 113.949C420.73 119.008 424.846 123.105 429.918 123.105H514.866C519.939 123.105 524.054 119.008 524.054 113.949C524.054 108.891 519.939 104.794 514.866 104.794H472.392C468.935 104.794 466.135 102.002 466.135 98.562C466.135 95.1219 468.935 92.33 472.392 92.33H482.045C487.118 92.33 491.233 88.2327 491.233 83.1745C491.233 78.1164 487.118 74.0191 482.045 74.0191H375.861C372.403 74.0191 369.603 71.2272 369.603 67.7871C369.603 64.347 372.403 61.5551 375.861 61.5551H380.687C386.293 61.5551 390.84 57.0272 390.84 51.4379C390.84 45.8486 386.293 41.3208 380.687 41.3208H304.427C300.97 41.3208 298.17 38.5289 298.17 35.0888C298.17 31.6487 300.97 28.8568 304.427 28.8568H321.803C326.875 28.8568 330.991 24.7595 330.991 19.7013C330.991 14.6432 326.875 10.5459 321.803 10.5459H240.716Z" stroke="white" stroke-opacity="0.3"/>
    <path d="M798.743 117.582C803.726 117.582 807.764 113.538 807.764 108.552C807.764 103.565 803.726 99.5213 798.743 99.5213L789.276 99.5213C785.892 99.5213 783.148 96.7752 783.148 93.3865C783.148 89.9979 785.892 87.2518 789.276 87.2518L822.412 87.2518C827.918 87.2518 832.38 82.7839 832.38 77.2736C832.38 71.7634 827.918 67.2954 822.412 67.2954L735.311 67.2954C729.805 67.2954 725.343 71.7633 725.343 77.2736C725.343 82.7839 729.805 87.2518 735.311 87.2518L740.045 87.2518C743.428 87.2518 746.172 89.9979 746.172 93.3865C746.172 96.7752 743.428 99.5213 740.045 99.5213L654.837 99.5213C651.453 99.5213 648.71 96.7752 648.71 93.3865C648.71 89.9979 651.453 87.2518 654.837 87.2518L665.251 87.2518C670.757 87.2518 675.219 82.7839 675.219 77.2736C675.219 71.7633 670.757 67.2954 665.251 67.2954L597.085 67.2954C594.224 67.2954 591.904 64.9737 591.904 62.1085C591.904 59.2433 594.224 56.9216 597.085 56.9216L627.381 56.9216C632.887 56.9216 637.349 52.4537 637.349 46.9434C637.349 41.4331 632.887 36.9652 627.381 36.9652L609.393 36.9652C606.009 36.9652 603.266 34.2191 603.266 30.8305C603.266 27.4418 606.009 24.6957 609.393 24.6957L724.897 24.6957C728.28 24.6957 731.024 27.4418 731.024 30.8305C731.024 34.2191 728.28 36.9652 724.897 36.9652L718.269 36.9652C712.764 36.9652 708.302 41.4331 708.302 46.9434C708.302 52.4537 712.764 56.9216 718.269 56.9216L896.259 56.9216C901.764 56.9216 906.226 52.4537 906.226 46.9434C906.226 41.4331 901.764 36.9652 896.259 36.9652L770.341 36.9652C766.957 36.9652 764.213 34.2191 764.213 30.8305C764.213 27.4418 766.957 24.6958 770.341 24.6958L844.187 24.6958C849.17 24.6958 853.208 20.6522 853.208 15.6654C853.208 10.6786 849.17 6.63501 844.187 6.63501L838.507 6.63501C835.123 6.63501 832.38 3.88893 832.38 0.500284C832.38 -2.88837 835.123 -5.63445 838.507 -5.63445L882.058 -5.63445C887.04 -5.63445 891.078 -9.67801 891.078 -14.6648C891.078 -19.6516 887.04 -23.6952 882.058 -23.6952L637.795 -23.6952C632.813 -23.6952 628.775 -19.6517 628.775 -14.6648C628.775 -9.67803 632.813 -5.63447 637.795 -5.63447L654.837 -5.63447C658.22 -5.63447 660.964 -2.88839 660.964 0.500269C660.964 3.88892 658.22 6.635 654.837 6.635L543.12 6.63499C538.138 6.63499 534.099 10.6785 534.099 15.6654C534.099 20.6522 538.138 24.6957 543.12 24.6957L560.162 24.6957C563.545 24.6957 566.289 27.4418 566.289 30.8305C566.289 34.2191 563.545 36.9652 560.162 36.9652L477.794 36.9652C472.289 36.9652 467.827 41.4331 467.827 46.9434C467.827 52.4537 472.289 56.9216 477.794 56.9216L574.363 56.9216C577.224 56.9216 579.543 59.2433 579.543 62.1085C579.543 64.9737 577.224 67.2954 574.363 67.2954L566.789 67.2954C561.283 67.2954 556.821 71.7633 556.821 77.2736C556.821 82.7839 561.283 87.2518 566.789 87.2518L634.008 87.2518C637.392 87.2518 640.136 89.9979 640.136 93.3865C640.136 96.7752 637.392 99.5213 634.008 99.5213L632.115 99.5213C627.132 99.5213 623.094 103.565 623.094 108.552C623.094 113.538 627.132 117.582 632.115 117.582L798.743 117.582ZM677.559 6.635C674.176 6.635 671.432 3.88892 671.432 0.500269C671.432 -2.88839 674.176 -5.63447 677.559 -5.63447L813.891 -5.63445C817.275 -5.63445 820.019 -2.88837 820.019 0.500282C820.019 3.88893 817.275 6.63501 813.891 6.63501L677.559 6.635Z" stroke="white" stroke-opacity="0.3"/>
    <path d="M613.785 217.237C613.785 221.095 617.083 224.223 621.152 224.223L747.203 224.223C751.271 224.223 754.569 221.095 754.569 217.237C754.569 213.379 751.271 210.252 747.203 210.252L714.462 210.252C711.298 210.252 708.733 207.819 708.733 204.818C708.733 201.818 711.298 199.385 714.462 199.385L779.943 199.385C784.012 199.385 787.31 196.258 787.31 192.4C787.31 188.542 784.012 185.414 779.943 185.414L766.847 185.414C763.683 185.414 761.117 182.982 761.117 179.981C761.117 176.981 763.683 174.548 766.847 174.548L860.158 174.548C864.226 174.548 867.524 171.42 867.524 167.563C867.524 163.705 864.226 160.577 860.158 160.577L826.06 160.577C824.392 159.296 823.324 157.338 823.324 155.144C823.324 152.102 825.374 149.515 828.236 148.556L828.236 148.158L920.728 148.158C924.796 148.158 928.094 145.031 928.094 141.173C928.094 137.315 924.796 134.187 920.728 134.187L909.268 134.187C906.104 134.187 903.539 131.755 903.539 128.754C903.539 125.754 906.104 123.321 909.268 123.321L943.646 123.321C947.714 123.321 951.013 120.194 951.013 116.336C951.013 112.478 947.714 109.35 943.646 109.35L873.254 109.35C869.185 109.35 865.887 112.478 865.887 116.336C865.887 119.931 868.752 122.892 872.435 123.278L872.435 123.321L876.528 123.321C879.692 123.321 882.257 125.754 882.257 128.754C882.257 131.755 879.692 134.187 876.528 134.187L794.676 134.187C790.608 134.187 787.31 137.315 787.31 141.173C787.31 145.031 790.608 148.158 794.676 148.158L802.043 148.158L802.043 148.354C804.867 149.043 806.954 151.474 806.954 154.368C806.954 157.261 804.867 159.692 802.043 160.381L802.043 160.577L707.914 160.577C703.845 160.577 700.547 163.705 700.547 167.563C700.547 171.421 703.846 174.548 707.914 174.548L748.021 174.548L748.021 174.603C750.798 174.98 752.932 177.244 752.932 179.981C752.932 182.718 750.798 184.983 748.021 185.359L748.021 185.414L639.159 185.414C635.994 185.414 633.429 182.982 633.429 179.981C633.429 176.981 635.994 174.548 639.159 174.548L657.166 174.548C661.235 174.548 664.533 171.421 664.533 167.563C664.533 163.705 661.235 160.577 657.166 160.577L605.6 160.577L605.6 160.381C602.775 159.692 600.689 157.261 600.689 154.368C600.689 151.474 602.775 149.043 605.6 148.354L605.6 148.158L612.966 148.158C617.035 148.158 620.333 145.031 620.333 141.173C620.333 137.315 617.035 134.187 612.966 134.187L455.812 134.187C451.743 134.187 448.445 137.315 448.445 141.173C448.445 145.031 451.743 148.158 455.812 148.158L525.385 148.158C529.002 148.158 531.933 150.938 531.933 154.368C531.933 157.797 529.002 160.577 525.385 160.577L504.923 160.577C500.854 160.577 497.556 163.705 497.556 167.563C497.556 171.421 500.854 174.548 504.923 174.548L594.959 174.548C598.123 174.548 600.689 176.981 600.689 179.981C600.689 182.982 598.123 185.414 594.959 185.414L580.226 185.414C576.157 185.414 572.859 188.542 572.859 192.4C572.859 196.258 576.157 199.385 580.226 199.385L691.544 199.385C694.708 199.385 697.273 201.818 697.273 204.818C697.273 207.819 694.708 210.252 691.544 210.252L621.152 210.252C617.083 210.252 613.785 213.379 613.785 217.237Z" fill="#C9AB81"/>
    <path d="M605.718 159.896C605.832 159.923 605.929 159.989 605.996 160.077L657.166 160.077C661.485 160.077 665.033 163.404 665.033 167.563C665.033 171.721 661.485 175.048 657.166 175.048L639.159 175.048C636.245 175.048 633.929 177.281 633.929 179.981C633.929 182.681 636.245 184.914 639.159 184.914L747.793 184.914C747.842 184.889 747.896 184.872 747.954 184.864C750.507 184.518 752.432 182.445 752.432 179.981C752.432 177.518 750.507 175.445 747.954 175.098C747.896 175.091 747.842 175.073 747.793 175.048L707.914 175.048C703.595 175.048 700.047 171.721 700.047 167.563C700.047 163.404 703.595 160.077 707.914 160.077L801.646 160.077C801.714 159.989 801.811 159.923 801.925 159.896C804.547 159.256 806.454 157.009 806.454 154.368C806.454 151.727 804.547 149.48 801.925 148.84C801.811 148.812 801.714 148.746 801.646 148.658L794.676 148.658C790.357 148.658 786.81 145.332 786.81 141.173C786.81 137.014 790.357 133.687 794.676 133.687L876.528 133.687C879.441 133.687 881.757 131.454 881.757 128.754C881.757 126.054 879.441 123.821 876.528 123.821L872.435 123.821C872.343 123.821 872.256 123.796 872.182 123.752C868.364 123.257 865.387 120.144 865.387 116.336C865.387 112.177 868.934 108.85 873.254 108.85L943.646 108.85C947.965 108.85 951.513 112.177 951.513 116.336C951.513 120.494 947.965 123.821 943.646 123.821L909.268 123.821C906.355 123.821 904.039 126.054 904.039 128.754C904.039 131.454 906.355 133.687 909.268 133.687L920.728 133.687C925.047 133.687 928.594 137.014 928.594 141.173C928.594 145.332 925.047 148.658 920.728 148.658L828.725 148.658C828.689 148.83 828.565 148.973 828.394 149.03C825.717 149.927 823.824 152.338 823.824 155.144C823.824 157.113 824.754 158.883 826.234 160.077L860.158 160.077C864.477 160.077 868.024 163.404 868.024 167.563C868.024 171.721 864.477 175.048 860.158 175.048L766.847 175.048C763.933 175.048 761.617 177.281 761.617 179.981C761.617 182.681 763.933 184.914 766.847 184.914L779.943 184.914C784.262 184.914 787.81 188.241 787.81 192.4C787.81 196.559 784.262 199.885 779.943 199.885L714.462 199.885C711.549 199.885 709.233 202.119 709.233 204.818C709.233 207.518 711.549 209.752 714.462 209.752L747.203 209.752C751.522 209.752 755.069 213.078 755.069 217.237C755.069 221.396 751.522 224.723 747.203 224.723L621.152 224.723C616.832 224.723 613.285 221.396 613.285 217.237C613.285 213.078 616.832 209.752 621.152 209.752L691.544 209.752C694.457 209.752 696.773 207.518 696.773 204.818C696.773 202.119 694.457 199.885 691.544 199.885L580.226 199.885C575.907 199.885 572.359 196.559 572.359 192.4C572.359 188.241 575.907 184.914 580.226 184.914L594.959 184.914C597.873 184.914 600.189 182.681 600.189 179.981C600.189 177.281 597.873 175.048 594.959 175.048L504.923 175.048C500.603 175.048 497.056 171.721 497.056 167.563C497.056 163.404 500.603 160.077 504.923 160.077L525.385 160.077C528.751 160.077 531.433 157.496 531.433 154.368C531.433 151.239 528.751 148.658 525.385 148.658L455.812 148.658C451.492 148.658 447.945 145.332 447.945 141.173C447.945 137.014 451.492 133.687 455.812 133.687L612.966 133.687C617.286 133.687 620.833 137.014 620.833 141.173C620.833 145.332 617.286 148.658 612.966 148.658L605.996 148.658C605.929 148.746 605.832 148.812 605.718 148.84C603.096 149.48 601.189 151.727 601.189 154.368C601.189 157.009 603.096 159.256 605.718 159.896Z" stroke="white" stroke-opacity="0.3" stroke-linejoin="round"/>
</svg>
