<svg width="12" height="3" viewBox="0 0 12 3" fill="none" xmlns="http://www.w3.org/2000/svg">
<line x1="1" y1="1.00146" x2="11" y2="1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>