<svg id="loading_progress__svg" class="loading_progress__svg" xmlns="http://www.w3.org/2000/svg" width="1922" height="486.36" viewBox="0 0 1922 486.36">
    <g id="loading_progress__logo" class="loading_progress__logo">
        <rect id="logo_bow" class="logo_bow" x="908.35" y="1" width="110.43" height="111.73" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <g id="logo_main" class="logo_main">
            <path d="M947.64,191.09a5.6,5.6,0,0,0,2.73-.83l-.47-.83c-3,1.69-4.16-.2-4.21-.28l-.82.48A3.27,3.27,0,0,0,947.64,191.09Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M951,203.13a.81.81,0,0,0,0-1.62.81.81,0,1,0,0,1.62Zm0-.95c.12,0,.13.13.13.16a.15.15,0,0,1-.13.13.19.19,0,0,1-.16-.13A.15.15,0,0,1,951,202.18Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M1019,175.35a3.08,3.08,0,0,1-1.16,2.78l0,0c-2.19,1.64-3.58.74-3.63.71l-.06,0c-1.22-.62-1.2-2.54-1.2-2.58a15.21,15.21,0,0,0-.52-2.78,3,3,0,0,0-2.94-2.32,5.24,5.24,0,0,0-2,.57v0c-2.87,1.67-3,3.69-3,3.79a5.51,5.51,0,0,0,3,4.86,12.79,12.79,0,0,1,2,1.52,3,3,0,0,1,.71,1.63l-.85-.14h0a6.13,6.13,0,0,0-5,2.06,12.75,12.75,0,0,0-2.43,4.08c.11-2-1.65-4-1.73-4.09s-.12-.21-.12-.21l0,0,2.14-1.22-2.44.34a1.78,1.78,0,0,0-1.27.77,6.87,6.87,0,0,1,.3-2.11,4.63,4.63,0,0,1,1-1.56.73.73,0,0,0,.35-.64.78.78,0,0,0-.43-.63l-.11,0a4.42,4.42,0,0,0-3,.77,3.11,3.11,0,0,1-1.49.76H995c-.09,0-.21,0-.25-.06a1.43,1.43,0,0,1,.06-.94,11.49,11.49,0,0,0,.54-2,6.11,6.11,0,0,0-.57-3.59,6.18,6.18,0,0,0-2.84-2.41l-.16.44-.28.4a1.38,1.38,0,0,1,.46,1.23,5.92,5.92,0,0,1-1.42,3,8.12,8.12,0,0,0-2,3.75,5.68,5.68,0,0,0,1.5,4.81c0,.06.15.18.31.34h0A12.16,12.16,0,0,0,994.1,189a10.9,10.9,0,0,1,2.67,1.41l0,0a6.71,6.71,0,0,1,1.73,2.13,9.33,9.33,0,0,1,.3,1.28,1.6,1.6,0,0,0,.7,1.53,3.41,3.41,0,0,1-.37.5c-2.08-2.13-5.74-2.83-5.87-2.85a24.32,24.32,0,0,0-7.4-.23,14.43,14.43,0,0,0-4.62,1.28,13.91,13.91,0,0,0-2-6.25.63.63,0,0,0-.7-.34c-.43.11-.45.59-.46.77a4,4,0,0,1-.36,1.92,1.37,1.37,0,0,1-.09-.54,5.7,5.7,0,0,0-3.53-5.77l-.1,0a1.67,1.67,0,0,1-1.33-1.88c.19-.58,0-.85-.17-1-.39-.26-.8.09-1,.26a4.6,4.6,0,0,0-1.84,4c0,.46,0,1.84-.69,2.14l-.09,0-.07.07a10.5,10.5,0,0,0-2.68,6.34,13.08,13.08,0,0,0-6.48.52,8.42,8.42,0,0,0-3.44,2.37c-.24-.88-.59-1.88-.65-2.05a12.53,12.53,0,0,0-2.28-3.71,8.59,8.59,0,0,0-1.82-1.69,5.47,5.47,0,0,1,2.31-2.56l.06,0a16.47,16.47,0,0,1,4.47-1.73l1-.23-.81-.62a6.42,6.42,0,0,0-7.06-.4c-.19-.09-.4-.17-.58-.24a10.92,10.92,0,0,0-2-3.71l-.21-.26-.31.12a5.61,5.61,0,0,0-3.25,2.87l-.17-.09a4,4,0,0,0-1.32-3.28,7.18,7.18,0,0,0-5.11-1.19l.09.46-.28.39a8.35,8.35,0,0,1,2.07,2.35,6.87,6.87,0,0,1,.25,5.54,14.77,14.77,0,0,0-4.45.46,14.34,14.34,0,0,0-8.43,5.55,17.35,17.35,0,0,0-3.07,6.36,6.78,6.78,0,0,1-1.27-2,2.61,2.61,0,0,0,1.32-1,3.4,3.4,0,0,0,.23-2.88l0-.09a3.35,3.35,0,0,1-.18-2.55,7.17,7.17,0,0,1,2.48-2.84l.91-.52-1-.35a6.49,6.49,0,0,1,2.7-3,10.64,10.64,0,0,1,2.52-1.23l.61-.09-.24-.57a2.66,2.66,0,0,0-2.31-1.67,4.77,4.77,0,0,0-2.58,1,6.65,6.65,0,0,0-3.09.94,2.7,2.7,0,0,0-.38-.27,6.39,6.39,0,0,0-.18-2l-.05-.12a2.35,2.35,0,0,0-2.53-.91,18.46,18.46,0,0,0-1.26-1.9,1.74,1.74,0,0,0-1.78-.73l-.09,0c-1.14.62-1.42,3.21-1.46,3.72V180l-.41.22,0,0a2.42,2.42,0,0,0-.56,2.59,4.33,4.33,0,0,0-2.93-.37c-.58-.34-2.4-1.21-3.6,0a1.79,1.79,0,0,0-.37,1.42,2,2,0,0,0,.8,1.23,2.15,2.15,0,0,0-.4,1.21,2.48,2.48,0,0,0,1,1.88,5.19,5.19,0,0,0,3.36,1.57h.06l.08-.32h0l-.07.31H914a4,4,0,0,1,2.67,1.58c.35.57,1.3,2.17,1.52,2.7s1.76,3.32,3.27,3.27a9.53,9.53,0,0,0,2.81,3.87,19.12,19.12,0,0,0-.16,2.68,4.32,4.32,0,0,1-.64-1.41c0-.05-.44-1.31-1.53-1.53a.77.77,0,0,0-.78.17.84.84,0,0,0,0,1,7.52,7.52,0,0,1,.59,1.7.46.46,0,0,1-.3.41c-.1,0-.38-.1-.57-.7a3.73,3.73,0,0,0-2.55-3,9.78,9.78,0,0,0-1.74-.17h0a7.61,7.61,0,0,1-3.1-.51,7,7,0,0,0-5.34-.66,9,9,0,0,0-2.74,1.5,14.42,14.42,0,0,0-2,2.18,1.39,1.39,0,0,1-.73.52,3.1,3.1,0,0,0-2.13,2A6,6,0,0,0,900,208a5.84,5.84,0,0,0,.18,1.84l.37,1.21.52-1.16a5.4,5.4,0,0,1,1.21-1.72,4.16,4.16,0,0,1,3.05-.89h.07a6.71,6.71,0,0,1,2.69.81,8.23,8.23,0,0,0,3.35.62,2.12,2.12,0,0,0,1.94-1,2.11,2.11,0,0,1,1.88-.8,1.49,1.49,0,0,1,1.14.69,7.59,7.59,0,0,0,.43.67c-.65.36-1.58,1-1.63,1.91,0,.26,0,1,1.25,1.8a17.11,17.11,0,0,0,2.39,1v0l5.31,2.66c4.47,2.11,7.35,7,7.38,7a44.18,44.18,0,0,0,3.37,4.87,9.69,9.69,0,0,0,2.5,1.94,39.26,39.26,0,0,0-4.43.87c-1.38.41-1.79,1.06-1.91,1.42a1,1,0,0,0,0,.41l0,1.55a1.62,1.62,0,0,0,1,1.53l0,0s.47.21,1.26.51a17.41,17.41,0,0,0-8.08,5c-3.65,4.09-1.91,7.73-1.72,8.09,1.74,4.1,8.58,5.21,8.86,5.25a29.17,29.17,0,0,1,7.51,2.29h0a3.81,3.81,0,0,1,2.15,1.8,2.18,2.18,0,0,0-1.36,1.31l0,.08v.09c.15,2.51,4.14,2.85,4.3,2.86a1.93,1.93,0,0,0,1.79-.57,1.81,1.81,0,0,0,.38-1.06,14.15,14.15,0,0,0,2.05.91c4,1.73,10.88,1.85,11.16,1.86H961c1,0,2.88,0,3.25,0a7.84,7.84,0,0,0,1.9.66,4.57,4.57,0,0,0,1.11.16,2.54,2.54,0,0,0,1.43-.4,2.39,2.39,0,0,0,.78-.81l1.41-.14a29.44,29.44,0,0,0,8.15-2.31,13.05,13.05,0,0,0,2.09-1.22,2.17,2.17,0,0,0,.52,1.24,3.84,3.84,0,0,0,2.88.94c2.47.19,3-1.29,3.09-1.52.4-1.19-.84-2.85-1-3.07s0-.26.09-.31l0,0c.69-.82,3-1.82,3.87-2.15a18.67,18.67,0,0,0,8.25-6.4,5.93,5.93,0,0,0,1-4.84c-.6-2.49-4.06-4.83-4.19-4.92a28.26,28.26,0,0,0-5.16-2.31,10.8,10.8,0,0,0,3.66-1.9l.06-.08a1.58,1.58,0,0,0,.2-.75l0-1.77h0c0-.86-1-1.33-1.06-1.37a17.29,17.29,0,0,0-3.71-.86c2.72-1.63,3.34-3.43,3.44-3.82a70.49,70.49,0,0,1,5.31-7.38c2.53-3.12,7.34-5.17,8.65-5.69a7.94,7.94,0,0,0,3.55-2,1.25,1.25,0,0,0,.27-1.05c-.16-.76-1-1.44-2.44-2.06a1.61,1.61,0,0,0-.29-.38h0l0,0a5.2,5.2,0,0,0,2.84-4.43,3.37,3.37,0,0,1,2.13-1.5l.09,0a4.52,4.52,0,0,1,2.79,0l1.51.55-1-1.28a4,4,0,0,0-1.42-1.05,4.22,4.22,0,0,0-3,0,1.46,1.46,0,0,1-1-.27,3.31,3.31,0,0,0-1.79-1.13c-2-.51-3.55,1.65-3.75,1.93-.1.12-.18.16-.21.16l-.06,0c-.19-.26.35-1.34,1.12-2.21l0,0c.26-.37.3-.68.12-.94s-.76-.26-1-.17a15.42,15.42,0,0,0-4.35,2.33,14.65,14.65,0,0,0-.88-1.73,5.39,5.39,0,0,0,1.08-1.47,14.28,14.28,0,0,0,1.32-3.17,15.92,15.92,0,0,1,2.09-4.68l0,0s1.75-2.81,3.8-2.93a4.46,4.46,0,0,1,2.51.59s2.59,2,1.42,4.31a1.21,1.21,0,0,1-.76.48,1.65,1.65,0,0,1-1.2-.6l0,0a1.26,1.26,0,0,1-.47-.69s0-.13.15-.27l0,0a.71.71,0,0,1,.33-.2v-.95a1.92,1.92,0,0,0-1.82,1.16l0,.05c0,.06-.56,1.56,1.37,2.83a3.49,3.49,0,0,0,2.45.39,2.7,2.7,0,0,0,1.68-1.38c.06-.11,1.47-2.58-.92-5.46l0,0a6.88,6.88,0,0,0-1.36-1,4.16,4.16,0,0,0-2.12-4.06l0,0a12,12,0,0,1-3.38-2.42l0,0a3.25,3.25,0,0,1-.71-2.61,4.87,4.87,0,0,1,3.82-2.88,2.05,2.05,0,0,1,2,1.64,13.24,13.24,0,0,1,.49,2.51c0,.11,0,2.52,1.7,3.42.27.18,2.1,1.2,4.69-.73a4,4,0,0,0,1.62-3.62Zm-21.13,22.29a3.28,3.28,0,0,0,.84-.29h0a2.07,2.07,0,0,1-1,.32s.06,0,.1,0ZM986,193.71a24.16,24.16,0,0,1,7.1.21,12.58,12.58,0,0,1,5,2.26,1.66,1.66,0,0,0-1.61.14l-.09.07a1.67,1.67,0,0,0,0,2.4,1.8,1.8,0,0,0,1.3.55h.13c0,.95-.62,10.08-4.33,14.89l-1.66.16c-.59.07-1.8.16-3.2.25,3.6-4.49,7.57-14,7.75-14.47l-.88-.37c-.05.11-4.57,11-8.19,14.93l-5.47.3c2.74-7.86,12.81-15,12.92-15.11l-.55-.78c-.44.31-10.74,7.64-13.4,15.94l-5.09.24a17.43,17.43,0,0,1,.47-1.75l.6.56,0-1.17a4.76,4.76,0,0,0-.11-.77c4.12-12.06,17.4-13.63,17.53-13.64l-.1-.95c-.14,0-13.26,1.55-17.95,13.26a5.59,5.59,0,0,0-1.61-1.73,4.57,4.57,0,0,0-.7-.35,9,9,0,0,1,.4-1.21c.34.08.58.16.68.19a1,1,0,0,0,.58.25c.21,0,.69-.1.75-1v-.08a1.9,1.9,0,0,0-1-1.51c2.27-5,6.3-8,12-8.79a23.92,23.92,0,0,1,8.32.31l.23-.93c-.15,0-15.71-3.82-21.49,9.17a5.9,5.9,0,0,0-.8-.15v-.14a2.3,2.3,0,0,1,.66-1.69l1.22-1.07-1.38.21a19.55,19.55,0,0,1,4-5A14.78,14.78,0,0,1,986,193.71Zm-11.64,18.53a3.19,3.19,0,0,0-1.61,1,2.31,2.31,0,0,1-1.58.65,1.4,1.4,0,0,1-1-.72c-.11-.32-.48-1.27-1.22-1.52a1.21,1.21,0,0,0-1.12.23l-.05,0-.7.92.44.28a1.58,1.58,0,0,1,.63,1,5.09,5.09,0,0,1,0,1.47c-3.22.06-7.92.12-9.51.13.19-.68,1-2.12,4-3.68l-.41-.86c-.53.24-2.1.72-3,.17a1.93,1.93,0,0,1-.84-1.62,1.69,1.69,0,0,0-.75-1.24,3.8,3.8,0,0,0-2.87-.36,5.6,5.6,0,0,1,3.47-2.66h0s2.67-1,3.8.6c.11.18.25.42.38.68a5.56,5.56,0,0,0,.41.95l.9,1.57a2.71,2.71,0,0,0,.26,1.9l0,.05a2.8,2.8,0,0,0,2.22,1,4.32,4.32,0,0,0,1-.13l.07,0a1.41,1.41,0,0,0,.88-1,1.31,1.31,0,0,0-.6-1.13,5.2,5.2,0,0,1,4.26-2.51,2.46,2.46,0,0,1-1.26,1.22l-.29.07.22.93.31-.07a4.61,4.61,0,0,1,3.28.42,4.49,4.49,0,0,1,1.64,2.21A2.16,2.16,0,0,0,974.36,212.24Zm1.08.81a16.87,16.87,0,0,0-.62,2.3l-3.57.17-.45,0v-.73l.26.05a3.25,3.25,0,0,0,2.36-.92,2.42,2.42,0,0,1,1.09-.76h.09l.08,0A1.24,1.24,0,0,1,975.44,213.05Zm-6.35.94a2.41,2.41,0,0,0-.66-1.32l0,0c.12-.07.18-.06.2,0,.24.08.52.61.63,1l.05.11a3.25,3.25,0,0,0,.51.62v1.29l-.73,0A6.14,6.14,0,0,0,969.09,214ZM962,204.77c-1.62-1.09-3.88-.3-4.14-.21a6.27,6.27,0,0,0-4.45,4.13l-.2.8.79-.22c1.76-.49,2.59-.28,3,0a.82.82,0,0,1,.38.56,2.67,2.67,0,0,0,2.62,2.74,5.32,5.32,0,0,0-2.33,3.19c-3.64.07-11.54-.19-11.63-.2h0a10.15,10.15,0,0,1-.4-8.93,12.54,12.54,0,0,1,3.67-4.58,2.65,2.65,0,0,0,.72-1.95.39.39,0,0,1,0-.1.35.35,0,0,1,.17,0l1.06.53c.73.38,3,0,3.71-.08a9,9,0,0,1,7.17,2.64.26.26,0,0,0,0,.07A6.06,6.06,0,0,0,962,204.77Zm2.5,4.73h1a8.37,8.37,0,0,1,8.6-3.38c0,.13,0,.29.08.46-1.75-.18-5.7-.42-7.93,3.67l.63.29c.27.2.32.34.32.36s-.14.17-.27.24a2.14,2.14,0,0,1-2.18-.47,1.82,1.82,0,0,1-.14-1.26m8.71-2a10.52,10.52,0,0,0-.36,1.12,5.94,5.94,0,0,0-.71-.08,5.31,5.31,0,0,0,.62-1.08Zm-.77-2.49a.26.26,0,0,1,0,.07,10.52,10.52,0,0,0-3,.46,6.58,6.58,0,0,0-1,.41,9.38,9.38,0,0,0,.86-1.31,3.24,3.24,0,0,1,3.23-1.31l.35.07A3.07,3.07,0,0,0,972.55,204.9Zm-3.91-1.08s-.06.11-.1.18a6.21,6.21,0,0,0-.88,1.37l-.74,1.6a9.68,9.68,0,0,0-1.37,1.62,1.51,1.51,0,0,0-1.58.11l-.32-1.36a5.46,5.46,0,0,0-.39-1,5.76,5.76,0,0,1-.19-3,9.28,9.28,0,0,1,1.84-3.81,2.56,2.56,0,0,0,.61.9,10.77,10.77,0,0,0,2.19,1.51l0,0S968.78,202.31,968.64,203.82Zm.88-15.68c1.39-.7,1.18-3,1.17-3a3.58,3.58,0,0,1,1.09-2.81,2.6,2.6,0,0,0,2.07,2.45,4.69,4.69,0,0,1,2.89,4.79v.06a1.53,1.53,0,0,0,.55,1.41,1,1,0,0,0,.91,0c.51-.25.74-1,.83-1.72a13,13,0,0,1,1.31,5.21,15.44,15.44,0,0,0-3,2.08,20.13,20.13,0,0,0-4,5c0-.09,0-.17,0-.25a7.42,7.42,0,0,0,1.26-3.22,4.82,4.82,0,0,0,0-.93h0a4.33,4.33,0,0,1,3.67-4l-.06-.47.06.47-.12-.94a5.79,5.79,0,0,0-3.47,2q0-.59-.12-1.2c1.29-1.46,1.15-5,1.13-5.45l-1,0a12.36,12.36,0,0,1-.41,3.88,52.29,52.29,0,0,0-1.63-6.5l-.91.3s.58,1.75,1.1,4a8,8,0,0,0-1.22-1l-.5.82a5.91,5.91,0,0,1,2.22,2.62h0a25.66,25.66,0,0,1,.34,2.67,14.33,14.33,0,0,0-3.12-3.84l-.61.74s4,3.37,3.6,6.63a9,9,0,0,1-.58,2,5,5,0,0,0-.4-1,10.16,10.16,0,0,0-1.47-2.14l-1.58-1.47c-.14-.2,0-.73.11-1l0-.1a1.59,1.59,0,0,0-.88-1.71l-.11,0a1.7,1.7,0,0,0-1.51.55A10,10,0,0,1,969.52,188.14Zm-9.45,7a12.23,12.23,0,0,1,4.66-.61,4,4,0,0,0,2.47-.07l0,0c.36-.56.94-1.13,1.26-1.13h0a.72.72,0,0,1,.35.6,2,2,0,0,0,.06,2l0,0c.47.43,1.4,1.29,1.58,1.48a9,9,0,0,1,1.28,1.86l0,.07a6.08,6.08,0,0,1,.54,1.75c0,.37,0,.79.06,1.1a3.87,3.87,0,0,0-2.86.79,2.43,2.43,0,0,0-1.49-2,10.09,10.09,0,0,1-1.91-1.33,1.38,1.38,0,0,1-.45-1.11l.25-1.3-1,.84a8.67,8.67,0,0,0-2.5,3.86,10.11,10.11,0,0,0-6.83-2.53A7.87,7.87,0,0,1,960.07,195.17Zm-11.71-14.62a10.67,10.67,0,0,1,1.51,2.62,3.6,3.6,0,0,0-2.68,1.33,3.7,3.7,0,0,0-1.28-1.57A4.69,4.69,0,0,1,948.36,180.55Zm-13.53,8.8a.9.9,0,0,1,.42.2l.3.6.47-.48a3.29,3.29,0,0,1,.86-.64,3.8,3.8,0,0,0-.28,1.77,2.81,2.81,0,0,0-.3.26l-.06.1a3.06,3.06,0,0,0-.25.6,1.9,1.9,0,0,1-.46-.07c-1.46-.53-1.42-1.31-1.42-1.33v0a2.17,2.17,0,0,0-.15-.88A1.51,1.51,0,0,1,934.83,189.35Zm0,14.32a1.69,1.69,0,0,1-.89-.63,2.4,2.4,0,0,1-.33-1.63,1.93,1.93,0,0,1,1.68-1.47h0A11.65,11.65,0,0,0,934.79,203.67Zm.1,1.66-.33-.41a.64.64,0,0,1,.28-.15C934.85,205,934.87,205.17,934.89,205.33Zm-.57-12.39v-.07a.61.61,0,0,0,0-.12,1.58,1.58,0,0,1,.5-.35,4,4,0,0,0,.46.2h0a3.59,3.59,0,0,0,.66.1,1.66,1.66,0,0,0,.06.21,1.57,1.57,0,0,0,.31.56l0,.05a2.45,2.45,0,0,0-.73,1.32l-.06,0a1.51,1.51,0,0,1-1.32-.53A3.18,3.18,0,0,0,934.32,192.94Zm0,2.68a2.38,2.38,0,0,0-.49.85,3,3,0,0,0-.14.82,3.64,3.64,0,0,0-1.18,0h0c.23-.3.84-1.41,1.18-2A2.61,2.61,0,0,0,934.31,195.62Zm.12,3.55a1.76,1.76,0,0,0-.37.17l.17-.39Zm.3-2.42a1.63,1.63,0,0,1,.94-.95l.43-.09h.23a1.66,1.66,0,0,1,1.38.91,5.23,5.23,0,0,0-2.07,2.28A1.7,1.7,0,0,1,934.73,196.75Zm1.8-2a2.72,2.72,0,0,1,.44-.6,1.62,1.62,0,0,1,1.51-.42,1.64,1.64,0,0,1,.79,2.12l0,0V196a.49.49,0,0,1-.25.11,2.58,2.58,0,0,0-.43.07A2.6,2.6,0,0,0,936.53,194.76Zm2.28-1.91,0,0a2.87,2.87,0,0,0-1.69.11,1,1,0,0,1-.2-.32,1.31,1.31,0,0,1,.16-1,1.23,1.23,0,0,1,1.43-.19A1.15,1.15,0,0,1,938.81,192.85Zm-5.1-1.19.16.16a2.59,2.59,0,0,0-.49.5h-.06A5.16,5.16,0,0,0,933.71,191.66Zm-5.21,1.52a14.52,14.52,0,0,1,4.35-3.82l.07.11a1.6,1.6,0,0,1,.24.79c0,.05,0,.13,0,.24a4.62,4.62,0,0,1-1.36,2.07l-.07.07c-.38.44-.31.74-.18.92.28.37.76.16.92.09l0,0a3.17,3.17,0,0,1,.86-.35,2.12,2.12,0,0,1-.3,1.05l0,0c-.41.75-1.12,2-1.3,2.28s-.52.7-.28,1.17a.85.85,0,0,0,.91.4h0a3,3,0,0,1,1,0l.07,0h0a.59.59,0,0,1-.07.14l0,0a11,11,0,0,0-.81,2.25,7.26,7.26,0,0,0,.88,4.4,8.72,8.72,0,0,0,1.42,1.62,1,1,0,0,0,.5.15.62.62,0,0,0,.39-.14.75.75,0,0,0,.11-.89,14.39,14.39,0,0,1,.25-5.59v0a4.69,4.69,0,0,1,2.12-2.81l.07,0,0-.05a1,1,0,0,1,.66-.22h.06a1.22,1.22,0,0,0,1-.88,2.59,2.59,0,0,0-.56-2.76,2.15,2.15,0,0,0-.62-2.74l0,0a2.19,2.19,0,0,0-1.41-.24,4.07,4.07,0,0,1,.67-1.9l.47-.77-.9.05a3.75,3.75,0,0,0-2.1.91,1.86,1.86,0,0,0-.63-.27l-.15,0a9.11,9.11,0,0,1,1.46-.42h0a13.89,13.89,0,0,1,4.5-.41l.35,0,.14-.33a7.81,7.81,0,0,0-.18-6.71,9.32,9.32,0,0,0-1.42-1.84,6.19,6.19,0,0,1,3.25,1.07,3.14,3.14,0,0,1,.91,2.76l0,.36.33.13s2.25,1,2.15,2.46a2.33,2.33,0,0,1-.08.31c-.06.13-.12.25-.16.36l-1,2.69,1.84-2.21a1.52,1.52,0,0,0,.23-.46c.36-.72,1.36-2.31,3-2a7,7,0,0,1,1,.41l.27.18.26-.18a5.62,5.62,0,0,1,5.31-.33,13.93,13.93,0,0,0-3.7,1.57,6.41,6.41,0,0,0-2.88,3.43l-.13.37.33.2a7.94,7.94,0,0,1,1.91,1.69l0,0a12.23,12.23,0,0,1,2.1,3.41,26.23,26.23,0,0,1,.79,2.69,9.14,9.14,0,0,0-1,1.93,8.74,8.74,0,0,1-2.87.13l-1.07-.54a1.31,1.31,0,0,0-1,0,1.07,1.07,0,0,0-.55.8v.1a2,2,0,0,1-.33,1.23,13.07,13.07,0,0,0-4,5,10.94,10.94,0,0,0,.15,9.29c-4.2-.18-11.09-.79-11.15-.8-1.23-.14-2.42-.3-3.54-.47a16.44,16.44,0,0,1-2.63-2.66,13.2,13.2,0,0,1-2.51-6.46A18,18,0,0,1,928.5,193.18Zm-3.14-10.37a6.08,6.08,0,0,1,2.66-.74h.15l.12-.08a4.21,4.21,0,0,1,2.15-.9,1.44,1.44,0,0,1,1.15.62,16.09,16.09,0,0,0-2.23,1.18,7.35,7.35,0,0,0-3.1,3.52,2.85,2.85,0,0,0-.92,0c.16-.61.29-1.3.36-1.69v0A3.4,3.4,0,0,0,925.36,182.81Zm-7.75,1s-1.46-1.72-.42-2.81l.39-.2,0,0A.92.92,0,0,0,918,180c.09-1,.43-2.52.91-2.88.12,0,.4,0,.73.41a18.73,18.73,0,0,1,1.28,2l.05.08a.7.7,0,0,0,.86.17c.24,0,1.11-.15,1.48.4a4,4,0,0,1,.09,1.76l-.23.52.55.14c.12,0,1.16.36,1,2.06a13.75,13.75,0,0,1-.61,2.39l-.24.22-.21.28a2.18,2.18,0,0,0-.42-1,1.61,1.61,0,0,0-1-.59c-.23-.63-.82-1.89-1.75-2h-.1c-.21,0-1.22.23-1.5,2.49a2.16,2.16,0,0,0-.78,1.51,3.2,3.2,0,0,1-1.42-2.35,2,2,0,0,1,.78-1.11l.43-.3Zm-3.88,5.07a4.39,4.39,0,0,1-2.58-1.27l0,0a1.62,1.62,0,0,1-.66-1.17,1.45,1.45,0,0,1,.46-.95l.52-.43-.58-.34a1.57,1.57,0,0,1-.81-.89.85.85,0,0,1,.16-.64c.85-.86,2.51.23,2.53.24l.18.12.2-.05a3.51,3.51,0,0,1,3.28.79,2.88,2.88,0,0,0-.61,1.21v.05a3.51,3.51,0,0,0,1.07,2.55A6.4,6.4,0,0,0,913.73,188.85Zm8.42,7.82-.19-.47-.46.21c-.53.25-1.75-1.24-2.49-2.69-.27-.66-1.52-2.71-1.56-2.79a4,4,0,0,0-2.18-1.71,7.22,7.22,0,0,1,1.89-.23,3,3,0,0,1,1.83,1.44l.22.4.86-.4a4,4,0,0,0-.26-.5l-.51-1c-.57-1.27.24-1.81.33-1.86l.22-.12,0-.25c.12-1.23.46-1.7.64-1.83a3.24,3.24,0,0,1,1,1.61l.1.33h.34a.77.77,0,0,1,.61.27,2.53,2.53,0,0,1,.21,1.71l-.42,2.07,2.28-3a1.68,1.68,0,0,1,1.34-.52A8.52,8.52,0,0,0,923.9,190a4.26,4.26,0,0,0,.16,3.34,2.45,2.45,0,0,1-.11,2.05,1.83,1.83,0,0,1-1.17.73l-.48.06.07.49a7.68,7.68,0,0,0,2.06,3.41.36.36,0,0,0,0,.11A10.55,10.55,0,0,1,922.15,196.67Zm-6.84,9.22a3,3,0,0,0-2.74,1.26l0,.06c-.24.53-1.07.51-1.08.51h-.07a7.45,7.45,0,0,1-2.9-.54,7.31,7.31,0,0,0-3.08-.89,5.05,5.05,0,0,0-3.74,1.11,4.5,4.5,0,0,0-.72.78c0-.11,0-.18,0-.2a5.07,5.07,0,0,1,.36-2.1l0,0a2.18,2.18,0,0,1,1.42-1.43,2.35,2.35,0,0,0,1.36-.94,13.6,13.6,0,0,1,1.81-2,8.15,8.15,0,0,1,2.38-1.31,6.16,6.16,0,0,1,4.57.56,8.17,8.17,0,0,0,3.61.65,9.83,9.83,0,0,1,1.54.15c1.49.34,1.84,2.19,1.84,2.21v.06c.46,1.54,1.59,1.4,1.64,1.4l.07,0a1.41,1.41,0,0,0,1-1.38,5.46,5.46,0,0,0-.47-1.58,2,2,0,0,1,.35.58,4.87,4.87,0,0,0,1.62,2.6,12,12,0,0,0,.74,3,35.2,35.2,0,0,1-3.43-2.06,20.36,20.36,0,0,0-3-1.95,6.67,6.67,0,0,0-5.37-2.61v1a5.55,5.55,0,0,1,2.79.67,14.19,14.19,0,0,0-2.5-.42c-.47-.45-2.18-1.64-6.64-1.1l.12.95a11.65,11.65,0,0,1,4.35.14,16.27,16.27,0,0,0-6.7,1.95l.49.82A15.91,15.91,0,0,1,911.1,204a4.25,4.25,0,0,1-2.8,1.22l-.1,1,.3,0c1.78,0,3.51-1.68,4-2.24a13,13,0,0,1,5.33,1.26,21,21,0,0,1,2.94,1.89l.07,0,.31.21a3.48,3.48,0,0,1-2.22-.92l-.8.52c.93,1.42,4.18,1.49,4.76,1.49a11.62,11.62,0,0,0,2.46,1.21c.15.32.32.64.5,1l-.49-.15-.13,0a19,19,0,0,1-3.92-.62,9.43,9.43,0,0,1-3.14-1.55,5.3,5.3,0,0,1-1-1.27A2.5,2.5,0,0,0,915.31,205.89Zm1.63,5.19c-.62-.4-.78-.72-.79-.83v-.08c0-.4.72-.92,1.33-1.23l.11.1a10.23,10.23,0,0,0,3.49,1.74,20.05,20.05,0,0,0,4.09.65c.41.13,1,.31,1.42.39l.2.31,0,0c0,.05.77,1,1.61,1.78-3.55-.58-6.06-1.16-6.12-1.17A19.06,19.06,0,0,1,916.94,211.08Zm64.45,47.2a17.55,17.55,0,0,1-2.68,1.66l-.06,0a28.81,28.81,0,0,1-7.87,2.23l-.92.09v-.07a1.83,1.83,0,0,0-.69-1.46c3.62-.54,11.14-2,11.66-4.92v-.14c-.05-.42-.71-2.51-8.47-3.76a11.72,11.72,0,0,0,.21-1.57c3.3.43,10.25,2.07,9.93,5.69l-.13,1.51Zm-13,1.63a19.65,19.65,0,0,0,3.1-5.12,16.77,16.77,0,0,0,.66-1.91c6.51,1,7.58,2.62,7.72,2.89C979.32,257.77,973,259.29,968.4,259.91Zm3.15-14.29a4.28,4.28,0,0,0,2.29-2.25c6.7-.05,10.7-1.74,12-2.38a3.6,3.6,0,0,0,1.91,1.62,6.8,6.8,0,0,0,4.48-.3c1.45,2,1.93,3.77,1.42,5.34-1,3.06-5.44,4.37-5.46,4.38a8.78,8.78,0,0,0-4.83,2.73c-1.17-3.88-8.79-5.1-10.73-5.34A7.71,7.71,0,0,0,971.55,245.62Zm23.54-6.29s3.3,2.23,3.82,4.38a5,5,0,0,1-.8,4l0,0a18,18,0,0,1-7.8,6c-.33.13-3.23,1.26-4.23,2.4a1.13,1.13,0,0,0-.17,1.6c.45.59,1,1.65.83,2.15v0s-.3,1-2.12.84h-.08a3,3,0,0,1-2.13-.62,1.58,1.58,0,0,1-.23-1.46l.25-1.14-.11,1.23,1.16-2.57c0-.09,1.14-2.45,5-3.34.2-.06,5-1.46,6.13-5,.64-2,0-4.16-1.8-6.52l-.24-.3-.34.16s-2.34,1.08-4.1.42a2.73,2.73,0,0,1-1.6-1.56l-.22-.49-.47.28s-4.19,2.47-12.24,2.47h-.32l-.12.3s-.93,2.25-2.38,2l-1.47-.23,1.06,1s2.8,2.84.32,8.89c0,0-1.82,4.39-3.92,5.69l-1.4.88H967s1.92,0,2,1.17a1.82,1.82,0,0,1-.72,1.12,2.2,2.2,0,0,1-1.8.11h0a4.54,4.54,0,0,1-2.85-1.61,2,2,0,0,1-.09-1.73,9.18,9.18,0,0,1,1.71-1.79s4.68-4,2-9.38l0-.06a13.33,13.33,0,0,0-2.49-3l-.14-.09-.17,0a7.53,7.53,0,0,1-7.24-3.77l-.17-.29-.32.06c-.08,0-8,1.43-13.63-1.41l-.31-.16-.24.24a6.47,6.47,0,0,1-4,1.78h0A4.73,4.73,0,0,1,935,240.7l-.21-.22-.29.11c-.2.06-5,1.76-6.28,4.59,0,0-1.1,2.92,2.31,4.68a85.86,85.86,0,0,0,11.18,4.83l.07,0a4,4,0,0,1,2.55,2.13l.06.42a4.08,4.08,0,0,0,.16,1l.93-.2-.14-.92a3.12,3.12,0,0,1,1.24-2.76l.06,0s2.76-2.62,9.56-3.62a63.55,63.55,0,0,1,10.35-.79,6.46,6.46,0,0,1,.41,1.61c-2.74,0-13.49.06-19.08,3.86a1.93,1.93,0,0,0-.95,1.64c.06.76.73,1.39,2,1.93.2.09,4.89,2.17,12.91,2.17h.44a2.67,2.67,0,0,0,.35,1.13,2.74,2.74,0,0,0,.36.48c-1.11,0-2.33,0-2.64,0-.07,0-7-.13-10.82-1.79l0,0a9.49,9.49,0,0,1-2.63-1.34l-1.37-1.37.58,1.85a1.71,1.71,0,0,1-.08,1.3c-.16.2-.48.28-1,.23,0,0-3.19-.3-3.42-1.87a1.43,1.43,0,0,1,1.11-.71l.45-.08-.06-.46c0-.07-.28-1.89-2.85-2.94a29.52,29.52,0,0,0-7.76-2.37c-.07,0-6.63-1.07-8.15-4.7l0,0c-.07-.14-1.72-3.33,1.6-7,0,0,2.77-3.5,8.84-5.1a43.1,43.1,0,0,0,5.76,1.61c.28.05,6.79,1.28,8.73,1.41.08,0,7.08.82,12.18.82l1.23,0c.38,0,9.39-.19,12.44-.75.38,0,9.33-1.17,11.83-2.08.24-.06,1-.27,2-.58A37.42,37.42,0,0,1,995.09,239.33Zm-32.51,20.23-.06.11c-.06.18-.1.35-.14.52-8.1.08-13-2.06-13-2.09-1.26-.52-1.43-1-1.45-1.13,0-.33.37-.67.53-.77,5.33-3.62,16-3.72,18.59-3.69a7.5,7.5,0,0,1-2.49,5A10.25,10.25,0,0,0,962.58,259.56ZM966.06,249a66.1,66.1,0,0,0-10,.81c-6.83,1-9.72,3.54-10,3.85a3.73,3.73,0,0,0-1.38,1.86,5,5,0,0,0-2.61-1.72A88.83,88.83,0,0,1,931,249c-2.63-1.37-1.9-3.4-1.88-3.46,1-2.09,4.45-3.58,5.45-4a5.51,5.51,0,0,0,3.82,1.62,7.15,7.15,0,0,0,4.44-1.82c5.25,2.51,12,1.66,13.6,1.41a8.51,8.51,0,0,0,7.83,4A12.71,12.71,0,0,1,966.06,249Zm27.85-17.23h0Zm-.46,1.78a.9.9,0,0,1,0,.19c-1.15,1.1-5.21,2.29-6.71,2.66l-.05,0c-2.36.87-11.55,2-11.67,2-3,.55-12.22.74-12.31.74a117.27,117.27,0,0,1-13.3-.8c-1.91-.13-8.57-1.38-8.64-1.4a43.25,43.25,0,0,1-8.28-2.61c-.47-.26-.47-.56-.46-.58v-.95c2.92,1.62,9.78,3,10.09,3.06a116.24,116.24,0,0,0,13.9,1.68,44.8,44.8,0,0,0,5.32.25c4.38,0,8.92-.33,9.18-.35a89,89,0,0,0,11-1.36,46.44,46.44,0,0,0,11.92-3.46Zm-.58-2.3a1.11,1.11,0,0,1,.49.41,45.62,45.62,0,0,1-12,3.54,88,88,0,0,1-10.92,1.34c-.1,0-9.56.71-14.37.11A116.46,116.46,0,0,1,942.27,235c-.08,0-7.73-1.55-10.15-3.16a2.57,2.57,0,0,1,1.11-.58,33.37,33.37,0,0,1,4.92-.91,2.12,2.12,0,0,1-1,1.11l-1.39.44,4.09,1.38a77.25,77.25,0,0,0,11.78,2.05c.28,0,6.79.51,9,.51.37,0,9.12,0,10.7-.27a93.45,93.45,0,0,0,10.24-1.31c.66-.13,6.48-1.33,7.86-2.15l.79-.47-.84-.38a2,2,0,0,1-.82-.91A22.69,22.69,0,0,1,992.87,231.23Zm-54.55.51a4.54,4.54,0,0,0,.87-1.42,27.65,27.65,0,0,0,4.7,1.55c1.45.37,9.16,1.12,9.47,1.15a86.86,86.86,0,0,0,9.77.47c1.13,0,1.91,0,2,0,2.36.13,12.41-1,12.82-1a32.42,32.42,0,0,0,9.56-1.94,3.34,3.34,0,0,0,.68,1,66.73,66.73,0,0,1-6.92,1.74,92.63,92.63,0,0,1-10.13,1.29c-1.54.23-10.5.26-10.59.26-2.19,0-8.87-.49-8.94-.5a74.92,74.92,0,0,1-11.57-2Zm53.83-6.44,0,.12a3.57,3.57,0,0,1-.44.91,1.16,1.16,0,0,0,.08-.42,1.11,1.11,0,0,0-1.11-1.08,1.14,1.14,0,0,0-1.17,1.08,1,1,0,0,0,.23.66c-4.62-2.55-7.85,1.75-7.88,1.79l.77.57c.11-.16,2.91-3.88,7-1.31l.46-.74a1.26,1.26,0,0,0,.59.15,1.11,1.11,0,0,0,.73-.27,9.76,9.76,0,0,1-4.13,2.85,31.27,31.27,0,0,1-9.33,1.9c-.11,0-10.47,1.14-12.71,1h0a98.57,98.57,0,0,1-11.69-.45c-.08,0-8-.77-9.36-1.13a24.18,24.18,0,0,1-7.19-2.93,3.73,3.73,0,0,1,5,1l.72-.63a4.74,4.74,0,0,0-6.33-1.09l.42.61a6.65,6.65,0,0,1-1.1-1,46,46,0,0,1-3.28-4.74,21.32,21.32,0,0,0-3.34-4.22,4.79,4.79,0,0,1,3.77-1,7.33,7.33,0,0,1,3.84,1.66,8.41,8.41,0,0,0,4.82,1.84,6,6,0,0,0,4.13-1.48c.26-.18,3.28-2.18,5.94.31l0,0s3.59,2.77,7.11.06l0,0s2.79-2.53,5.48-1.12a11.06,11.06,0,0,1,2.06,1.4,6,6,0,0,0,3.78,1.61,4.56,4.56,0,0,0,3-1.22l0,0A6.41,6.41,0,0,1,977,218.2a4,4,0,0,1,2.73,1.16,5.76,5.76,0,0,0,7.35.42l.08-.07s2.62-2.86,5.48-1.25a10.18,10.18,0,0,0,3.07,1.69A43,43,0,0,0,992.15,225.3Zm-1.35.61c0,.26-.38.19-.38,0a.24.24,0,0,1,.22-.13A.19.19,0,0,1,990.8,225.91Zm6.79-8.2-.19.23a2.94,2.94,0,0,1-2.2-.84l-.69.65a4,4,0,0,0,2.15,1.12c-.1.14-.22.28-.34.44a8.15,8.15,0,0,1-3.16-1.62l-.06,0c-3.3-1.89-6.25,1-6.65,1.38a4.74,4.74,0,0,1-6.07-.33,5,5,0,0,0-3.43-1.46,7.25,7.25,0,0,0-4.54,2.09c-2.75,2.34-5.41-.25-5.51-.35a11.69,11.69,0,0,0-2.3-1.58c-3.2-1.68-6.26,1-6.55,1.25a4.89,4.89,0,0,1-5.91-.05c-3.29-3.07-7.1-.39-7.14-.37l0,0a5,5,0,0,1-3.46,1.27h0a7.48,7.48,0,0,1-4.22-1.61,8.17,8.17,0,0,0-4.36-1.88,5.67,5.67,0,0,0-4.57,1.24l-.55-.49a3,3,0,0,0,1.34-.49l-.53-.8a2.7,2.7,0,0,1-2.08.27h0l0,.06a13.64,13.64,0,0,0-1.9-1.1l-1.71-.86c1.66.36,6,1.23,10.79,1.79.08,0,8.36.74,12.33.85.08,0,6.25.21,10.22.21.72,0,1.37,0,1.9,0s11.86-.13,13.2-.21l10.18-.48c.35,0,8.61-.42,10.53-.66a80.57,80.57,0,0,0,10.39-1.54A18.17,18.17,0,0,0,997.59,217.71Zm11-9c1.07.54,1.26,1,1.29,1.09a.28.28,0,0,1,0,.24l0,.05a6.45,6.45,0,0,1-2.78,1.54h0l-.27.1c-.42.15-.86.28-1.28.39a17.07,17.07,0,0,0,2.41-2.08A2.59,2.59,0,0,0,1008.56,208.68Zm-3.28-10.86c-.59.79-1.29,2-.69,2.85a1.07,1.07,0,0,0,.8.39,1.21,1.21,0,0,0,1-.51l0,0s1.33-1.94,2.74-1.56h0a2.24,2.24,0,0,1,1.25.8l0,0a2.32,2.32,0,0,0,1.8.57h.08l.08,0a3.66,3.66,0,0,1,1-.23,4.42,4.42,0,0,0-.48.15,4.2,4.2,0,0,0-2.81,2.1l-.06.12v.13a4.23,4.23,0,0,1-2.35,3.68,1.07,1.07,0,0,0-.63.75.89.89,0,0,0,.37.82c.1.09.54.6-.27,1.5a20.36,20.36,0,0,1-4.29,3.31h0l-.16,0-.06,0a21.39,21.39,0,0,1-2.15.52,21.4,21.4,0,0,0,1.35-4.73,8.6,8.6,0,0,1,3.74-1.31l-.08-1a10.33,10.33,0,0,0-3.48,1l.06-.54a14.17,14.17,0,0,1,2.32-2.55h0c.6-.47,2.47-.61,3.5-.59v-1c-.13,0-.68,0-1.36,0a11.11,11.11,0,0,1,3.72-1.35l-.11-.95a12.92,12.92,0,0,0-6.47,3.14,4.17,4.17,0,0,0-.37-2l-.86.42a3.06,3.06,0,0,1-.25,3l0,0,0,.06a21,21,0,0,0,0-2.12,10.8,10.8,0,0,0-.62-2.94A17.8,17.8,0,0,1,1005.28,197.82Zm-4,5.15c0,.06.32,5.88-1.91,10.49-1.51.25-3.15.46-4.5.62,3.6-5.42,4-14.4,4-14.8l-.55,0,.06,0a1.3,1.3,0,0,0,1-1.15l.22-.14A12.06,12.06,0,0,1,1001.25,203Zm-1.19-11.63,0,.07a5.09,5.09,0,0,0-.4,1.47c-.06-.26-.13-.5-.18-.66a6.28,6.28,0,0,0-1.34-1.92l0,0a2.46,2.46,0,0,1,0-2.27l-.83-.46a3.89,3.89,0,0,0-.43,1.73,12.48,12.48,0,0,0-1.89-1,4.45,4.45,0,0,1-.2-3.91L994,184a5.5,5.5,0,0,0-.22,3.76,11.12,11.12,0,0,1-2.67-1.78,4.05,4.05,0,0,1,.42-4.14,9.53,9.53,0,0,0,1-1.38,1.13,1.13,0,0,0,0-1.39l-.76.58a.17.17,0,0,1,0,.22l0,.06a9.16,9.16,0,0,1-.9,1.23l0,0a4.66,4.66,0,0,0-1,3.09,5.35,5.35,0,0,1-.36-2.73,7.39,7.39,0,0,1,1.8-3.28,6.74,6.74,0,0,0,1.68-3.53,2.51,2.51,0,0,0,0-.47,4.57,4.57,0,0,1,1,1.17,5.23,5.23,0,0,1,.46,3,11.54,11.54,0,0,1-.48,1.84,2.18,2.18,0,0,0,0,1.85,1.17,1.17,0,0,0,1,.47h0a3.4,3.4,0,0,0,2.14-.93,4.37,4.37,0,0,1,1.73-.66,5.37,5.37,0,0,0-1,1.68c0,.12-.88,2.85.21,4.31l.86,1.14v-1.43a2.1,2.1,0,0,1,.26-1,1.57,1.57,0,0,0,.23.34s2,2.31,1.4,3.95A10.82,10.82,0,0,1,1000.06,191.34Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.5"/>
            <path d="M988.07,219.49l.73.6a2.6,2.6,0,0,1,1.91-1h.08a2,2,0,0,1,1.6,1l.79-.53a3,3,0,0,0-2.38-1.46A3.55,3.55,0,0,0,988.07,219.49Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M983.62,218.44c-.7.1-1.47-.68-1.7-1l-.76.58a3.53,3.53,0,0,0,2.33,1.36h.25a4.38,4.38,0,0,0,2.47-1.24l-.69-.65A3.45,3.45,0,0,1,983.62,218.44Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M977,220a2.08,2.08,0,0,1,1.68,1l.87-.41a3,3,0,0,0-2.49-1.54c-1.2-.09-2.44,1.22-2.57,1.37l.71.64C975.42,220.77,976.31,220,977,220Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M969.49,218.45a1.83,1.83,0,0,1-1.31-1l-.81.51a2.77,2.77,0,0,0,2,1.4l.32,0a4.64,4.64,0,0,0,2.75-1.22l-.65-.7A3.52,3.52,0,0,1,969.49,218.45Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M962.46,219.53h0a3,3,0,0,1,1.91,1l.73-.62a3.83,3.83,0,0,0-2.7-1.32A3.24,3.24,0,0,0,960,220l.76.58A2.33,2.33,0,0,1,962.46,219.53Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M955.72,217.93a2.57,2.57,0,0,1-2-1l-.68.68a3.63,3.63,0,0,0,2.54,1.23h.23a3.55,3.55,0,0,0,2.34-1.39l-.78-.55A2.59,2.59,0,0,1,955.72,217.93Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M948.48,219.58h0a2.91,2.91,0,0,1,1.89,1l.73-.61a3.81,3.81,0,0,0-2.62-1.33h0A3.24,3.24,0,0,0,946,220l.74.6A2.34,2.34,0,0,1,948.48,219.58Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M941.78,218a2.45,2.45,0,0,1-1.86-.91l-.68.66a3.38,3.38,0,0,0,2.44,1.21h.16a3.88,3.88,0,0,0,2.55-1.45l-.76-.57A3,3,0,0,1,941.78,218Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M932.79,217.52a3,3,0,0,0-2.42,1.12l.7.65a2.17,2.17,0,0,1,1.66-.82,3.21,3.21,0,0,1,2,1.2h0l.15-.11.61-.45A4,4,0,0,0,932.79,217.52Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M937.46,224.24a1.26,1.26,0,0,0-1.25-1.19,1.24,1.24,0,0,0-1.22,1.19,1.2,1.2,0,0,0,1.22,1.2A1.23,1.23,0,0,0,937.46,224.24Zm-1.51,0a.27.27,0,0,1,.26-.23.31.31,0,0,1,.29.23C936.5,224.53,936,224.59,936,224.24Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M947.38,225.12a1.25,1.25,0,0,0-1.28-1.25,1.25,1.25,0,1,0,0,2.5A1.25,1.25,0,0,0,947.38,225.12Zm-1.62,0a.32.32,0,0,1,.34-.29.29.29,0,1,1,0,.58A.32.32,0,0,1,945.76,225.12Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M957.22,224.35a1.25,1.25,0,0,0-1.28,1.25,1.28,1.28,0,0,0,2.55,0A1.25,1.25,0,0,0,957.22,224.35Zm0,1.54a.33.33,0,0,1-.32-.29.32.32,0,0,1,.64,0A.33.33,0,0,1,957.22,225.89Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M970,224.64a1.25,1.25,0,1,0,1.25,1.25A1.26,1.26,0,0,0,970,224.64Zm0,1.54a.29.29,0,1,1,0-.58.29.29,0,0,1,0,.58Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M981.67,224.67a1.26,1.26,0,0,0-1.24,1.24,1.23,1.23,0,0,0,1.24,1.25,1.25,1.25,0,0,0,1.3-1.25A1.27,1.27,0,0,0,981.67,224.67Zm0,1.54a.29.29,0,0,1-.29-.3.31.31,0,0,1,.29-.29.33.33,0,0,1,.35.29C982,226.19,981.75,226.21,981.67,226.21Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M988.86,228.82l.48-.82a4.82,4.82,0,0,0-6.38,1.24l.77.56A3.83,3.83,0,0,1,988.86,228.82Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M970.9,228.22l.7.65a5.72,5.72,0,0,1,8-.27l.59-.75A6.74,6.74,0,0,0,970.9,228.22Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M972.07,229.4l.69.67a4.08,4.08,0,0,1,5.74-.19l.62-.72C975.45,226,972.11,229.37,972.07,229.4Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M958.14,228.09l.65.69a6.48,6.48,0,0,1,8.91.07l.62-.72A7.49,7.49,0,0,0,958.14,228.09Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M959.32,229.5l.67.68a4.72,4.72,0,0,1,6.53,0l.6-.74A5.71,5.71,0,0,0,959.32,229.5Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M946,227.66l.64.7c.15-.13,3.78-3.29,8,.41l.63-.72A6.87,6.87,0,0,0,946,227.66Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M947.06,228.93l.63.71a4,4,0,0,1,5.74.32l.68-.66A5,5,0,0,0,947.06,228.93Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M935.54,225.93l.49.82a5.51,5.51,0,0,1,7.05,1.3l.74-.61C940.31,223.2,935.59,225.9,935.54,225.93Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M952.63,204.7a.81.81,0,0,0-.82.82.82.82,0,0,0,1.64,0A.81.81,0,0,0,952.63,204.7Zm0,1a.14.14,0,0,1-.13-.13.13.13,0,1,1,.26,0A.14.14,0,0,1,952.63,205.65Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M951.14,203.74a.8.8,0,0,0-.82.8.83.83,0,0,0,1.65,0A.81.81,0,0,0,951.14,203.74Zm0,1a.15.15,0,0,1-.13-.16.13.13,0,0,1,.13-.13.12.12,0,0,1,.13.13A.15.15,0,0,1,951.14,204.7Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M952.87,202.73a.8.8,0,0,0-.82.8.82.82,0,1,0,1.64,0A.8.8,0,0,0,952.87,202.73Zm0,1a.15.15,0,0,1-.13-.16.13.13,0,1,1,.26,0A.15.15,0,0,1,952.87,203.69Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M953.11,201.06a.8.8,0,0,0-.8.8.81.81,0,0,0,1.62,0A.8.8,0,0,0,953.11,201.06Zm0,1a.16.16,0,0,1-.14-.16s0-.16.14-.16.15.05.15.16A.15.15,0,0,1,953.11,202Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M954.88,201.35a.8.8,0,0,0-.79.8.79.79,0,0,0,.79.82.81.81,0,0,0,.85-.82A.84.84,0,0,0,954.88,201.35Zm0,1s-.1-.06-.1-.16a.14.14,0,0,1,.11-.13.17.17,0,0,1,.15.13A.16.16,0,0,1,954.88,202.31Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M956.69,201.25a.81.81,0,0,0-.83.79.82.82,0,0,0,.83.83.81.81,0,0,0,.79-.83A.79.79,0,0,0,956.69,201.25Zm0,.95a.15.15,0,0,1-.16-.16.15.15,0,1,1,.16.16Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M949.07,205H949a.78.78,0,0,0-.18-1.54.78.78,0,1,0,0,1.56h0a.8.8,0,1,0,1,.77A.79.79,0,0,0,949.07,205Zm-.23-.59a.17.17,0,0,1-.14-.18.16.16,0,0,1,.14-.16.17.17,0,0,1,.15.16A.18.18,0,0,1,948.84,204.4Zm.23,1.54a.15.15,0,0,1-.15-.16.15.15,0,1,1,.29,0A.15.15,0,0,1,949.07,205.94Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M950.56,205.68a.8.8,0,0,0-.8.79.79.79,0,0,0,.8.8.8.8,0,0,0,.8-.8A.82.82,0,0,0,950.56,205.68Zm0,.95a.14.14,0,0,1-.16-.16.16.16,0,0,1,.16-.16.18.18,0,0,1,.16.16A.15.15,0,0,1,950.56,206.63Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M954.78,203a.82.82,0,0,0-.82.82.82.82,0,0,0,1.64,0A.83.83,0,0,0,954.78,203Zm0,.95a.13.13,0,0,1-.14-.13.16.16,0,0,1,.14-.16.15.15,0,0,1,.13.16A.12.12,0,0,1,954.78,204Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M947.22,206.18a.8.8,0,1,0,.79.8A.79.79,0,0,0,947.22,206.18Zm0,1a.16.16,0,0,1-.16-.16.16.16,0,0,1,.16-.16.17.17,0,0,1,.16.16A.18.18,0,0,1,947.22,207.14Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M962.62,195.88a.8.8,0,0,0,.7.41h0a.84.84,0,0,0-.16.49.81.81,0,0,0,1.62,0,.81.81,0,0,1-.66-1.28.82.82,0,0,0-.85-.79.79.79,0,0,0-.8.79v0a.8.8,0,1,0-.71,1.19.82.82,0,0,0,.82-.79S962.62,195.89,962.62,195.88Zm1.39.73a.16.16,0,0,1,.16.16c0,.12-.13.13-.16.13a.13.13,0,0,1-.14-.13A.16.16,0,0,1,964,196.61Zm-.69-1.28a.16.16,0,1,1,0,.32.16.16,0,0,1-.11-.16A.19.19,0,0,1,963.32,195.33Zm-1.51.72a.16.16,0,0,1-.14-.13s0-.16.14-.16a.16.16,0,0,1,.16.16A.19.19,0,0,1,961.81,196.05Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M967.48,198.76a.83.83,0,0,0,.82-.83.81.81,0,0,0-.35-.65.81.81,0,0,0-.15-1.6.79.79,0,0,0-.8.79.8.8,0,0,0,.34.68.81.81,0,0,0,.14,1.61Zm.32-2.42a.17.17,0,0,1,.16.13.16.16,0,1,1-.32,0A.17.17,0,0,1,967.8,196.34Zm-.32,1.46s.13,0,.13.13-.09.16-.13.16-.13-.13-.13-.16A.13.13,0,0,1,967.48,197.8Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
            <path d="M969.53,198.89a.81.81,0,1,0-.83-.83A.82.82,0,0,0,969.53,198.89Zm0-1a.16.16,0,0,1,.13.13s0,.16-.13.16-.14-.13-.14-.16A.15.15,0,0,1,969.53,197.93Z" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.25"/>
        </g>
    </g>
    <g id="loading_progress__bow" class="loading_progress__bow">
        <path d="M0,609.74c209.57,31.47,708.88,27,1029.49-242.78C1076,327.65,1144,255.43,1186.67,339.6c53.41,105.2-165,85.93-227.09,80.15" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        <path d="M1920,609.74c-209.57,31.47-708.88,27-1029.49-242.78-46.46-39.31-114.46-111.53-157.18-27.36-53.41,105.2,165,85.93,227.09,80.15" transform="translate(1 -157.59)" fill="none" stroke="#c9ab81" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
    </g>
    <g id="loading_progress__txt" class="loading_progress__txt">
        <path d="M849.63,622.24H842.1v1.26h.39a3.9,3.9,0,0,1,1.73.36c.49.24.73.8.73,1.68v13.29l-10.74-16.59h-5.49v1.26h.39a3.9,3.9,0,0,1,1.73.36c.49.24.73.8.73,1.68v14.7c0,.94-.24,1.53-.72,1.78a3.73,3.73,0,0,1-1.74.38h-.39v1.26h7.53V642.4h-.39a3.73,3.73,0,0,1-1.74-.38c-.48-.25-.72-.84-.72-1.78V626.38l11.25,17.28h2.13v-18c0-.94.24-1.54.72-1.79a3.73,3.73,0,0,1,1.74-.37h.39v-1.26Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M861.63,621.91a9.56,9.56,0,0,0-5.29,1.36,8.23,8.23,0,0,0-3.15,3.83,14.86,14.86,0,0,0-1,5.79,15.08,15.08,0,0,0,1,5.82,8.3,8.3,0,0,0,3.13,3.87A9.42,9.42,0,0,0,861.6,644a9.14,9.14,0,0,0,5.13-1.38,8.72,8.72,0,0,0,3.2-3.86,16,16,0,0,0,0-11.61,8.61,8.61,0,0,0-3.2-3.84,9.16,9.16,0,0,0-5.1-1.36Zm0,20.42a5,5,0,0,1-4.72-2.48,17.83,17.83,0,0,1,0-13.85,5,5,0,0,1,4.75-2.47,4.92,4.92,0,0,1,4.7,2.47,18.31,18.31,0,0,1,0,13.85,4.93,4.93,0,0,1-4.73,2.48Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M903.27,622.24H896v1.26h.69c1.32,0,2,.49,2,1.46a3.26,3.26,0,0,1-.12.73l-.21.84-2.64,9.26c-.28,1-.51,1.85-.69,2.65l-.51,2.27c-.14-.67-.32-1.47-.54-2.39s-.47-1.88-.75-2.88l-3.75-13h-2.16l-3.57,12.87c-.26,1-.49,1.9-.69,2.83s-.38,1.79-.54,2.56c-.16-.71-.35-1.51-.57-2.39s-.46-1.78-.72-2.67L878.4,626c-.06-.21-.11-.42-.16-.59a1.92,1.92,0,0,1-.08-.51q0-1.44,1.8-1.44h.69v-1.26H872.4v1.26h.39a1.9,1.9,0,0,1,2.13,1.58l5.49,18.58h2.76l4.59-16.8,4.89,16.8h2.7l5.07-17.83a4.06,4.06,0,0,1,.92-1.91,2,2,0,0,1,1.36-.42h.57v-1.26Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M921.66,622.24h-9.18v1.26h.39a3.9,3.9,0,0,1,1.73.36c.48.24.73.8.73,1.68v14.7c0,.94-.24,1.53-.72,1.78a3.73,3.73,0,0,1-1.74.38h-.39v1.26h9.18a10.22,10.22,0,0,0,5.42-1.33,8.16,8.16,0,0,0,3.27-3.71,13.64,13.64,0,0,0,1.09-5.7q0-5.1-2.58-7.89a9.32,9.32,0,0,0-7.2-2.79Zm-3.3,19.88V623.74H921a6.25,6.25,0,0,1,5.33,2.37q1.78,2.37,1.78,6.81t-1.78,6.82a6.27,6.27,0,0,1-5.36,2.38Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M944.31,621.91a9.54,9.54,0,0,0-5.29,1.36,8.17,8.17,0,0,0-3.15,3.83,14.68,14.68,0,0,0-1,5.79,14.9,14.9,0,0,0,1,5.82,8.24,8.24,0,0,0,3.13,3.87,9.42,9.42,0,0,0,5.28,1.38,9.14,9.14,0,0,0,5.13-1.38,8.72,8.72,0,0,0,3.2-3.86,16,16,0,0,0,0-11.61,8.61,8.61,0,0,0-3.2-3.84,9.16,9.16,0,0,0-5.1-1.36Zm0,20.42a5,5,0,0,1-4.73-2.48,17.95,17.95,0,0,1,0-13.85,5,5,0,0,1,4.76-2.47A4.9,4.9,0,0,1,949,626a18.19,18.19,0,0,1,0,13.85,4.92,4.92,0,0,1-4.72,2.48Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M986,622.24h-7.32v1.26h.69c1.32,0,2,.49,2,1.46a3.26,3.26,0,0,1-.12.73l-.21.84-2.64,9.26c-.28,1-.51,1.85-.69,2.65l-.51,2.27c-.14-.67-.32-1.47-.54-2.39s-.47-1.88-.75-2.88l-3.75-13h-2.16l-3.57,12.87c-.26,1-.49,1.9-.69,2.83s-.38,1.79-.54,2.56c-.16-.71-.35-1.51-.57-2.39s-.46-1.78-.72-2.67L961.08,626c-.06-.21-.12-.42-.16-.59a1.92,1.92,0,0,1-.08-.51q0-1.44,1.8-1.44h.69v-1.26h-8.25v1.26h.39a1.9,1.9,0,0,1,2.13,1.58l5.49,18.58h2.76l4.59-16.8,4.89,16.8H978l5.07-17.83a4.06,4.06,0,0,1,.92-1.91,2,2,0,0,1,1.36-.42H986v-1.26Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M1008.27,622.24h-7.53v1.26h.39a3.9,3.9,0,0,1,1.73.36c.49.24.73.8.73,1.68v13.29l-10.74-16.59h-5.49v1.26h.39a3.9,3.9,0,0,1,1.73.36c.48.24.73.8.73,1.68v14.7c0,.94-.24,1.53-.72,1.78a3.73,3.73,0,0,1-1.74.38h-.39v1.26h7.53V642.4h-.39a3.73,3.73,0,0,1-1.74-.38c-.48-.25-.72-.84-.72-1.78V626.38l11.25,17.28h2.13v-18c0-.94.24-1.54.72-1.79a3.73,3.73,0,0,1,1.74-.37h.39v-1.26Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M1019,622.24h-8.73v1.26h.39a3.73,3.73,0,0,1,1.74.37c.48.25.72.85.72,1.79v14.58c0,.94-.24,1.53-.72,1.78a3.73,3.73,0,0,1-1.74.38h-.39v1.26h16.08l.21-6.45H1025l-.3,2.25a4.72,4.72,0,0,1-.36,1.27,2.49,2.49,0,0,1-.83,1,2.4,2.4,0,0,1-1.45.41h-5.91V625.54c0-.88.24-1.44.73-1.68a3.9,3.9,0,0,1,1.73-.36h.39v-1.26Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M1039,621.91a9.54,9.54,0,0,0-5.29,1.36,8.19,8.19,0,0,0-3.16,3.83,14.86,14.86,0,0,0-1,5.79,15.09,15.09,0,0,0,1,5.82,8.32,8.32,0,0,0,3.14,3.87,9.42,9.42,0,0,0,5.28,1.38,9.14,9.14,0,0,0,5.13-1.38,8.7,8.7,0,0,0,3.19-3.86,15.87,15.87,0,0,0,0-11.61,8.59,8.59,0,0,0-3.19-3.84,9.16,9.16,0,0,0-5.1-1.36Zm0,20.42a5,5,0,0,1-4.73-2.48,17.95,17.95,0,0,1,0-13.85,5,5,0,0,1,4.76-2.47,4.9,4.9,0,0,1,4.69,2.47,18.19,18.19,0,0,1,0,13.85,4.92,4.92,0,0,1-4.72,2.48Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M1061.31,622.24H1059l-6.66,17.82a6,6,0,0,1-1,1.89,1.72,1.72,0,0,1-1.3.45h-.57v1.26h7.32V642.4h-.69c-1.32,0-2-.49-2-1.48a3.72,3.72,0,0,1,.27-1.28l1.14-3.15h7.89l1.2,3.36a4.86,4.86,0,0,1,.18.6,2.29,2.29,0,0,1,.06.51q0,1.44-1.8,1.44h-.69v1.26h8.25V642.4h-.39a2.31,2.31,0,0,1-1.34-.33,2.55,2.55,0,0,1-.79-1.26l-6.78-18.57ZM1056.09,635l2-5.53c.34-.93.62-1.73.84-2.39a17,17,0,0,0,.54-2.07q.24,1.07.63,2.25t.87,2.49l1.86,5.25Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
        <path d="M1080.93,622.24h-9.18v1.26h.39a3.86,3.86,0,0,1,1.72.36c.49.24.74.8.74,1.68v14.7c0,.94-.24,1.53-.72,1.78a3.73,3.73,0,0,1-1.74.38h-.39v1.26h9.18a10.16,10.16,0,0,0,5.41-1.33,8.16,8.16,0,0,0,3.27-3.71,13.64,13.64,0,0,0,1.1-5.7q0-5.1-2.58-7.89a9.32,9.32,0,0,0-7.2-2.79Zm-3.3,19.88V623.74h2.64a6.23,6.23,0,0,1,5.32,2.37q1.79,2.37,1.79,6.81t-1.79,6.82a6.25,6.25,0,0,1-5.35,2.38Z" transform="translate(1 -157.59)" fill="#c9ab81"/>
    </g>
</svg>
