<svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1 7.00147H13M7 13.0015V1.00146" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
