<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M1.3033 12.3033L11.9099 1.6967M11.9099 12.3033L1.3033 1.6967" stroke="#C9AB81" stroke-width="2" stroke-linecap="round"/>
</svg>
