<svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M10.5 1H14V3H0V1H3.5L4.5 0H9.5L10.5 1ZM1 16V4H13V16C13 17.1 12.1 18 11 18H3C1.9 18 1 17.1 1 16Z" fill="#C9AB81"/>
</svg>
