<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M31 9.37236V22.626C31 27.5366 27.9285 31 23.0206 31H8.96316C4.05526 31 1 27.5366 1 22.626V9.37236C1 4.46179 4.07151 1 8.96316 1H23.0206C27.9285 1 31 4.46179 31 9.37236Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 19.0567C12.3154 19.0567 9.07693 19.63 9.07693 21.9263C9.07693 24.2225 12.2949 24.8164 16.1076 24.8164C19.8998 24.8164 23.1374 24.2421 23.1374 21.9468C23.1374 19.6515 19.9204 19.0567 16.1076 19.0567Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M16.1076 15.7815C18.5963 15.7815 20.6133 13.7635 20.6133 11.2749C20.6133 8.78627 18.5963 6.76923 16.1076 6.76923C13.619 6.76923 11.601 8.78627 11.601 11.2749C11.5926 13.7551 13.5966 15.7731 16.0759 15.7815H16.1076Z" stroke="white" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
