.goTop_monitor
<svg class="goTop" width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
<rect width="68" height="68" fill="#C9AB81"/>
<path d="M32.268 22C33.0378 20.6667 34.9623 20.6667 35.7321 22L45.2583 38.5C46.0281 39.8333 45.0659 41.5 43.5263 41.5H24.4737C22.9341 41.5 21.9719 39.8333 22.7417 38.5L32.268 22Z" fill="white"/>
</svg>


