.loading
    //- .loading_head
    .loading_left
    .loading_right
    .loading_progress
        include ../icon/loading-main.pug
    .loading_decoration
        .loading_decoration__left
            li(style="background-image:url("+ image_path +"Leaf_.png)")
            li(style="background-image:url("+ image_path +"Leaf_2.png)")
        .loading_decoration__right
            li(style="background-image:url("+ image_path +"Leaf_.png)")
            li(style="background-image:url("+ image_path +"Leaf_2.png)")
