//- 20200914 志文新增

.indexLoadingPage.swiper-slide
    .load_page_background
        .load_page_food
            .pic_up
                .pic_container
                    img(src="../../assets/loadingPageUp.png" alt="")
            .pic_down
                .pic_container
                    img(src="../../assets/loadingPageDown.png" alt="")
            .pic_left
                .pic_container
                    img(src="../../assets/loadingPageLeft.png" alt="")
            .pic_right
                .pic_container
                    img(src="../../assets/loadingPageRight.png" alt="")
        .load_page_image
            .pic_logo
                .pic_container
                    img(src="../../assets/logo.png" alt="")
            .pic_text
                .pic_container
                    //- include ../icon/loading_text.pug
                    p.textMask_first 辦手豐饌品味，讓您的心意體面到位
                    p.textMask_second 立即選購，獲得真摯的絕對美味



