extends ../layout/default.pug


block view
    .account
        .child
            .head
                -let login = {el:'account',titles:[{title:'個人資料',sub:'ACCOUNT',link:'account.html'},{title:'訂單查詢',sub:'ORDER TRACKER',link:'order.html'}],double:true}
                +sec_title(login)
            form(action="").account_form
                -let account_form = []
                -account_form.push({
                -    layout:11,
                -    title:'會員帳號',
                -    sub:'0903978918',
                -    btn:false,
                -    id:'account',
                -    required:true,
                -    disabled:true,
                -    type:'span'
                -})
                -account_form.push({
                -    layout:11,
                -    title:'會員密碼',
                -    sub:'●●●●●●●●●●',
                -    btn:true,
                -    btn_text:'密碼',
                -    id:'pwd',
                -    required:true,
                -    disabled:true,
                -    type:'input'
                -})
                -account_form.push({
                -    layout:11,
                -    title:'新密碼再次確認',
                -    sub:'',
                -    id:'pwd-comfirmed',
                -    required:true,
                -    disabled:true,
                -    type:'input',
                -})
                -account_form.push({
                -    layout:12,
                -    list:[
                -       {title:'姓名',sub:'shunshun'},
                -       {title:'手機號碼',sub:'0903978918'}
                -    ],
                -    btn:false
                -})
                -account_form.push({
                -    layout:31,
                -    list:[
                -       {title:'取貨方式',sub:'自取'},
                -       {title:'取貨門市',sub:'台中市西區精誠路386號'},
                -       {title:'取貨時間',sub:'2021.04.01  12:00 A.M.'},
                -    ],
                -    btn:false
                -})
                -account_form.push({
                -    layout:14,
                -    title:'地址',
                -    list:[
                -       {id:'city',required:true,options:['台北市','台中市']},
                -       {id:'area',required:true,options:['北區','北屯區']},
                -       {id:'road',required:true,name:'zip',val:'702',disabled:true},
                -       {id:'road',required:true,name:'road',val:'天津路307號',disabled:true},
                -    ],
                -    btn:false
                -})
                +info_list(account_form)
                .account_form__other 
                    a(href="index.html").btn.btn-primary 返回首頁
                    a(href="").btn.btn-primary 儲存修改
        .child
            .account_right.child_bg
                div(style="background-image:url("+ image_path +"log-bgc.png);")
                a(href="cart.html").child_bg__btn.btn
                    span 立即購物
                    include ../icon/arrow_half.pug
            .back.backToprev
                .header_btn
                    li
                    li
