extends ../layout/default.pug


block view
    form(action="cart4.html").cart
        .cart_container
            .cart_head
                -let e = {el:'ui-test',title:'購物車',sub:'SHOPPING CART',double:false,full:true}
                +sec_title(e)
            .cart_content
                .cart_content__step
                    .cart_content__step
                    li.active 商品規格
                    li.active 付款&配送
                .cart_content__step-mb
                    +step({el:'cart_head',list:[{title:'商品規格',link:'cart.html',active:true},{title:'付款&配送',link:'cart2.html',active:true}]})
                .cart_content__list
                    .cart_content__products
                        .cart_content__title
                            -let c3 = {el:'cart',title:'產品列表'}
                            +block_hr2(c3)
                        .cart_order__list
                            - let k = {el:'cart_order',checked:true,list:[
                            -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '1盒' ,o_price: '1388' ,qty: '1' ,s_price: '1388', },
                            -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '1盒' ,o_price: '1388' ,qty: '1' ,s_price: '1388', },
                            -]}
                            +cart_card2(k)
                    .cart_content__form.form
                        .cart_content__title
                            -let cˋ = {el:'cart',title:'訂單資訊'}
                            +block_hr2(cˋ)
                        -let cart_from = []
                        -cart_from.push(
                        -   {layout:21 ,
                        -       child:[
                        -           {layout:21,id:'pay',name:'payment_type',label:'付費方式',type:'radio',required:true,options:[{text:'信用卡',value:'CREDIT'},{text:'ATM 轉帳',value:'ATM'}]},
                        -           {layout:21,id:'delivery',name:'shipment_type',label:'取貨方式',type:'radio',required:true,small:true,options:[{text:'自取',value:'SELF'},{text:'宅配(運費130元，滿1500元免運費)',value:'DELIVERY'}]},
                        -       ]
                        -   })
                        -cart_from.push(
                        -   {layout:21 ,
                        -       child:[ 
                        -           {layout:21 ,id:'address',name:'address',label:'取貨地址',type:'form_readonly_textarea',required:false,placeholder:'',val:'豐饌門市 台中市西區精誠路386號 (向上路vs向上南路中間)'},
                        -           {layout:21 ,id:'time',name:'pickup_date',label:'取貨時間',type:'text',required:true,placeholder:'年 / 月 / 日',des:'每天出貨量以2000盒為限，以訂購時間為優先順序，若無法預期在當日抵達，會由門市另行通知調整到貨時間。'}
                        -       ]
                        -   })

                        //- 訂購人資訊
                        -cart_from.push({layout:'border',el:'cart_content__list',title:'訂購人資訊'})
                        -cart_from.push(
                        -   {layout:21 ,
                        -       child:[ 
                        -           {layout:21 ,id:'name',name:'order_name',label:'姓名',type:'text',required:true,placeholder:''},
                        -           {layout:21,id:'phone',name:'order_phone',label:'電話',type:'tel',required:true,placeholder:''}
                        -       ]
                        -   })
                        -cart_from.push(
                        -   {layout:'21-1in3and11' ,
                        -       child:[ 
                        -          {layout:'1in3and12',id:'address',label:'地址',required:true, child:
                        -             [ 
                        -                 //0
                        -                {layout:31,type:'mutli_seclect_1', 
                        -                    child:[
                        -                            {layout:31,name:'order_country',type:'select',required:true,options:[]}, 
                        -                            {layout:31,name:'order_district',type:'select',required:true,options:[]},  
                        -                            {layout:31,name:'order_zip',type:'text',id:'order_zip',required:true,placeholder:'郵遞區號'}
                        -                    ]  
                        -                },
                        -                 //1  
                        -                {layout:12,type:'text',name:'order_address',id:'address_other',label:null,required:true,placeholder:'詳細地址'}
                        -             ]
                        -           },
                        -           {layout:21 ,id:'email',name:'order_email',label:'E-Mail',type:'e-mail',required:true,placeholder:''}
                        -       ]
                        -   })
                        -cart_from.push({layout:12 ,name:'order_comment',id:'comments',label:'意見',type:'textarea',required:true,rows:10,placeholder:''})

                        //- 收件人資訊
                        -cart_from.push({layout:'border',el:'cart_content__list',title:'收件人資訊'})
                        -cart_from.push({layout:12,id:'same_orderer',name:'same_orderer',type:'checkbox',required:false,options:['同訂購人資訊']})
                        -cart_from.push(
                        -   {layout:21 ,
                        -       child:[ 
                        -           {layout:21 ,name:'reci_name',id:'name_orderer',label:'姓名',type:'text',required:true,placeholder:''},
                        -           {layout:21,name:'reci_phone',id:'phone_orderer',label:'電話',type:'tel',required:true,placeholder:''}
                        -       ]
                        -   })
                        -cart_from.push(
                        -   {layout:'21-1in3and11' ,
                        -       child:[ 
                        -          {layout:'1in3and12',id:'address_orderer',label:'地址',required:true, child:
                        -             [ 
                        -                 //0
                        -                {layout:31,type:'mutli_seclect_1', 
                        -                    child:[
                        -                            {layout:31,name:'reci_country',type:'select',required:true,options:[]}, 
                        -                            {layout:31,name:'reci_district',type:'select',required:true,options:[]},  
                        -                            {layout:31,name:'reci_zip',type:'text',id:'reci_zip',required:true,placeholder:'郵遞區號'}
                        -                    ]  
                        -                },
                        -                 //1  
                        -                {layout:12,name:'reci_address',type:'text',id:'address_other_orderer',label:null,required:true,placeholder:'詳細地址'}
                        -             ]
                        -           },
                        -           {layout:21 ,name:'reci_email',id:'email_orderer',label:'E-Mail',type:'e-mail',required:true,placeholder:''}
                        -       ]
                        -   })
                        -cart_from.push({layout:12 ,name:'reci_comment',id:'comments_orderer',label:'意見',type:'textarea',required:true,rows:10,placeholder:''})

                        //- 電子發票
                        -cart_from.push({layout:'border',el:'cart_content__list',title:'電子發票'})
                        -cart_from.push(
                        -   {layout:12,id:'invoice',name:'invoice_type',label:'電子發票',type:'radio2',required:true,other:true,options:[
                        -      {title:'電子發票 - 個人',value:0,input:[{layout:12,type:'describe',id:'DuplicateUniformInvoice',required:true,des:'依財政部規定，發票已託管，無需開立紙本發票。'}]},
                        -      {title:'電子發票 - 公司',value:1,input:[{layout:12 ,name:'ein-company',id:'DuplicateUniformInvoice2',type:'text',required:false,placeholder:'請輸入統一編號',des:'根據財政部「電子發票實施作業要點」，於消費開立「三聯電子發票」不主動寄送，亦會將發票號碼上傳至政府平台。'}]},
                        -      {title:'個人 - 手機條碼載具',value:2,input:[{layout:12 ,name:'ein-number',id:'DuplicateUniformInvoice3',type:'text',required:false,placeholder:'請輸入手機條碼(限大寫英數字)'}]}
                        -   ]}
                        -)
                        +setup_form(cart_from,'row')
                .cart_details
                    li
                        span 小計：
                        span $ 2776
                    li
                        span 折價：
                        span - $ 100
                    li
                        span 總計：
                        span NT$ 3200
                .cart_btn 
                    a(href="cart.html").btn.btn-primary 返回
                    button(type="submit").cart_submit.btn.btn-primary 前往結帳
                .cart_note 
                    section.cart_note__section
                        .cart_note__section_head
                            -let c = {el:'cart_note',title:'退貨說明',link:''}
                            +block_hr(c)
                        .cart_note__section_content 
                            p 一、退換貨說明:
                            br
                            p 1. 食品屬消耗性商品並無鑑賞期，本公司商品皆為當日製造，請您收受商品時，建議到貨時立即檢驗，若有瑕疵損毀、或規格不符之情況，欲辦理換貨，請於收到商品 5小時內以簽收時間算起) 與我們聯繫，並且請麻煩將商品拍照寄到客服信箱。我們將會儘快為您處理，若超過保存期限，否則恕不接受退換貨。
                            p 2. 若因商品有瑕疵損毀、規格不符之情況，消費者欲申請退換貨，請保持商品本體、贈品、內外包裝之原樣及發票或附隨資料的完整性，切勿有任何缺漏或毀損，否則恕不接受貨申請。
                            p 3. 由於本網站商品皆為食品及新鮮出貨，恕不接受因個人主觀因素（香氣、大小、甜度、顏色、口感、不喜歡、不好吃）辦理退換貨，或是收到商品時意願降低、臨時取消。因，若非商品瑕疵恕無法為您辦理退換貨，請下單前務必考慮清楚
                            p 4. 外包裝及其內容物、贈品等均屬於商品的一部分，本公司將依照商品退貨時之不完整程度(遺失、毀損或缺件等)，就該商品價錢之範圍內扣除回復原狀費用後，返還剩餘金額消費者。
                            p 5. 辦理退貨、換貨時，請事先告知本公司，若消費者未通知，而自行將商品寄回者，本公司將不予接受，並立即將商品寄回期間所產生之運費消費者需自行負擔。
                            p 6. 若因退貨造成原訂單內商品總金額未達購物免運費標準，仍將於退貨退款時扣除原訂單之物流費(依網站之各區域廠商運費為準)，免運費標準亦請依網站之各區域廠商免運費件或行銷公告為依據。
                            p 7. 根據「通訊交易解除權合理例外情事適用準則」第2條第一項：「易於腐敗、保存期限較短或解約時即將逾期」之商品，屬於消費者保護法第19條第一項但書所稱合理例外情。自105年1月1日起，生鮮食品不適用於消費者保護法第19條，並不享有7天鑑賞期。
                            p 8. 若您是使用線上刷卡與轉帳的付款服務，欲辦理退款需請您提供您的個人資料，共需 7 個工作天，其衍生之額外費用，將由您自行負擔。
                            br
                            p 二、出貨時間說明
                            br
                            p 因中秋節訂單大量，每天出貨量以2000盒為限，以訂購時間為優先順序，若無法預期在當日抵達，會由門市另行通知調整到貨時間，實際出貨日期及配送天數請依廠商告知為準
                            br
                            p 三、網站權益條款
                            br
                            p
                                | 嚴禁使用假名、不實的身分證字號或無效之信用卡號碼登錄並在網站上進行交易活動，經查證屬實本網有權立即取消該會員之資格，如有嚴重情況時將報請警察單位處理。 本網
                                | 對於所登錄之資料及交易紀錄，基於保障個人隱私權，除供本網站之所需，及本網行銷統計、分析、會員服務外，不作其他任何目的使用。 為保障買賣雙方的權益，在進行購物或競標
                                | 等活動時應遵守本網站相關規定。會員一旦在本網站投標或購物，即表示願意購買該項產品並負起法律相關責任。 本著互惠互信的原則下，對於惡意拋棄訂單、故意退貨、拒絕付款或
                                | 故意欺騙等不法之行為，本網有權立即取消該資格，該會員並應負起賠償損 失之責任。 會員不得以任何方式企圖破壞或干擾本網站各項活動的資料及竊取資料並嚴禁入侵或破壞本網站
                                | 上任何系統，否則依法追究。 在本網站進行交易時，如有糾紛發生時，以本網所提供之電子交易資料為認定的標準。 在本網站上所進行交易之商品及交易之行為，直屬於「豐饌魚翅」
                                | 與消費者之間。 會員除應遵守本同意書外，亦同意遵守本網站之各項規定。本同意書之內容如有調整時，調整內容自公佈於本網站之日起逕行生效，會員並同意遵守調整後之同意書。 
                                | 各項商品及勞務之交易及本同意書未約定之事項，以中華民國法律及相關法令、規章、慣例為依據處理。如有發生糾紛時，以台灣台中地方法院為第一審管轄法院。
                    section.cart_note__section 
                        .cart_note__section_head
                            -let c2 = {el:'cart_note',title:'退貨說明',link:''}
                            +block_hr(c2)
                        .cart_note__section_content
                            p 一、使用者隱私權保護說明
                            br
                            p 本網店針對消費者與個人資料之蒐集和運用，依中華民國「電腦處理個人資料保護法」及本隱私權保護聲明，本網店已加強相關之保護措施，但也鄭重提醒您：請勿在網路上公開透露您個人資料，因該資料有可能會被他人蒐集和使用，特別是在網路上公開的發言場合，如聊天室、留言版，更應避免發表個人身份、密碼或電子郵件等相關個人資料。
                            p 個人資料蒐集及使用
                            p 當使用者要完成購物流程時，本網店要求使用者登錄個人資料，以便完成交易與相關服務。
                            p 本網店及其相關網站所取得的個人資料，都僅供本網店內部依照原說明的使用目的和範圍。
                            p 除非事先說明或依照台灣相關法律規定外，本網店不會擅自將使用者的個人資料提供給第三者或作為其他目的之用。
                            p 本網店會自動記錄使用者在網站內的瀏覽活動等相關資料，但這些資料僅供作為流量分析和網路行為調查，以便於改善網站的服務品質。








