extends ../layout/default.pug


block view
    .cart
        .cart_container
            .cart_head
                -let e = {el:'cart_head',title:'購物車',sub:'SHOPPING CART',double:false,full:true}
                +sec_title(e)
            .cart_content
                .cart_content__step
                    li.active 商品規格
                    li  付款&配送
                .cart_content__step-mb
                    +step({el:'cart_head',list:[{title:'商品規格',link:'cart.html',active:true},{title:'付款&配送',link:'cart2.html'},{title:'訂單確認',link:'cart3.html'}]})
                .cart_content__list
                    - let k = {el:'cart_content',checked:false,list:[
                    -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '11' ,o_price: '134' ,qty: '30' ,s_price: '4020',  },
                    -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '11' ,o_price: '134' ,qty: '30' ,s_price: '4020',  },
                    -]}
                    .cart_content__item
                        +cart_card2(k)

                    //- .cart_content__item
                    //-     .cart_content__item_th
                    //-         li 產品圖
                    //-         li 產品名
                    //-         li 產品規格
                    //-         li 單價(NT)
                    //-         li 數量
                    //-         li 小記(NT)
                    //-         li 刪除
                    //-     .cart_content__item_td
                    //-         li
                    //-             .cart-card_image.cart-cart-card_image
                    //-                 div(style="background-image: url(../assets/20200723130357529295.jpg)")
                    //-         li 豐饌皇家御禮
                    //-         li 1盒
                    //-         li $1388
                    //-         li 
                    //-             +spin('cart','card',2)
                    //-         li $2776
                    //-         li 
                    //-             .cart-card_cancel(class='cart-cart-card_cancel')
                    //-                 include ../icon/trash.pug
                .cart_details
                    li
                        span 小計：
                        span
                            span $ 
                            span.order_sub_total_price 4020
                            span 元
                    li
                        span 折價：
                        span 
                            span - $ 
                            span.order_discount_price 250
                            span 元
                    //- li
                    //-     span 折價碼：
                    //-     span 
                    //-         input#discount(type="text" name="discount" placeholder="請輸入折價碼")
                    li
                        span 總計：
                        span 
                            span NT$ 
                            span.order_total_price 3970
                            span 元
                .cart_btn 
                    a(href="cart2.html").btn.btn-primary 前往結帳

