extends ../layout/default.pug


block view
    .cart
        .cart_container
            .cart_head
                -let e = {el:'cart_head',title:'購物車',sub:'SHOPPING CART',double:false,full:true}
                +sec_title(e)
            .cart_done
                include ../icon/done.pug
                .cart_done__head
                    .h3.cart_done__head_title 訂單編號：AAf123B23
                    .h2.cart_done__head_sub 恭喜您下單成功
                .cart_done__btn_group
                    a(href="index.html").cart_done__btn.btn.btn-primary 返回首頁
                    a(href="product.html").cart_done__btn.btn.btn-primary 繼續購物
