extends ../layout/default.pug

block styles
    link(href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet')

block view
    .contact
        .contact_head
            -let contact_title = {el:'contact',title:'聯絡我們',sub:'CONTACT',double:false}
            +sec_title(contact_title)
        .contact_body
            .contact_body__top
                div(style="background-image:url( '"+ image_path +"39393999_2018243338240138_3957645258971414528_o.jpg')")
            .contact_body__text
                p 株式会社 BAKE は、企業理念である
                p 「お菓子を、進化させる」の実現に向け、
                p お菓子のスタートアップとして
                p 今の時代にあった
                p 本質的なお菓子作りを追求しています。
            .contact_body__map#map
            .contact_body__info
                .contact_body__info_list
                    .contact_body__info_item
                        .contact_body__info_item__title  公司名稱
                        .contact_body__info_item__sub 豐饌興業股份有限公司

                    .contact_body__info_item
                        .contact_body__info_item__title  公司地址
                        .contact_body__info_item__sub 台中市西區精誠路386號

                    .contact_body__info_item
                        .contact_body__info_item__title  客服專線
                        .contact_body__info_item__sub 04-2472-1888

                .contact_body__info_social 
                    .contact_body__info_social__item 
                        include ../icon/fb-logo.pug
                    .contact_body__info_social__item 
                        include ../icon/line-logo.pug
                    .contact_body__info_social__item 
                        include ../icon/email-logo.pug

            form(action="").contact_body__form
                .contact_body__form_title CONTACT FROM
                .contact_body__form_body.form
                    -let contact_form = []
                    -contact_form.push(
                    -   {layout:21 ,
                    -       child:[ 
                    -           {layout:21 ,name:'name',id:'name',label:'姓名',type:'text',required:true,placeholder:''},
                    -           {layout:21,name:'tel',id:'phone',label:'電話',type:'tel',required:true,placeholder:''}
                    -       ]
                    -   })
                    -contact_form.push({layout:12 ,name:'email',id:'email',label:'E-MAIL',type:'e-mail',required:true,placeholder:''})
                    -contact_form.push({layout:12 ,name:'content',id:'comments',label:'意見',type:'textarea',required:true,rows:10,placeholder:''})
                    +setup_form(contact_form,'row')
                .contact_body__form_submit 
                    button(type="submit").btn
                        span 聯絡我們
                        include ../icon/arrow_half.pug

