extends ../layout/default.pug


block view
    .fqa
        .fqa_container
            .fqa_head
                -let e = {el:'fqa_head',title:'購物常見問題',sub:'FQA',double:false,full:false}
                +sec_title(e)
            .fqa_content
                .fqa_content__step
                    li.active
                        a(href="#fqa_note__section1" data-section="#fqa_note__section1") 購物常見問題
                    li 
                        a(href="#fqa_note__section2" data-section="#fqa_note__section2") 付款方式及退換貨問題
                    li 
                        a(href="#fqa_note__section3" data-section="#fqa_note__section3") 運費及配送問題
                .fqa_content__list
                    .fqa_note 
                        each val,idx in ['購物常見問題','付款方式及退換貨問題','運費及配送問題']
                            section.fqa_note__section(id=`fqa_note__section${idx}`)
                                .fqa_note__section_head
                                    -let c = {el:'fqa_note',title:val,link:''}
                                    +block_hr(c)
                                    button.fqa_note__section_head__toggle.btn
                                        include ../icon/arrow_down.pug
                                .fqa_note__section_content
                                    <p><strong>直接購物</strong></p>
                                    <p><span style="font-weight: 400;">step 1.挑選商品點選加入購物車</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">step 2.可選擇使用使用FB或Line或手機號碼註冊及登入</span></p>
                                    <p><span style="font-weight: 400;">step 3.使用手機號碼註冊，系統將寄給您驗證碼簡訊或email</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">step 4.確認購物清單 / 選擇出貨及付款方式 / 填寫客戶資料</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">step 5.完成訂購並自動成為會員</span><strong><br></strong><strong><br></strong><strong>加入會員</strong></p>
                                    <p><span style="font-weight: 400;">step 1.點選右上角人像圖案</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">step 2.填寫基本資料後送出</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;">step 3.完成註冊成為會員</span><span style="font-weight: 400;"><br></span><span style="font-weight: 400;"><br></span><strong>現貨及預購</strong><strong><br></strong><span style="font-weight: 400;">選購前請先注意您訂購商品所標示之到貨時間</span><span style="font-weight: 400;">。</span></p>
                                    <ul>
                                        <li><span style="font-weight: 400;">現貨商品：現貨商品中午前下單，當天出貨</span><span style="font-weight: 400;">。</span><span style="font-weight: 400;">（假日不出貨 連假及週五中午後至週日訂單皆為上班日才出貨）</span></li>
                                        <li><span style="font-weight: 400;">預購商品：依賣場上標示之預購日期為商品預計出貨時間</span><span style="font-weight: 400;">。</span></li>
                                    </ul>
                                    <p><span style="font-weight: 400;">包含預購商品訂單：若訂單包含現貨商品及預購商品，將依預購商品的預計出貨日出貨</span><span style="font-weight: 400;">。</span></p>
                                    <p><strong><br></strong><strong>忘記密碼</strong></p>
                                    <ul>
                                        <li><span style="font-weight: 400;">一般會員請在會員登入視窗中點選 忘記密碼，輸入手機號碼或Email後，系統將寄送重設密碼通知信或手機驗證碼簡訊，點擊連結或輸入驗證碼進行密碼重設。</span></li>
                                        <li><span>FACEBOOK或是LINE帳號快速登入會員ㄌ請至平台進行密碼重設。</span></li>
                                    </ul>



