extends ../layout/default.pug

block header
    include ../layout/header_index.pug

//- block loading 
//-     include ../components/loading.pug 

block view
    .index
        //- swiper
        .index_banner.index_swiper.swiper-container
            


            //- .index_swiper__logo
            //-     .index_swiper__logo_text
            //-         p 豐饌
            //-         p fengzhuan
            .index_swiper__mask
            .index_swiper__scroll-down 
                include ../icon/scroll_arrow.pug
            //- .index_swiper__decoration
            //-     .index_swiper__decoration_left
            //-         li(style="background-image:url("+ image_path +"Leaf_.png)")
            //-         li(style="background-image:url("+ image_path +"Leaf_2.png)")
            //-     .index_swiper__decoration_right
            //-         li(style="background-image:url("+ image_path +"Leaf_.png)")
            //-         li(style="background-image:url("+ image_path +"Leaf_2.png)")
            .swiper-wrapper
                include ../components/loadingPage.pug
                //- loadingPage --20200914 志文新增
                -let index_swiper = []
                -index_swiper.push("https://fengzhuan.com.tw/public/uploads/img/home/1920x1080/2021/08/20210814143802413.jpg")
                -index_swiper.push("https://fengzhuan.com.tw/public/uploads/img/home/1920x1080/2021/08/20210814143802413.jpg")
                -index_swiper.push("https://fengzhuan.com.tw/public/uploads/img/home/1920x1080/2021/08/20210814143802413.jpg")
                -index_swiper.push("https://fengzhuan.com.tw/public/uploads/img/home/1920x1080/2021/08/20210814143802413.jpg")
                each val in index_swiper
                    .swiper-slide.index_swiper__slide
                        img.lazy(data-src=val)
                        //- img(src=val)
                        //- div(style="background-image:url(" + val +")")

        //intro
        .index_intro
            -let index_intro = []
            -index_intro.push({
            -        title:"堅果蜜蕾酥",
            -        sub:"渾然天成的法式甜蜜",
            -        price:"1盒(十入) $628",
            -        breadcrumb:"Product / 堅果蜜蕾酥",
            -        top_imag:"https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511190453628.jpg",
            -        sub_img:["https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511190505541.jpg"],
            -        content:[
            -            {title:"異なる3つの食感",sub:"さくさくのパイ、ほくほく食感のお芋ペースト、そして中からとろけ出すとろとろのお芋クリーム。異なる 3つの食感が一度に楽しめます。"},
            -            {title:"こだわりのカタチ",sub:"めざしたのは、異なる食感の共存と、これまでのイメージを超えるスイートポテト。そして、この三角というカタチにたどり着きました。"},
            -            {title:"精緻製成，抓準每一道工序",sub:"⦿ 摻入杏仁粉，豐富塔皮口感\n⦿ 壓製塔皮，精確厚度 5mm\n⦿ 微火慢炒，蜜色焦糖醬\n⦿ 錝合豆炒香，裹上焦糖色\n⦿ 內陷夾於塔皮，烤培25分鐘"}
            -        ]
            - })
            -index_intro.push({
            -        title:"雲豆松子蛋黃酥",
            -        sub:"一球包覆的滿漢全席",
            -        price:"1盒(八入) $508",
            -        top_imag:"https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511190428667.jpg",
            -        breadcrumb:"Product / 雲豆松子蛋黃酥",
            -        sub_img:["https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/2021051711040044.jpg"],
            -        content:[
            -            {title:"異なる3つの食感",sub:"さくさくのパイ、ほくほく食感のお芋ペースト、そして中からとろけ出すとろとろのお芋クリーム。異なる 3つの食感が一度に楽しめます。"},
            -            {title:"こだわりのカタチ",sub:"めざしたのは、異なる食感の共存と、これまでのイメージを超えるスイートポテト。そして、この三角というカタチにたどり着きました。"},
            -            {title:"精巧手藝，魔鬼藏在細節裡",sub:"⦿ 桿製麵皮，厚薄恰當\n⦿ 綿密豆沙，平均鋪於麵皮\n⦿ 放入光澤蛋黃，捏製成球\n⦿ 輕刷明黃蛋液，灑上黑黃芝麻\n⦿ 烘培30分鐘，直至底部酥脆"}
            -        ]
            - })
            each val in index_intro
                .index_intro__section
                    .index_intro__head
                        p= val.title 
                        p.h4= val.sub 
                        p.h3= val.price
                    .index_intro__content
                        .index_intro__top 
                            //- div(style="background-image:url("+ val.top_imag +")")
                            img.lazy(data-src=val.top_imag)
                            //- img(src=val.top_imag)
                        .index_intro__side2
                            //- div(style="background-image:url("+ val.sub_img +")")
                            img.lazy(data-src=val.sub_img[0])
                            //- img(src=val.sub_img[0])
                        .index_intro__side1
                            each item in val.content
                                .index_intro__side1_sec
                                    .index_intro__side1_sec__title= item.title
                                    .index_intro__side1_sec__sub= item.sub
                            -let index_intro_blank_btn = {title:'選購趣',el:'index_intro__side1',class:'sm white',href:'index.html#index_product'}
                            +btn_blank(index_intro_blank_btn)

        //product
        .index_products
            -let index_products_hr = {el:'index_products',title:'熱門推薦',link:'product.html'}
            +block_hr(index_products_hr)
            .index_products__swiper
                .index_products__swiper_navigation
                    .index_products__swiper_prev
                        include ../icon/arrow_left.pug
                    .index_products__swiper_next
                        include ../icon/arrow_right.pug
                .swiper-container.index_products__swiper_container
                    .swiper-wrapper
                        -let index_products__swiper = []
                        -index_products__swiper.push({el:'products_item',title:'法式手工餅乾禮盒',price:6458,img:'https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511185334452.jpg',other:false})
                        -index_products__swiper.push({el:'products_item',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511185334452.jpg',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
                        -index_products__swiper.push({el:'products_item',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511185334452.jpg',other:false})
                        -index_products__swiper.push({el:'products_item',title:'豐饌經典御禮(11入)',price:6458,img:'https://fengzhuan.inspire-dt.com/public/uploads/ori/products/2021/05/20210511185334452.jpg',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
                            each val in index_products__swiper
                                .swiper-slide.index_products__swiper_slide
                                    +product_card2(val)

        //news
        .index_news
            -let index_news_hr = {el:'index_news',title:'最新消息',link:'news.html'}
            +block_hr(index_news_hr)
            -let index_news = []
            -index_news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
            -index_news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
            -index_news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
            -index_news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
            +news_list(index_news)






