extends ../layout/default.pug


block view
    .log.login 
        .child
            .head
                -let login = {el:'login',titles:[{title:'會員登入',sub:'LOG IN',link:'login.html'},{title:'會員註冊',sub:'SIGN UP',link:'signup.html'}],double:true}
                +sec_title(login)
            //- .login_shopping-mb 移動至登入表單上方 (20210908小丘)
            .login_shopping-mb
                .login_shopping-mb__title 首次購物 不需註冊 
                .login_shopping-mb__sub 您可將喜愛的商品放入購物車完成訂購步驟點下快速結帳, 完成訂購步驟, 系統將自動將您升級成為會員, 輕鬆快速的線上購物體驗！ 
                a(href="product.html").btn.btn-primary.login_shopping-mb__btn 立即購物
            form(action="").login_form.form
                -let login_form = []
                -login_form.push({layout:12 ,id:'account',name:'account',label:'會員帳號 ( 您的手機號碼 )',type:'account',required:true,placeholder:''})
                -login_form.push({layout:12 ,id:'password',name:'password',label:'會員密碼',type:'password',required:true,placeholder:''})
                +setup_form(login_form,'row')
                .form_submit.login_form__submit 
                    -let y = {title:'我要登入',el:'login',class:'',href:"account",type:'submit'}
                    +btn_blank(y)

                    a(href="pwd-reset.html") 忘記密碼 
                .login_form__other 
                    a(href="").btn.btn-primary Facebook 登入
                    a(href="").btn.btn-primary Line 登入
        .child
            .login_right.child_bg
                div(style="background-image:url("+ image_path +"log-bgc.png);")
                .login_shopping 
                    .login_shopping__title 首次購物 不需註冊 
                    .login_shopping__sub 您可將喜愛的商品放入購物車完成訂購步驟點下快速結帳, 完成訂購步驟, 系統將自動將您升級成為會員, 輕鬆快速的線上購物體驗！ 
                    a(href="product.html").btn.btn-primary.login_shopping__btn 立即購物
            .back.backToprev
                .header_btn
                    li
                    li