extends ../layout/default.pug


block view
    .news_article
        .news_head
            -let news_head_breadcrumb = []
            -news_head_breadcrumb.push({el:'news_head',title:'最新消息',link:'news.html'})
            -news_head_breadcrumb.push({el:'news_head',title:'「2020~2021第12屆臺中市十大伴手禮」網路票選開跑囉 11/24-12/4　網路票選',link:'news_article.html'})
            +breadcrumb(news_head_breadcrumb)
        .news_article__body
            .news_article__head
                .news_article__title 「2020~2021第12屆臺中市十大伴手禮」網路票選開跑囉 11/24-12/4　網路票選
                .news_article__date 2020.11.21
            .news_article__container
                .news_article__content
                    .news_article__content_image
                        img(src='../../assets/126549249_2131799630283329_8734546848220072023_o.jpg' alt="")
                    .news_article__content_text 
                        | 「2020~2021第12屆臺中市十大伴手禮」網路票選開跑囉，11/24-12/4　網路票選
                        | 請大力支持 
                        a(href="#").news_article-tag #堅果蜜蕾酥 
                        | 成為 
                        a(href="#").news_article-tag #台中十大伴手禮
                        | ，火速手刀衝刺前往
                        br
                        br
                        a(href="#").news_article-link 👉 https://www.surveycake.com/s/GBMKd 
                        br
                        | 堅果蜜蕾酥的製程十分繁雜，製作前挑選個頭飽滿圓潤的堅果，餅皮在製作上需要重複進入凍庫、
                        | 壓製，而拌炒過程也不容小覷，選用 
                        a(href="#").news_article-tag #太平頭汴坑百花蜜 
                        | 拌炒，為了食用時的口感必須小心填入
                        | 餡料，再進行細心烤製，全程純手工，每一個步驟都依靠著師傅的經驗，才完成細緻美味的堅果蜜
                        | 蕾酥，不僅是師傅的技術，更是因為有了許多饕客的支持，才能夠成就今日的豐饌！

            .news_article-social_black
                .news_article-social_black__title 分享這篇文章吧
                +social_logo('news_article')

            a(href="news.html").news_article__back.btn.btn-white 返回列表
