extends ../layout/default.pug


block view
    .news
        .news_head
            -let news_head_breadcrumb = []
            -news_head_breadcrumb.push({el:'news_head',title:'最新消息',link:'news.html'})
            +breadcrumb(news_head_breadcrumb)
        -let news_title = {el:'news',title:'最新消息',sub:'NEWS',double:false}
        +sec_title(news_title)
        -let news = []
        -news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
        -news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
        -news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
        -news.push({el:'news',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'})
        +news_list(news)
