extends ../layout/default.pug


block view
    .order.order_detail
        .child
            .head
                -let login = {el:'order_detail',titles:[{title:'個人資料',sub:'ACCOUNT',link:'account.html'},{title:'訂單查詢',sub:'ORDER TRACKER',link:'order.html'}],double:true}
                +sec_title(login)
            .tracker
                .tracker_content__list
                    .tracker_content__item
                        .tracker_content__title
                            -let c2 = {el:'cart',title:'訂購資訊'}
                            +block_hr2(c2)
                        .tracker_order__info
                            div
                                -let v = []
                                -v.push({
                                -    layout:31,
                                -    list:[
                                -       {title:'訂單編號',sub:'AA1060002'},
                                -       {title:'訂購日期',sub:'2021.10.05'},
                                -       {title:'訂單狀態',sub:'宅配中'},
                                -       {title:'付款方式',sub:'信用卡'},
                                -    ],
                                -    btn:false
                                -})
                                //- -v.push({
                                //- -    layout:11,
                                //- -    title:'付款方式',
                                //- -    sub:'信用卡',
                                //- -    btn:false,
                                //- -    id:'pay',
                                //- -    required:true,
                                //- -    disabled:true,
                                //- -    type:'span'
                                //- -})
                                -v.push({
                                -    layout:31,
                                -    list:[
                                -       {title:'取貨方式',sub:'自取'},
                                -       {title:'取貨門市',sub:'台中市西區精誠路386號'},
                                -       {title:'取貨時間',sub:'2021.04.01  12:00 A.M.'},
                                -    ],
                                -    btn:false
                                -})
                                +info_list(v)
                            div
                                .tracker_content__title
                                    -let c23 = {el:'cart_order__info',title:'訂購人資訊'}
                                    +block_hr2(c23)
                                -let v2 = []
                                -v2.push({
                                -    layout:11,
                                -    title:'姓名',
                                -    sub:'shunshun',
                                -    btn:false,
                                -    id:'name',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v2.push({
                                -    layout:11,
                                -    title:'電話',
                                -    sub:'0903999999',
                                -    btn:false,
                                -    id:'tel',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v2.push({
                                -    layout:11,
                                -    title:'E-Mail',
                                -    sub:'asdasd@gmail.com',
                                -    btn:false,
                                -    id:'e-mail',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v2.push({
                                -    layout:11,
                                -    title:'地址',
                                -    sub:'xxxxxxxxxxxxxxxxx',
                                -    btn:false,
                                -    id:'address',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v2.push({
                                -    layout:11,
                                -    title:'備註',
                                -    sub:'xxxxxxxxxxxxxx',
                                -    btn:false,
                                -    id:'remark',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                +info_list(v2)
                            div
                                .tracker_content__title
                                    -let c24 = {el:'cart_order__info',title:'收件人資訊'}
                                    +block_hr2(c24)
                                -let v3 = []
                                -v3.push({
                                -    layout:11,
                                -    title:'姓名',
                                -    sub:'shunshun',
                                -    btn:false,
                                -    id:'name',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v3.push({
                                -    layout:11,
                                -    title:'電話',
                                -    sub:'0903999999',
                                -    btn:false,
                                -    id:'tel',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v3.push({
                                -    layout:11,
                                -    title:'E-Mail',
                                -    sub:'asdasd@gmail.com',
                                -    btn:false,
                                -    id:'e-mail',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v3.push({
                                -    layout:11,
                                -    title:'地址',
                                -    sub:'xxxxxxxxxxxxxxxxx',
                                -    btn:false,
                                -    id:'address',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                -v3.push({
                                -    layout:11,
                                -    title:'備註',
                                -    sub:'xxxxxxxxxxxxxx',
                                -    btn:false,
                                -    id:'remark',
                                -    required:true,
                                -    disabled:true,
                                -    type:'span'
                                -})
                                +info_list(v3)
                    .tracker_content__item.tracker_order
                        .tracker_content__title
                            -let c3 = {el:'tracker',title:'ORDER LIST'}
                            +block_hr2(c3)
                        .tracker_order__list
                            - let k = {el:'tracker_order',checked:true,list:[
                            -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '1盒' ,o_price: '1388' ,qty: '1' ,s_price: '1388', },
                            -    {image: '20200723130357529295.jpg' ,name: '豐饌皇家御禮' ,spec: '1盒' ,o_price: '1388' ,qty: '1' ,s_price: '1388', },
                            -]}
                            +cart_card2(k)
                .tracker_details
                    li
                        span 小計：
                        span $ 2,776
                    li
                        span 折價：
                        span - $ 100
                    li
                        span 折價碼：
                        span xxxxxxxxxxxx
                    li
                        span 總計：
                        span NT$ 2,676
                .tracker_btn 
                    a(href="order.html").btn.btn-primary 返回列表
        .child
            .account_right.child_bg
                div(style="background-image:url("+ image_path +"log-bgc.png);")
                a(href="cart.html").child_bg__btn.btn
                    span 立即購物
                    include ../icon/arrow_half.pug
            .back.backToprev
                .header_btn
                    li
                    li
