extends ../layout/default.pug


block view
    .order
        .child
            .head
                -let login = {el:'order',titles:[{title:'個人資料',sub:'ACCOUNT',link:'account.html'},{title:'訂單查詢',sub:'ORDER TRACKER',link:'order.html'}],double:true}
                +sec_title(login)
            ul.order_table
                .order_table__head
                    -let order_table = [{title:'訂購日期',sub:'2021.10.05'},{title:'訂單編號',sub:'AA1060002'},{title:'付款方式',sub:'信用卡'},{title:'金額',sub:'$ 10,000'},{title:'訂單狀態',sub:'宅配中'},{title:'訂單瀏覽',sub:''}]
                    each val in order_table
                        li.order_table__head_item= val.title
                .order_table__list
                    -for(let i = 0;i<=4;i++){
                        li.order_table__item
                            each item,idx in order_table
                                if idx == order_table.length - 1
                                    a(href="order_detail.html") 
                                        include ../icon/detail.pug
                                else
                                    div 
                                        span= item.title
                                        span= item.sub
                    -}
                .order_table__pagination
                    a(href="#").order_table__pagination_prev.none
                        include ../icon/arrow_left.pug
                    .order_table__pagination_list
                        span 
                            a(href="#")  1
                        span 
                            a(href="#").active  2
                        span 
                            a(href="#")  3
                    a(href="").order_table__pagination_next
                        include ../icon/arrow_right.pug

        .child
            .account_right.child_bg
                div(style="background-image:url("+ image_path +"log-bgc.png);")
                a(href="cart.html").child_bg__btn.btn
                    span 立即購物
                    include ../icon/arrow_half.pug
            .back.backToprev
                .header_btn
                    li
                    li
