extends ../layout/default.pug


block view
    .product 
        .products_head 
            -let products_head = {el:'products',title:'豐饌商城',sub:'MALL',double:false}
            +sec_title(products_head)

            -let products_dropdown = []
            -products_dropdown.push({el:'products',title:'最熱銷',sub:'',list:['蜜蕾酥']})
            -products_dropdown.push({el:'products',title:'戀の鳳梨季',sub:'幸福感麵包甜點限定草莓季',list:['蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥']})
            +products_dropdown(products_dropdown)

            -let products_head__breadcrumb = []
            -products_head__breadcrumb.push({el:'products_head',title:'豐饌商城',link:'products.html'})
            -products_head__breadcrumb.push({el:'products_head',title:'最熱銷',link:'products.html'})
            -products_head__breadcrumb.push({el:'products_head',title:'豐饌經典御禮',link:'#'})
            +breadcrumb(products_head__breadcrumb)


        .product_content
            //top
            .product_content__top
                //left
                .product_content__top_left
                    -let product_content = {el:'product_content__top',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:false}
                    +product_card_image(product_content)
                //right
                form(action="").product_content__top_right
                    .product_content__top_right__title 豐饌經典御禮(11入)
                    .product_content__top_right__sub 
                        | #雲豆松子蛋黃酥，圓潤的金黃色酥皮，天然紅土醃製鴨蛋黃
                        | ，甜軟雲豆泥餡內散發著松子香。#白鳳豆梅紫酥
                        | 特選水里Ｑ梅，微酸微甜，一咬開香酥表層，酸甜交織，立即佔領你的味蕾。
                    .product_content__top_right__radio
                        -let product_content_radio = []
                        -product_content_radio.push({layout:11,id:'favor',name:"spec_id",label:'',type:'radio',required:true,options:[{text:'雲豆松子蛋黃酥',value:"33"},{text:'白鳳豆梅子(奶素)',value:"21"},{text:'綜合口味(蛋黃6/梅子6)',value:"43"}]})
                        +setup_form(product_content_radio,'row')
                    .product_content__top_right__add
                        +spin('product','product_content__top_right__add',1)

                        -let product_content__top_right__add_link = {el:'product_content__top_right__add',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:false}
                        +product_link(product_content__top_right__add_link)

            //swiper
            .product_content__swiper
                .product_content__swiper_navigation
                    .product_content__swiper_prev
                        include ../icon/arrow_half_left.pug
                    .product_content__swiper_next
                        p swiper
                        include ../icon/arrow_half_right.pug
                .swiper-container.product_content__swiper_container
                    .swiper-wrapper 
                        -let product_content__swiper = ['20200723130357529295.jpg','20200723130420859587.jpg','69316461_2613323955398737_634390532457496576_n.jpg','69316461_2613323955398737_634390532457496576_n.jpg']
                        each val in product_content__swiper
                            .swiper-slide.product_content__swiper_slide
                                div(style="background-image: url("+ image_path + val +")")


            //note
            .product_content__note
                .product_content__note_pagination
                    //- .product_content__note_title
                    //-     include ../icon/bag.pug
                    //-     p 產品須知
                    //- .product_content__note_title
                    //-     include ../icon/bag.pug
                    //-     p 退換貨須知
                ul.product_content__note_list.swiper-container
                    .swiper-wrapper 
                        .swiper-slide.product_content__note_list__slide
                            li.product_content__note_item
                                | ⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。
                                br
                                | ※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。
                            li.product_content__note_item ⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。
                            li.product_content__note_item ⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。
                            li.product_content__note_item ⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。
                            li.product_content__note_item ⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。
                        .swiper-slide.product_content__note_list__slide
                            li.product_content__note_item
                                | ⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。
                                br
                                | ※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。
                            li.product_content__note_item ⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。
                            li.product_content__note_item ⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。
                            li.product_content__note_item ⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。
                            li.product_content__note_item ⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。
                            li.product_content__note_item
                                | ⦿ 此商品限門店取貨，並限定周五六日出貨。商品採新鮮製作、當日寄供貨，還請訂購後耐心等候。
                                br
                                | ※貼心提醒：到店取貨不適用當天下訂，當天取貨，如有需求請致電各門市詢問，敬請配合，謝謝。
                            li.product_content__note_item ⦿ 請注意：例假日及周日不出貨，訂單將於上班日後依照訂單先後順序處理。
                            li.product_content__note_item ⦿ 提醒您：黑貓宅急便週日無收送件之服務，敬請見諒。
                            li.product_content__note_item ⦿ 若在天氣狀況不佳及交通道路中斷等配送困難的情況下，送達時間有可能變動。
                            li.product_content__note_item ⦿ 如因節慶關係訂單增加，則出貨時間將依據最新消息之公告說明為準。


            //other
            .product_content__other
                -let product_content__other = {el:'product_content__other',title:'相關商品推薦',link:'product.html'}
                +block_hr(product_content__other)
                .product_content__other_swiper
                    .swiper-container.product_content__other_swiper__container
                        .swiper-wrapper
                            -let product_content__other_swiper = []
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:true})
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'法式手工餅乾禮盒',price:6458,img:'20200723132813537583.jpg',other:true})
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'39393999_2018243338240138_3957645258971414528_o.jpg',other:true})
                            -product_content__other_swiper.push({el:'index_product__swiper',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'39393999_2018243338240138_3957645258971414528_o.jpg',other:true})
                            each val in product_content__other_swiper
                                .swiper-slide.product_content__other_swiper__slide
                                    +product_card(val)






