extends ../layout/default.pug


block view
    .products
        -let product_dropdown = []
        -product_dropdown.push({el:'products',title:'最熱銷',sub:'',list:['蜜蕾酥']})
        -product_dropdown.push({el:'products',title:'戀の鳳梨季',sub:'幸福感麵包甜點限定草莓季',list:['蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥','蜜蕾酥']})
        .products_head 
            -let products_head = {el:'products',title:'豐饌商城',sub:'MALL',double:false}
            +sec_title(products_head)

            +products_dropdown(product_dropdown,'products')

            -let product_head_breadcrumb = []
            -product_head_breadcrumb.push({el:'products_head',title:'豐饌商城',link:'products.html'})
            -product_head_breadcrumb.push({el:'products_head',title:'最熱銷',link:'#'})
            +breadcrumb(product_head_breadcrumb)

        .products_dropdown-mb
            .products_dropdown-mb_title 最熱銷
            .products_dropdown-mb_select
                each val , idx in product_dropdown
                    if val.list.length > 0
                        .products_dropdown-mb_select__group
                            li= val.title
                            ul
                                each item , index in val.list
                                    if idx == 0
                                        li(data-index=`${idx}${index}`).active
                                            a(href="products.html")= item
                                    else 
                                        li(data-index=`${idx}${index}`)
                                            a(href="products.html")= item
                    else
                        if idx == 0
                            li(data-index=idx).active
                                a(href="products.html")= val.title
                        else 
                            li(data-index=idx)
                                a(href="products.html")= val.title

        .products_list
            -let products_list = []
            -products_list.push({el:'products_item',title:'豐饌經典御禮(11入)',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
            -products_list.push({el:'products_item',title:'法式手工餅乾禮盒',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false})
            -products_list.push({el:'products_item',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
            -products_list.push({el:'products_item',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false})
            -products_list.push({el:'products_item',title:'法式手工餅乾禮盒',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
            -products_list.push({el:'products_item',title:'豐饌經典御禮(11入)',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false})
            -products_list.push({el:'products_item',title:'豐饌家傳典藏 干貝XO醬(2入)',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
            -products_list.push({el:'products_item',title:'法式手工餅乾禮盒',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false})
            -products_list.push({el:'products_item',title:'豐饌經典御禮(11入)',price:6458,img:'https://fengzhuan.com.tw/public/uploads/img/products/500x500/2021/07/20210722155804332.JPG',other:false,option:['雲豆松子蛋黃酥','白鳳豆梅子(奶素)','綜合口味(蛋黃6/梅子6)']})
            each val in products_list
                .products_item
                    +product_card(val)
