extends ../layout/default.pug


block view
    .log.pwd-reset 
        .child
            .head
                -let login = {el:'pwd-reset',titles:[{title:'忘記密碼',sub:'FORGET PASSWORD',link:''}],double:true}
                +sec_title(login)
            form(action="").pwd-reset_form.form
                -let login_form = []
                -login_form.push({layout:12 ,id:'captcha',name:'code',label:'手機驗證碼',type:'text',required:true,placeholder:'',disabled:true})
                .form-group.row
                    .col-12.col.wrap
                        label(for="account").form-label
                            span 會員帳號 ( 您的手機號碼 )
                            span.dot
                        .input-group
                            input(type="tel" name="cellphone" required)#account.form-control
                            .input-group-append 
                                button(type="button")#sms-send.btn.btn-primary 取得驗證碼
                +setup_form(login_form,'row')
                .form_submit.pwd-reset_form__submit 
                    -let y = {title:'索取密碼',el:'pwd-reset',class:'',href:"account",type:'submit'}
                    +btn_blank(y)

                    a(href="login.html") 會員登入
        .child
            .log_right.child_bg
                div(style="background-image:url("+ image_path +"log-bgc.png);")
            .back.backToprev
                .header_btn
                    li
                    li