extends ../layout/default.pug


block view
    .log.signup
        .child
            .head
                -let login = {el:'signup',titles:[{title:'會員登入',sub:'LOG IN',link:'login.html'},{title:'會員註冊',sub:'SIGN UP',link:'signup.html'}],double:true}
                +sec_title(login)
            form(action="").login_form.form
                -let signup_form = []
                -signup_form.push(
                -   {layout:21 ,
                -       child:[ 
                -           {layout:21 ,name:'name',id:'name',label:'姓名',type:'text',required:true,placeholder:''},
                -           {layout:21,name:'account',id:'account',label:'會員帳號 ( 您的手機號碼 )',type:'account',required:true,placeholder:''}
                -       ]
                -   })
                -signup_form.push(
                -   {layout:21 ,
                -       child:[ 
                -           {layout:21 ,name:'password',id:'password',label:'會員密碼',type:'password',required:true,placeholder:''},
                -           {layout:21,name:'comfirm_password',id:'comfirm_password',label:'確認密碼',type:'password',required:true,placeholder:''}
                -       ]
                -   })
                +setup_form(signup_form,'row')
                .form_submit.signup_form__submit 
                    -let y = {title:'我要註冊',el:'log',class:'',href:"#",type:'submit'}
                    +btn_blank(y)
        .child
            .log_right.child_bg
                div(style="background-image:url("+ image_path +"log-bgc.png);")
                a(href="cart.html").child_bg__btn.btn.signup_right__btn
                    span 立即購物
                    include ../icon/arrow_half.pug
            .back.backToprev.signup_backToprev
                .header_btn
                    li
                    li