extends ../layout/default.pug


block view
    .ui-test(style="padding: 180px 5.729vw;")
        -let a = {el:'ui-test',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:false}
        +product_card(a)

        .mb-xl

        -let a1 = {el:'ui-test',title:'豐饌經典御禮(11入)',price:6458,img:'20200723130437658957.jpg',other:true}
        +product_card(a1)

        .mb-xl

        -let b = {el:'ui-test',title:'Happy牛Year 2021喜迎金牛限定質感與心意俱備的御禮 #春節禮盒產量有限越早訂購越安心點更多看優惠',date:'2020.11.25',img:'126549249_2131799630283329_8734546848220072023_o.jpg'}
        +news_card(b)

        .mb-xl

        -let c = {el:'ui-test',title:'最新消息',link:'news.html'}
        +block_hr(c)

        .mb-xl

        -let c2 = {el:'ui-test',title:'ORDER INFO'}
        +block_hr2(c2)

        .mb-xl
        -let d = {el:'ui-test',title:'豐饌商城',sub:'MALL',double:false}
        +sec_title(d)

        .mb-xl
        -let e = {el:'ui-test',title:'購物車',sub:'SHOPPING CART',double:false,full:true}
        +sec_title(e)

        .mb-xl
        -let f = {el:'ui-test',titles:[{title:'會員登入',sub:'LOG IN',link:'login.html'},{title:'會員註冊',sub:'SIGN UP',link:'signup.html'}],double:true}
        +sec_title(f)

        .mb-xl
        -let contact_form = []
        -contact_form.push({layout:11,id:'pay',label:'付費方式',type:'radio',required:true,options:['信用卡']})

        -contact_form.push(
        -   {layout:21 ,
        -       child:[ 
        -           {layout:21 ,id:'name',label:'姓名',type:'text',required:true,placeholder:''},
        -           {layout:21,id:'phone',label:'電話',type:'tel',required:true,placeholder:''}
        -       ]
        -   })
        -contact_form.push(
        -   {layout:'mix' ,
        -       child:[
        -           {layout:21,id:'delivery',label:'取貨方式',type:'radio',required:true,options:['自取','宅配(運費130元，滿1500元免運費)']},
        -           {
        -                layout:21,type:'mix',
        -                child: [
        -                          {layout:21 ,id:'address',label:'取貨地址',type:'mix',required:false,placeholder:'',val:'豐饌門市 台中市西區精誠路386號 (向上路vs向上南路中間)'},
        -                          {layout:21 ,id:'time',label:'取貨時間',type:'mix',required:true,placeholder:'',des:'每天出貨量以2000盒為限，以訂購時間為優先順序，若無法預期在當日抵達，會由門市另行通知調整到貨時間。'}
        -                ]
        -           }
        -       ]
        -   })
        -contact_form.push({layout:'1in3and12',id:'address',label:'地址',required:true, child:
        -   [  
        -       //0
        -      {layout:31,type:'mutli_seclect_1', 
        -          child:[
        -                  {layout:31,type:'select',required:true,options:['縣市','台北市','台南市']}, 
        -                  {layout:31,type:'select',required:true,options:['鄉鎮市區','台北市','台南市']},  
        -                  {layout:31,type:'text',id:'Zcode',required:true,placeholder:'郵遞區號'}
        -          ]  
        -      },
        -       //1  
        -      {layout:12,type:'text',id:'address_other',label:null,required:true,placeholder:'詳細地址'}
        -   ]})
        -contact_form.push({layout:21 ,child:[ {layout:21 ,id:'email',label:'E-Mail',type:'e-mail',required:true,placeholder:''},{layout:21,id:'uniformNumbers',label:'統一編號',type:'test',required:true,placeholder:''}]})
        -contact_form.push({layout:12 ,id:'comments',label:'意見',type:'textarea',required:true,rows:10,placeholder:''})
        form(action="").form 
            +setup_form(contact_form,'row')

        .mb-xl
        - let j = { img:'20200723130357529295.jpg', frist:['編號:AA1060002','豐饌皇家御禮','規格:1盒','$ 1388元'] ,second:[ {title:'數量:',num:2} ,{title:'單價 :',sub:'NT 1388元'}, {title:'小計 : ',sub:' NT 4164元'} ] }
        +cart_card(j)


        .mb-xl
        button.btn.btn-primary 前往結賬

        .mb-xl
        -let y = {title:'我要登入',el:'index',class:'',href:"#"}
        +btn_blank(y)

        .mb-xl
        -let x = {title:'選購趣',el:'index',class:'sm white',href:"#"}
        +btn_blank(x)

        .mb-xl
        -let v = []
        -v.push({
        -    layout:11,
        -    title:'會員帳號',
        -    sub:'0903978918',
        -    btn:false,
        -    id:'account',
        -    required:true,
        -    disabled:true,
        -})
        -v.push({
        -    layout:11,
        -    title:'會員密碼',
        -    sub:'●●●●●●●●●',
        -    btn:true,
        -    btn_text:'密碼',
        -    id:'pwd',
        -    required:true,
        -    disabled:true,
        -})
        -v.push({
        -    layout:12,
        -    list:[
        -       {title:'姓名',sub:'shunshun'},
        -       {title:'手機號碼',sub:'0903978918'}
        -    ],
        -    btn:false
        -})
        -v.push({
        -    layout:31,
        -    list:[
        -       {title:'取貨方式',sub:'自取'},
        -       {title:'取貨門市',sub:'台中市西區精誠路386號'},
        -       {title:'取貨時間',sub:'2021.04.01  12:00 A.M.'},
        -    ],
        -    btn:false
        -})
        -v.push({
        -    layout:13,
        -    title:'地址',
        -    list:[
        -       {id:'city',required:true,options:['台北市','台中市']},
        -       {id:'area',required:true,options:['北區','北屯區']},
        -       {id:'road',required:true,name:'road',val:'天津路307號',disabled:true},
        -    ],
        -    btn:false
        -})
        +info_list(v)



        .mb-xl
        +step({el:'ui-test',list:[{title:'商品規格',link:'cart.html'},{title:'付款&配送',link:'cart2.html'},{title:'訂單確認',link:'cart3.html'}]})