@keyframes coverUp {
    0% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 0.045, 1);
    }

    50% {
        transform-origin: 50% 100%;
        transform: scale3d(1, 1, 1);
    }

    51% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 1, 1);
    }

    100% {
        transform-origin: 50% 0%;
        transform: scale3d(1, 0.045, 1);
    }
}

@keyframes MoveUpInitial {
    to {
        transform: translate3d(0, -105%, 0);
    }
}

@keyframes MoveUpEnd {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 0.7s linear forwards;
}
.fadeIn {
    animation: fadeIn 1s linear 0.5s forwards;
}

@keyframes scroll_down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

@keyframes line_zip_y {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes line_zip_x {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

@keyframes img_in_t {
    0% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes img_in_t_r {
    0% {
        transform: translateX(50vw) scaleX(-1);
    }
    100% {
        transform: translateX(0) scaleX(-1);
    }
}

@keyframes img_in_o {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes img_grow1 {
    0% {
        background-position: -11.3542vw center;
    }
    100% {
        background-position: center;
    }
}
@keyframes img_grow2 {
    0% {
        background-position: -20.8333vw 19.4270833vw;
    }
    100% {
        background-position: center;
    }
}

@keyframes index_swiper_scale {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes loading_page_open {
    0% {
        // transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        opacity: 1;
    }
    100% {
        // transform: rotateX(-100deg) rotateY(0deg) rotateZ(0deg);
        opacity: 0;
    }
}
@keyframes loading_page_open_reverse {
    0% {
        // transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        opacity: 1;
    }
    100% {
        // transform: rotateX(-100deg) rotateY(0deg) rotateZ(0deg);
        opacity: 0;
    }
}

@keyframes loading_decoration_fadeOut {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        filter: blur(0);
    }
    100% {
        transform: translate3d(-120%, -20%, 0) scale(1.5);
        filter: blur(4px);
    }
}

@keyframes loading_progress_fadeOut {
    to {
        stroke-dashoffset: 1600;
    }
}
@keyframes loading_progress_fadeOut2 {
    to {
        transform: translateY(110%);
    }
}

@keyframes header_fadeIn {
    from {
        top: 120%;
        opacity: 0;
    }
    to {
        top: 0 !important;
        opacity: 1 !important;
    }
}

// 20210925 小丘新增首頁loading頁面動畫
@mixin loadingPageAnime() {
    animation: loadingPageAnime $loadPageAnimeFood forwards cubic-bezier(.31,.32,.61,.86);
    @keyframes loadingPageAnime {
        to {
            transform: translate(0, 0);
        }
    }
}

@keyframes loadingPageLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loadingPageText {
    from {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes loadingPageMoveOut {
    to {
        // transform: translate(-100%, 0);
        opacity: 0;
    }
}

// 20210925 小丘新增首頁loading後 header跟scroll出現

@keyframes headerIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes scrollIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}


