.footer {
    position: relative;
    width: 88.54166666666667vw;
    height: 16.666666666666668vw;
    margin: 200px auto 0;
    z-index: 4;
    @include breakpoint(md) {
        width: 100%;
        height: 138.88888888888889vw;
    }
    &_bg {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../assets/footer.png");
        @include breakpoint(md) {
            background-image: url("../assets/footer-mb.png");
        }
    }
    &_top,
    &_bottom {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include breakpoint(md) {
        }
    }
    &_top {
        top: map-get($map: $spacers, $key: md);
        display: flex;
        justify-content: center;
        @include breakpoint(md) {
            width: 100%;
        }
        &-link {
            font-size: map-get($map: $fonts, $key: h4);
            color: $white;
            margin: 0 map-get($map: $spacers, $key: 01);
        }
        @include breakpoint(md) {
        }
    }
    &_bottom {
        bottom: map-get($map: $spacers, $key: xs);
        width: 70%;
        display: flex;
        justify-content: space-between;
        @include breakpoint(md) {
            bottom: auto;
            top: 40%;
            flex-direction: column;
            width: 100%;
        }
        &-company {
            display: flex;
            @include breakpoint(md) {
                flex-direction: column;
                align-items: center;
                width: 100%;
            }
        }
        &-social_logo {
            position: initial !important;
            @include breakpoint(md) {
                display: flex;
                justify-content: center;
            }
        }
    }
    &_logo {
        max-width: 86px;
        margin-right: map-get($map: $spacers, $key: 03);
        img {
            width: 100%;
            height: auto;
        }
        &-group {
            display: flex;
            @include breakpoint(md) {
                margin-bottom: 31vw;
            }
        }
        &-text {
            color: $white;
            text-align: center;
            filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
            margin-right: map-get($map: $spacers, $key: 03);
            & > div {
                text-indent: 0.2em;
            }
        }
        &-title {
            font-size: 50px;
            line-height: 1.1;
        }
        &-info {
            align-self: flex-end;
            margin-bottom: 10px;
            @include breakpoint(md) {
                position: absolute;
                bottom: -16vw;
                align-self: center;
            }
            p {
                color: $white;
                font-size: 10px;
                @include breakpoint(md) {
                    text-align: center;
                }
            }
        }
    }
    &.none {
        display: none;
        @include breakpoint(md) {
            display: flex;
        }
    }
}
