.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: $header-top;
    background-color: transparent;
    padding: $lace-top calc(#{$lace-side} + 50px) 0;
    z-index: 10;
    @include breakpoint(md) {
        height: $header-height-mb;
        padding: calc(#{$lace-top-mb} + #{map-get($map: $spacers, $key: 01)}) calc(#{$lace-side-mb} + 20px) 0;
        align-items: flex-start;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: $lace-top;
        height: 1px;
        width: 100%;
        background-color: $primary;
        @include breakpoint(md) {
            top: $lace-top-mb;
        }
    }
    &.animate {
        .header {
            &_logo,
            &_nav {
                animation: header_fadeIn 3s forwards $timing-function-sin-1 0.8s;
            }
        }
    }
    &_logo {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
        transform: translate(-0.8vw, 0);
        color: $white;
        @include breakpoint(md) {
            transform: translate(-0.8vw, -3.5vw);
        }
        img {
            width: 15%;
        }
        &__title {
            font-size: map-get($map: $fonts, $key: h2);
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
        &__sub {
            font-size: map-get($map: $fonts, $key: h4);
            @include breakpoint(md) {
                font-size: map-get($map: $fonts, $key: h5);
            }
        }
        &__head {
            margin-left: 0.5vw;
            & > div {
                font-weight: 100;
                color: darken($color: $white, $amount: 15);
            }
        }
    }
    &_nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        @include breakpoint(md) {
            height: auto;
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            @include breakpoint(md) {
                flex-direction: column;
            }
        }
        &__item {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 30px;
            height: 30px;
            margin-right: map-get($map: $spacers, $key: sm);
            cursor: pointer;
            @include breakpoint(md) {
                width: 25px;
                height: 25px;
                margin-right: 0;
                margin-bottom: map-get($map: $spacers, $key: 01);
            }
            &.active {
                &::after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-color: $thrid;
                    border-radius: 50%;
                    top: -3px;
                    right: -6px;
                }
            }
            &:last-child {
                margin-right: 0;
            }
            & > .icon {
                width: 100%;
                height: 100%;
            }
        }
    }
    &_btn {
        position: relative;
        width: 45px;
        height: 30px;
        cursor: pointer;
        z-index: 1000;
        transition: right 1s ease-in 0.6s;
        @include breakpoint(md) {
            order: -1;
            width: 25px;
            height: 18px;
            margin-bottom: map-get($map: $spacers, $key: 01);
        }
        &.white {
            li {
                &:first-child,
                &:nth-child(2) {
                    &::before,
                    &::after {
                        background-color: $white;
                    }
                }
            }
        }
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 10px;
            @include breakpoint(md) {
                height: 6px;
            }
            &:first-child,
            &:nth-child(2) {
                transition: all 0.6s ease-in-out;
                &::before,
                &::after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $white;
                    transition: all 0.6s ease-in-out 0.4s;
                }
                &::before {
                    transform: translateX(15px);
                    @include breakpoint(md) {
                        transform: translateX(5px);
                    }
                }
                &::after {
                }
            }
            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
            }
            &:nth-child(2) {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
        &:hover {
            &::before,
            &::after {
                @include breakpoint(md) {
                }
            }
        }
        &.active {
            right: 18px;
            top: -70%;
            @include breakpoint(md) {
                right: 11px;
                top: -38%;
            }
            li {
                height: 6px;
                @include breakpoint(md) {
                    height: 4px;
                }
                &:first-child {
                    transform: rotate(45deg) translate(-6%, -50%);
                    left: 50%;
                    top: 50%;
                }
                &:nth-child(2) {
                    transform: rotate(-45deg) translate(6%, -50%);
                    left: 50%;
                    top: 50%;
                    bottom: auto;
                    right: auto;
                }
                &::before {
                    transform: translateX(0px);
                }
            }
        }
        &::before,
        &::after {
            content: "";
            @include breakpoint(md) {
            }
        }
    }
    &_toggle {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: background-color 0.4s ease-out 0.2s, opacity 0.1s linear, visibility 0.1s linear;
        z-index: 999;
        &.active {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: $secondary, $alpha: 0.9);
            opacity: 1;
            visibility: visible;
            .header_toggle__list {
                opacity: 1;
            }
        }
        &__list {
            min-width: 20vw;
            display: flex;
            flex-direction: column;
            opacity: 0;
            transition: all 0.4s ease-in-out 0.4s;
        }
        &__item {
            position: relative;
            margin-bottom: map-get($map: $spacers, $key: xs);
            @include breakpoint(md) {
                margin-bottom: map-get($map: $spacers, $key: 01);
            }
        }
        &__title {
            color: $white;
            letter-spacing: 0.8em;
            &[data-bs-toggle="collapse"] {
                p {
                    &:first-child {
                        &::after {
                            padding-left: 20px;
                            @include breakpoint(md) {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
            &[data-bs-toggle="collapse"][aria-expanded="true"] {
                p {
                    &:first-child {
                        &::after {
                            content: "-";
                        }
                    }
                }
            }
            &[data-bs-toggle="collapse"][aria-expanded="false"] {
                p {
                    &:first-child {
                        &::after {
                            content: "+";
                        }
                    }
                }
            }

            p {
                &:first-child {
                    font-size: 36px;
                }
                &:last-child {
                    font-size: map-get($map: $fonts, $key: h5);
                }
            }
            @include breakpoint(md) {
                p {
                    &:first-child {
                        font-size: map-get($map: $fonts, $key: h3);
                    }
                    &:last-child {
                        font-size: map-get($map: $fonts, $key: h6);
                    }
                }
            }
        }
        &-social_logo {
            position: absolute;
            right: 20px;
            bottom: 30px;
            .btn {
                background-color: $secondary;
            }
        }
        &__collapse {
            background-color: transparent !important;
            padding-top: 2vw !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-bottom: 0 !important;
            @include breakpoint(md) {
                padding-top: 5vw !important;
            }
            a {
                position: relative;
                color: $white !important;
                font-size: map-get($map: $fonts, $key: h3);
                padding-bottom: 1rem !important;
                @include breakpoint(md) {
                    font-size: map-get($map: $fonts, $key: h4);
                }
            }
        }
    }
    &_sidebar {
        position: absolute;
        left: 0;
        top: 0;
        &__bgc {
            @include breakpoint(md) {
            }
        }
        &__body {
            @include breakpoint(md) {
            }
        }
        &__list {
            @include breakpoint(md) {
            }
        }
        &__item {
            @include breakpoint(md) {
            }
        }
    }
    &.none {
        display: none;
        @include breakpoint(md) {
            display: flex;
        }
        &::after {
            display: none;
            @include breakpoint(md) {
                display: block;
            }
        }
        .header_logo {
            display: none;
            @include breakpoint(md) {
                display: flex;
            }
        }
        .header_btn {
            display: none;
            @include breakpoint(md) {
                display: block;
            }
        }
        .header_nav {
            display: none;
            @include breakpoint(md) {
                display: flex;
            }
        }
        .header_sidebar {
            display: none;
            @include breakpoint(md) {
                display: block;
            }
        }
    }
}

body.is-open {
    height: 100vh;
    overflow: hidden;
    .header {
        &_btn {
            &::before {
                @include breakpoint(md) {
                }
            }
            &::after {
                @include breakpoint(md) {
                }
            }
        }
        &_sidebar {
            &__body {
            }
        }
    }
}
