%index_block_mb {
    margin-top: 180px;
    padding-left: $lace-side;
    padding-right: $lace-side;
    @include breakpoint(md) {
        padding-left: $lace-side-mb;
        padding-right: $lace-side-mb;
        margin-top: 120px;
    }
}
%block_mb {
    padding-top: 220px;
    padding-left: $lace-side;
    padding-right: $lace-side;
    @include breakpoint(md) {
        padding-left: $lace-side-mb;
        padding-right: $lace-side-mb;
        padding-top: $header-height-mb;
    }
}
%block_hr_top {
    position: relative;
    width: calc(100% - (#{$gap_1} * 2));
    margin: 0 auto;
    margin-top: map-get($map: $spacers, $key: lg);
    @include breakpoint(md) {
        margin-top: map-get($map: $spacers, $key: xs);
        width: 100%;
    }
}

%full_screen_layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
    min-height: -webkit-fill-available;
    @include breakpoint(md) {
        padding-top: 50vw;
        height: auto;
    }
    .child {
        position: relative;
        height: 100%;
        &:first-child {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background-color: $secondary;
            padding: 0 5.2083vw 5.3125vw 4.1666vw;
            overflow-y: scroll;
            overflow-x: hidden;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            }
            &::-webkit-scrollbar-thumb {
                background-color: $primary;
                outline: 0 transparent;
            }
            @include breakpoint(md) {
                width: 100% !important;
                height: auto;
                justify-content: flex-start;
                padding: 0 $lace-side-mb;
                overflow: visible;
            }
        }
        &:last-child {
            margin-left: auto;
            & > .back.backToprev {
                position: absolute;
                right: 60px;
                top: 40px;
                cursor: pointer;
                z-index: 20;
                .header_btn {
                    &.active {
                        right: 40% !important;
                        top: auto !important;
                    }
                }
            }
            @include breakpoint(md) {
                display: none;
            }
        }
        &_bg {
            position: relative;
            width: 100%;
            height: 100%;
            & > div {
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            &__btn {
                display: flex;
                align-items: center;
                width: auto;
                position: absolute;
                left: -50px;
                top: 50%;
                transform: translateY(-50%) rotate(90deg);
                padding: 20px;
                span {
                    padding-right: map-get($map: $spacers, $key: 01);
                    color: $secondary;
                    text-shadow: 0px 0px 1px rgba($color: darken($color: $primary, $amount: 20), $alpha: 0.7);
                }
                & > svg > path {
                    stroke: $secondary;
                }
            }
        }
    }
    .head {
        display: flex;
        margin-bottom: 60px;
        margin-top: 4vw;
    }
}
