@mixin breakpoint($point) {
    @if $point == xl {
        @media only screen and (max-width: 1440px) {
            @content;
        }
    } @else if $point == lg {
        @media only screen and (max-width: 992px) {
            @content;
        }
    } @else if $point == md {
        @media only screen and (max-width: 768px) {
            @content;
        }
    } @else if $point == sm {
        @media only screen and (max-width: 576px) {
            @content;
        }
    } @else if $point == xs {
        @media only screen and (max-width: 360px) {
            @content;
        }
    }
}
