@each $type, $color in $colors {
    .btn-#{$type} {
        background-color: $color !important;
        color: $white !important;
    }
    .btn-outline-#{$type} {
        background-color: transparent !important;
        border: 1px solid $color !important;
        color: $primary !important;
    }
}
