@each $type, $size in $spacers {
    .mt-#{$type} {
        margin-top: $size !important;
    }
    .mr-#{$type} {
        margin-right: $size !important;
    }
    .mb-#{$type} {
        margin-bottom: $size !important;
    }
    .ml-#{$type} {
        margin-left: $size !important;
    }
    .mx-#{$type} {
        margin-left: $size !important;
        margin-right: $size !important;
    }
    .my-#{$type} {
        margin-top: $size !important;
        margin-bottom: $size !important;
    }

    .pt-#{$type} {
        padding-top: $size !important;
    }
    .pr-#{$type} {
        padding-right: $size !important;
    }
    .pb-#{$type} {
        padding-bottom: $size !important;
    }
    .pr-#{$type} {
        padding-right: $size !important;
    }
    .px-#{$type} {
        padding-left: $size !important;
        padding-right: $size !important;
    }
    .py-#{$type} {
        padding-top: $size !important;
        padding-bottom: $size !important;
    }
}
