@each $type, $size in $fonts {
    #{$type},
    .#{$type} {
        font-size: $size !important;
        font-weight: 700;
        //line-height: ;
        @include breakpoint(md) {
            font-size: $size * $fonts-mb-time !important;
            //line-height: ;
        }
    }
}
