include ../mixin/mixin.pug
include ../variables.pug
block page_variables
doctype html
html(lang=locale)
    head
        include ../partials/head.pug
        block meta
        block styles
    body.body
        main(id="pagemain" class='main')
            block header
                include ./header.pug
            block loading
            block view
            block goTop 
                include ../components/goTop.pug
            include ../layout/footer.pug
        block blocks
        block scripts
