footer.footer
    .footer_bg
        .footer_top
            a(href="FQA.html").footer_top-link.test 購物常見問題
            a(href="FQA.html").footer_top-link 隱私權政策
        .footer_bottom
            .footer_bottom-company 
                a(href="index.html").footer_logo-group
                    .footer_logo 
                        img(src="../../assets/logo-white.png" alt="")
                    .footer_logo-text
                        .footer_logo-title 豐饌
                        .footer_logo-sub fengzhuan
                .footer_logo-info
                    p ©2019 FENGZHUAN All Rights Reserve.
                    p service@fengzhuan.com.tw
            +social_logo('footer_bottom')
