header.header
    a(href="index.html").header_logo
        //- .header_logo__title 豐饌
        //- .header_logo__sub= "fengzhuan".toUpperCase()
        img(src="../../assets/logo-white.png" alt="")
        .header_logo__head
            .header_logo__title 豐饌
            .header_logo__sub= "fengzhuan".toUpperCase()
    .header_nav
        .header_nav__list
            a(href="login.html").header_nav__item
                include ../icon/user.pug
            a(href="cart.html").header_nav__item.active
                include ../icon/cart.pug
            .header_btn
                li
                li
    .header_sidebar 
        .header_sidebar__bgc
        .header_sidebar__body
    .header_toggle
        .header_toggle__list
            .header_toggle__item
                a(href="index.html").header_toggle__title 
                    p 首頁
                    p ＴＯＰ

            // HEADER 新增部分
            .header_toggle__item
                a.header_toggle__title(data-bs-toggle="collapse" href="#collapseHeaderProduct" role="button" aria-expanded="false" aria-controls="collapseHeaderProduct") 
                    p 豐饌商城
                    p ＰＲＯＤＵＣＴ
                .collapse#collapseHeaderProduct
                    ul.header_toggle__collapse.card.card-body
                        li.header_toggle__collapse_item
                            a(href="products.html") xxxxxxx
                        li.header_toggle__collapse_item
                            a(href="products.html") xxxxxxx
                        li.header_toggle__collapse_item
                            a(href="products.html") xxxxxxx
                        li.header_toggle__collapse_item
                            a(href="products.html") xxxxxxx
            // HEADER 新增部分

            .header_toggle__item
                a(href="news.html").header_toggle__title 
                    p 最新消息
                    p ＮＥＷＳ

            .header_toggle__item
                a(href="account.html").header_toggle__title 
                    p 個人帳戶
                    p ＡＣＣＯＵＮＴ

            .header_toggle__item
                a(href="contact.html").header_toggle__title 
                    p 聯絡我們
                    p ＣＯＮＴＡＣＴ
        +social_logo('header_toggle')