:root {
}

$black: #222;
$white: #fff;
$primary: #c9ab81;
$secondary: #362538;
$thrid: #da5f22;
$body-bg: $white;

$colors: (
    black: $black,
    white: $white,
    primary: $primary,
    secondary: $secondary,
    thrid: $thrid,
);

$fonts: (
    h1: 36px,
    //
    h2: 21px,
    //
    h3: 20px,
    //
    h4: 17px,
    //
    h5: 14px,
    //
    h6: 12px,
    //
    n: 16px,
    text_sm: 10px,
    text_xs: 8px,
);

$fonts-mb-time: 1;

$spacer: 1rem;

$spacers: (
    //
    xl: 120px,
    //
    lg: 80px,
    //
    md: 50px,
    //
    sm: 40px,
    //
    xs: 30px,
    //
    01: 20px,
    //
    02: 15px,
    //
    03: 10px,
    //
    04: 5px,
    //
    05: 2px,
    0: 0px
);

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;500;600;700&display=swap");

$font-family-sans-serif: "Noto Serif TC", -apple-system, "微軟正黑體", BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

// $header-height: ;
// $header-height-mb: ;

$border-width: 1px;
$border-radius: 0.25rem;

$grid-gutter-width: 1.5rem;

$line-height: 1.75;

$letter-spacing: 0.2em;
$letter-spacing-1: 0;
$letter-spacing-2: 0;
$letter-spacing-3: 0;
$letter-spacing-4: 0;

$transition-func-1: ease-in;
$transition-func-2: ease-in;
$transition-func-3: ease-in;
$transition-func-4: ease-in;

$lace-top: 60px;
$lace-top-mb: 40px;
$lace-side: 5.729vw;
$lace-side-mb: 5.555vw;

$product-image-h: 20.83vw;

//extend

$gap_1: 5.2083vw; // 100px

//custom
$header-top: 160px;
$header-height-mb: 50vw;

$timing-function-rush-1: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$timing-function-circ-1: cubic-bezier(0.6, 0.04, 0.57, -0.1);
$timing-function-sin-1: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$timing-function-quad-1: cubic-bezier(0.77, 0, 0.175, 1);
$timing-during-1: 0.8s;
$timing-delay-1: 0.3s;
$timing-delay-2: cubic-bezier(0.19, 0.71, 0.78, 0.89);

$transition-base: all 0.2s ease-in-out;
$transition-fade: opacity 0.15s linear;
// scss-docs-start collapse-transition
$transition-collapse: height 0.35s ease;
// scss-docs-end collapse-transition
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-rounded: true;

$nav-tabs-link-active-bg: $body-bg;

// Cards

// scss-docs-start card-variables
$card-spacer-y: $spacer;
$card-spacer-x: $spacer;
$card-title-spacer-y: $spacer * 0.5;
$card-border-width: $border-width;
$card-border-radius: $border-radius;
$card-border-color: rgba($black, 0.125);
$card-inner-border-radius: subtract($card-border-radius, $card-border-width);
$card-cap-padding-y: $card-spacer-y * 0.5;
$card-cap-padding-x: $card-spacer-x;
$card-cap-bg: rgba($black, 0.03);
$card-cap-color: null;
$card-height: null;
$card-color: null;
$card-bg: $white;
$card-img-overlay-padding: $spacer;
$card-group-margin: $grid-gutter-width * 0.5;
// scss-docs-end card-variables


$loadPageAnimeFood: 2s;
$loadPageAnimeLogo: 2s;
// food + logo
$loadPageAnimeDelay01:4s; 
$loadPageAnimeText: 2s;
// Delay01 + Text
$loadPageAnimeDelay02:6s;

$loadPageAnimeFinish:8s;
$headerScrollShow:1s;
